model/xplangml/raumordnungsmodell/BP__Basisobjekte.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xplan="http://www.xplanung.de/xplangml/4/1" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Das Paket enthält die Klassen zur Modellierung eines BPlans (abgeleitet von XP_Plan) und eines BPlan-Bereichs (abgeleitet von XP_Bereich), sowie die Basisklassen für BPlan-Fachobjekte.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.xplanung.de/xplangml/4/1"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BP_Bereich" substitutionGroup=":XP_Bereich" type=":BP_BereichType">
    <annotation>
      <documentation>Diese Klasse modelliert einen Bereich eines Bebauungsplans, z.B. eine vertikale Ebene.</documentation>
    </annotation>
  </element>
  <complexType name="BP_BereichType">
    <complexContent>
      <extension base=":XP_BereichType">
        <sequence>
          <element minOccurs="0" name="versionBauNVODatum" type="date"/>
          <element minOccurs="0" name="versionBauNVOText" type="string">
            <annotation>
              <documentation>Textliche Spezifikation einer anderen Gesetzesgrundlage als der BauNVO. In diesem Fall muss das Attribut versionBauNVO den Wert 9999 haben.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="versionBauGBDatum" type="date">
            <annotation>
              <documentation>Datum der zugrunde liegenden Version des BauGB.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="versionBauGBText" type="string">
            <annotation>
              <documentation>Zugrunde liegende Version des BauGB.</documentation>
            </annotation>
          </element>
          <element name="gehoertZuPlan" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:BP_Plan</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:bereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rasterAenderung" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:BP_RasterplanAenderung</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="BP_Flaechenobjekt" substitutionGroup=":BP_Objekt" type=":BP_FlaechenobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Bebauungsplans mit flächenhaftem Raumbezug. Die von BP_Flaechenobjekt abgeleiteten Fachobjekte können sowohl als Flächenschlussobjekte als auch als Überlagerungsobjekte auftreten.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="BP_FlaechenobjektType">
    <complexContent>
      <extension base=":BP_ObjektType">
        <sequence>
          <element name="position" type=":XP_FlaechengeometriePropertyType">
            <annotation>
              <documentation>Flächenhafter Raumbezug des Objektes (Eine Einzelfläche oder eine Menge von Flächen, die sich nicht überlappen dürfen). .</documentation>
            </annotation>
          </element>
          <element name="flaechenschluss" type="boolean">
            <annotation>
              <documentation>Zeigt an, ob das Objekt als Flächenschlussobjekt oder Überlagerungsobjekt gebildet werden soll.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="BP_Flaechenschlussobjekt" substitutionGroup=":BP_Flaechenobjekt" type=":BP_FlaechenschlussobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Bebauungsplans mit flächenhaftem Raumbezug, die immer Flächenschlussobjekte sind.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="BP_FlaechenschlussobjektType">
    <complexContent>
      <extension base=":BP_FlaechenobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="BP_Geometrieobjekt" substitutionGroup=":BP_Objekt" type=":BP_GeometrieobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Bebauungsplans mit variablem Raumbezug.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="BP_GeometrieobjektType">
    <complexContent>
      <extension base=":BP_ObjektType">
        <sequence>
          <element name="position" type=":XP_VariableGeometriePropertyType">
            <annotation>
              <documentation>Raumbezug - Entweder punktförmig, linienförmig oder flächenhaft, gemischte Geometrie ist nicht zugelassen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="flaechenschluss" type="boolean">
            <annotation>
              <documentation>Zeigt bei flächenhaftem Raumbezug an, ob das Objekt als Flächenschlussobjekt oder Überlagerungsobjekt gebildet werden soll.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="BP_Linienobjekt" substitutionGroup=":BP_Objekt" type=":BP_LinienobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Bebauungsplans mit linienförmigem Raumbezug (Eine einzelne zusammenhängende Kurve, die aus Linienstücken und Kreisbögen zusammengesetzt sein kann, oder eine Menge derartiger Kurven).</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="BP_LinienobjektType">
    <complexContent>
      <extension base=":BP_ObjektType">
        <sequence>
          <element name="position" type=":XP_LiniengeometriePropertyType">
            <annotation>
              <documentation>Linienförmiger Raumbezug (Einzelne zusammenhängende Kurve, die aus Linienstücken und Kreisbögen aufgebaut sit, oder eine Menge derartiger Kurven),</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="BP_Objekt" substitutionGroup=":XP_Objekt" type=":BP_ObjektType">
    <annotation>
      <documentation>Basisklasse für alle raumbezogenen Festsetzungen, Hinweise, Vermerke und Kennzeichnungen eines Bebauungsplans.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="BP_ObjektType">
    <complexContent>
      <extension base=":XP_ObjektType">
        <sequence>
          <element minOccurs="0" name="rechtscharakter" type=":BP_RechtscharakterType">
            <annotation>
              <documentation>Rechtliche Charakterisierung des Planinhaltes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="startBedingung" type=":BP_WirksamkeitBedingungPropertyType">
            <annotation>
              <documentation>Notwendige Bedingung für die Wirksamkeit einer Festsetzung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endeBedingung" type=":BP_WirksamkeitBedingungPropertyType">
            <annotation>
              <documentation>Notwendige Bedingung für das Ende der Wirksamkeit einer Festsetzung</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="wirdAusgeglichenDurchFlaeche" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:BP_AusgleichsFlaeche</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="wirdAusgeglichenDurchABE" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:BP_AnpflanzungBindungErhaltung</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="wirdAusgeglichenDurchSPEMassnahme" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:BP_SchutzPflegeEntwicklungsMassnahme</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="wirdAusgeglichenDurchSPEFlaeche" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:BP_SchutzPflegeEntwicklungsFlaeche</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="wirdAusgeglichenDurchMassnahme" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:BP_AusgleichsMassnahme</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_Plan" substitutionGroup=":XP_Plan" type=":BP_PlanType">
    <annotation>
      <documentation>Die Klasse modelliert einen Bebauungsplan</documentation>
    </annotation>
  </element>
  <complexType name="BP_PlanType">
    <complexContent>
      <extension base=":XP_PlanType">
        <sequence>
          <element maxOccurs="unbounded" name="gemeinde" type=":XP_GemeindePropertyType">
            <annotation>
              <documentation>Die für den Plan zuständige Gemeinde.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plangeber" type=":XP_PlangeberPropertyType">
            <annotation>
              <documentation>Für den BPlan verantwortliche Stelle.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="planArt" type=":BP_PlanArtType">
            <annotation>
              <documentation>Typ des vorliegenden BPlans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstPlanArt" type="gml:CodeType">
            <annotation>
              <documentation>Spezifikation einer "Sonstigen Planart", wenn kein Plantyp aus der Enumeration BP_PlanArt zutraffend ist.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="verfahren" type=":BP_VerfahrenType">
            <annotation>
              <documentation>Verfahrensart der BPlan-Aufstellung oder -Änderung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rechtsstand" type=":BP_RechtsstandType">
            <annotation>
              <documentation>Aktueller Rechtsstand des Plans</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definieter aktueller Status des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hoehenbezug" type="string">
            <annotation>
              <documentation>Bei Höhenangaben im Plan standardmäßig verwendeter Höhenbezug (z.B. Höhe über NN).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aenderungenBisDatum" type="date">
            <annotation>
              <documentation>Datum der berücksichtigten Plan-Änderungen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aufstellungsbeschlussDatum" type="date">
            <annotation>
              <documentation>Datum des Aufstellungsbeschlusses.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="veraenderungssperreDatum" type="date">
            <annotation>
              <documentation>Datum der Veränderungssperre</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="auslegungsStartDatum" type="date">
            <annotation>
              <documentation>Start-Datum des Auslegungs-Zeitraums. Bei mehrfacher öffentlicher Auslegung können mehrere Datumsangeben spezifiziert werden.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="auslegungsEndDatum" type="date">
            <annotation>
              <documentation>End-Datum des Auslegungs-Zeitraums. Bei mehrfacher öffentlicher Auslegung können mehrere Datumsangeben spezifiziert werden.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="traegerbeteiligungsStartDatum" type="date">
            <annotation>
              <documentation>Start-Datum der Trägerbeteiligung. Bei mehrfacher Trägerbeteiligung können mehrere Datumsangeben spezifiziert werden.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="traegerbeteiligungsEndDatum" type="date">
            <annotation>
              <documentation>End-Datum der Trägerbeteiligung. Bei mehrfacher Trägerbeteiligung können mehrere Datumsangeben spezifiziert werden.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="satzungsbeschlussDatum" type="date">
            <annotation>
              <documentation>Datum des Satzungsbeschlusses</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rechtsverordnungsDatum" type="date">
            <annotation>
              <documentation>Datum der Rechtsverordnung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="inkrafttretensDatum" type="date">
            <annotation>
              <documentation>Datum des Inkrafttretens.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ausfertigungsDatum" type="date">
            <annotation>
              <documentation>Datum der Ausfertigung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="veraenderungssperre" type="boolean">
            <annotation>
              <documentation>Gibt an ob es im gesamten Geltungsbereich des Plans eine Veränderungssperre gibt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="staedtebaulicherVertrag" type="boolean">
            <annotation>
              <documentation>Gibt an, ob es zum Plan einen städtebaulichen Vertrag gibt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="erschliessungsVertrag" type="boolean">
            <annotation>
              <documentation>Gibt an, ob es für den Plan einen Erschließungsvertrag gibt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="durchfuehrungsVertrag" type="boolean">
            <annotation>
              <documentation>Gibt an, ob für das gebiet ein Durchführungsvertrag (Kombination aus Städtebaulichen Vertrag und Erschließungsvertrag) existiert.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gruenordnungsplan" type="boolean">
            <annotation>
              <documentation>Gibt an, ob für den BPlan ein zugehöriger Grünordnungsplan existiert.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refKoordinatenListe" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf eine Koordinaten-Liste.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refGrundstuecksverzeichnis" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein Grundstücksverzeichnis.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refPflanzliste" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf eine Pflanzliste.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refUmweltbericht" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf den Umweltbericht.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refSatzung" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die Satzung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refGruenordnungsplan" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf den Grünordnungsplan</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="bereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:BP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:gehoertZuPlan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="BP_PlanArtType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Unspezifizierter Bebauungsplan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10000">
        <annotation>
          <documentation>Einfacher BPlan, §30 Abs. 3 BauGB.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10001">
        <annotation>
          <documentation>Qualifizierter BPlan, §30 Abs. 1 BauGB.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Vorhabensbezogener Bebauungsplan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Eine Innenbereichssatzung kann entweder eine Klarstellungssatzung, eine Entwicklungssatzung oder eine Ergänzungssatzung sein.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="40000">
        <annotation>
          <documentation>Klarstellungssatzung nach  § 34 Abs.4 Nr.1 BauGB.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="40001">
        <annotation>
          <documentation>Entwicklungssatzung nach  § 34 Abs.4 Nr. 2 BauGB.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="40002">
        <annotation>
          <documentation>Ergänzungssatzung nach  § 34 Abs.4 Nr. 3 BauGB.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Außenbereichssatzung nach § 35 Abs. 6 BauGB.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Örtliche Bauvorschrift.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Planart.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element abstract="true" name="BP_Punktobjekt" substitutionGroup=":BP_Objekt" type=":BP_PunktobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Bebauungsplans mit punktförmigem Raumbezug (Einzelpunkt oder Punktmenge).</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="BP_PunktobjektType">
    <complexContent>
      <extension base=":BP_ObjektType">
        <sequence>
          <element name="position" type=":XP_PunktgeometriePropertyType">
            <annotation>
              <documentation>Punktförmiger Raumbezug (Einzelpunkt oder Punktmenge).</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="BP_RechtscharakterType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="5000"/>
    </restriction>
  </simpleType>
  <simpleType name="BP_RechtsstandType">
    <annotation>
      <documentation>Aufzählung der möglichen Rechtsstände eines BPlans</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Ein Aufstellungsbeschluss der Gemeinde liegt vor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Ein Planentwurf liegt vor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2100">
        <annotation>
          <documentation>Die frühzeitige Beteiligung der Behörden (§ 4 Abs. 1 BauGB) hat stattgefunden.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2200">
        <annotation>
          <documentation>Die frühzeitige Beteiligung der Öffentlichkeit (§ 3 Abs. 1 BauGB), bzw. bei einem Verfahren nach § 13a BauGB die Unterrichtung der Öffentlichkeit (§ 13a Abs. 3 BauGB) hat stattgefunden.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2300">
        <annotation>
          <documentation>Die Beteiligung der Behörden hat stattgefunden (§ 4 Abs. 2 BauGB).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2400">
        <annotation>
          <documentation>Der Plan hat öffentlich ausgelegen. (§ 3 Abs. 2 BauGB).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Die Satzung wurde durch Beschluss der Gemeinde verabschiedet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Der Plan ist inkraft getreten.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4500">
        <annotation>
          <documentation>Der Plan ist, z. B. durch einen Gerichtsbeschluss oder neuen Plan, teilweise untergegangen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Der Plan wurde aufgehoben oder für nichtig erklärt.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element abstract="true" name="BP_Ueberlagerungsobjekt" substitutionGroup=":BP_Flaechenobjekt" type=":BP_UeberlagerungsobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Bebauungsplans mit flächenhaftem Raumbezug, die immer Überlagerungsobjekte sind.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="BP_UeberlagerungsobjektType">
    <complexContent>
      <extension base=":BP_FlaechenobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="BP_VerfahrenType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Nomales BPlan Verfahren.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>BPlan Verfahren nach Parag. 13 BauGB.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>BPlan Verfahren nach Parag 13a BauGB.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="BP_WirksamkeitBedingung" substitutionGroup="gml:AbstractObject" type=":BP_WirksamkeitBedingungType">
    <annotation>
      <documentation>Spezifikation von Bedingungen für die Wirksamkeit oder Unwirksamkeit einer Festsetzung.</documentation>
    </annotation>
  </element>
  <complexType name="BP_WirksamkeitBedingungType">
    <sequence>
      <element minOccurs="0" name="bedingung" type="string">
        <annotation>
          <documentation>Textlich formulierte Bedingung für die Wirksamkeit oder Unwirksamkeit einer Festsetzung.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="datumAbsolut" type="date">
        <annotation>
          <documentation>Datum an dem eine Festsetzung wirksam oder unwirksam wird.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="datumRelativ" type="duration">
        <annotation>
          <documentation>Zeitspanne, nach der eine Festsetzung wirksam oder unwirksam wird, wenn die im Attribut bedingung spezifizierte Bedingung erfüllt ist.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="BP_WirksamkeitBedingungPropertyType">
    <sequence>
      <element ref=":BP_WirksamkeitBedingung"/>
    </sequence>
  </complexType>
</schema>
