model/xplangml/raumordnungsmodell/BP_Aufschuettung_Abgrabung_Bodenschaetze.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Festsetzungen von Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Steinen, Erden und anderen Bodenschätzen (§9, Abs. 1, Nr. 17 BauGB).</documentation>
  </annotation>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BP_AbgrabungsFlaeche" substitutionGroup=":BP_Flaechenobjekt" type=":BP_AbgrabungsFlaecheType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§9, Abs. 1, Nr. 17 BauGB)). Hier: Flächen für Abgrabungen.</documentation>
    </annotation>
  </element>
  <complexType name="BP_AbgrabungsFlaecheType">
    <complexContent>
      <extension base=":BP_FlaechenobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_AufschuettungsFlaeche" substitutionGroup=":BP_Flaechenobjekt" type=":BP_AufschuettungsFlaecheType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§ 9 Abs. 1 Nr. 17 und Abs. 6 BauGB). Hier: Flächen für Aufschüttungen</documentation>
    </annotation>
  </element>
  <complexType name="BP_AufschuettungsFlaecheType">
    <complexContent>
      <extension base=":BP_FlaechenobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_BodenschaetzeFlaeche" substitutionGroup=":BP_Flaechenobjekt" type=":BP_BodenschaetzeFlaecheType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§ 9 Abs. 1 Nr. 17 und Abs. 6 BauGB). Hier: Flächen für Gewinnung von Bodenschätzen</documentation>
    </annotation>
  </element>
  <complexType name="BP_BodenschaetzeFlaecheType">
    <complexContent>
      <extension base=":BP_FlaechenobjektType">
        <sequence>
          <element minOccurs="0" name="abbaugut" type="string">
            <annotation>
              <documentation>Bezeichnung des Abbauguts.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_RekultivierungsFlaeche" substitutionGroup=":BP_Flaechenobjekt" type=":BP_RekultivierungsFlaecheType">
    <annotation>
      <documentation>Rekultivierungs-Fläche</documentation>
    </annotation>
  </element>
  <complexType name="BP_RekultivierungsFlaecheType">
    <complexContent>
      <extension base=":BP_FlaechenobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
</schema>
