model/xplangml/raumordnungsmodell/BP_Erhaltungssatzung_und_Denkmalschutz.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Festsetzungen  zur Erhaltungssatzungen(§172 BauGB), Denkmalschutz-Ensembles sowie Einzelanlagen des Denkmalschutzes.</documentation>
  </annotation>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BP_DenkmalschutzEinzelanlage" substitutionGroup=":BP_Geometrieobjekt" type=":BP_DenkmalschutzEinzelanlageType">
    <annotation>
      <documentation>Denkmalgeschützte Einzelanlage, sofern es sich um eine Festsetzung des Bebauungsplans handelt (§9 Abs. 4 BauGB - landesrechtliche Regelung).</documentation>
    </annotation>
  </element>
  <complexType name="BP_DenkmalschutzEinzelanlageType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="denkmal" type="string">
            <annotation>
              <documentation>Nähere Bezeichnung des Denkmals.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_DenkmalschutzEnsembleFlaeche" substitutionGroup=":BP_Ueberlagerungsobjekt" type=":BP_DenkmalschutzEnsembleFlaecheType">
    <annotation>
      <documentation>Umgrenzung eines Denkmalgeschützten Ensembles, sofern es sich um eine Festsetzung des Bebauungsplans handelt (§9 Abs. 4 BauGB - landesrechtliche Regelung). Weltkulturerbe kann eigentlich nicht vorkommen.</documentation>
    </annotation>
  </element>
  <complexType name="BP_DenkmalschutzEnsembleFlaecheType">
    <complexContent>
      <extension base=":BP_UeberlagerungsobjektType">
        <sequence>
          <element minOccurs="0" name="denkmal" type="string">
            <annotation>
              <documentation>Nähere Bezeichnung des Denkmals.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="weltkulturerbe" type="boolean">
            <annotation>
              <documentation>Angabe, ob das Denkmal zum UNESCO Welkulturerbe gehört. &lt;b&gt;Dies Attribut wird nicht benötigt, da Welterbestätten prinzipiell nur nachrichtlich übernommen werden und nicht festgesetzt werden können. In einer zukünftigen Version des Standards wird das Attribut deshalb wegfallen.&lt;/b&gt;</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_ErhaltungsBereichFlaeche" substitutionGroup=":BP_Ueberlagerungsobjekt" type=":BP_ErhaltungsBereichFlaecheType">
    <annotation>
      <documentation>Fläche, auf denen der Rückbau, die Änderung oder die Nutzungsänderung baulichen Anlagen der Genehmigung durch die Gemeinde bedarf (§172 BauGB)</documentation>
    </annotation>
  </element>
  <complexType name="BP_ErhaltungsBereichFlaecheType">
    <complexContent>
      <extension base=":BP_UeberlagerungsobjektType">
        <sequence>
          <element name="grund" type=":BP_ErhaltungsGrundType">
            <annotation>
              <documentation>Erhaltungsgrund</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="BP_ErhaltungsGrundType">
    <annotation>
      <documentation>Aufzählung der Gründe für eine Erhaltungssatzung</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Erhaltung der städtebaulichen Eigenart des Gebiets auf Grund seiner städtebaulichen Gestalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Erhaltung der Zusammensetzung der Wohnbevölkerung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Erhaltung bei städtebaulichen Umstrukturierungen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
