model/xplangml/raumordnungsmodell/BP_Landwirtschaft, Wald- und Gr%FCnfl%E4chen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Festsetzungen von Flächen für die Landwirtschaft und Wald (§9, Abs. 1, Nr. 18 BauGB) für öffentliche und private Grünflächen (§9, Abs. 1, Nr. 15 BauGB), und für die Kleintierhaltung (§9, Abs. 1, Nr. 19 BauGB)</xs:documentation>
	</xs:annotation>
	<xs:include/>
	<xs:include schemaLocation="XP_Enumerationen.xsd"/>
	<xs:include schemaLocation="BP_Bebauung.xsd"/>
	<xs:include schemaLocation="BP__Basisobjekte.xsd"/>
	<xs:element name="BP_KleintierhaltungFlaeche" type="BP_KleintierhaltungFlaeche"/>
	<xs:complexType name="BP_KleintierhaltungFlaeche">
		<xs:annotation>
			<xs:documentation>Fläche für die Errichtung von Anlagen für die Kleintierhaltung woe Ausstellungs- und Zuchtanlagen, Zwinger, Koppeln und dergleichen (§9 Abs. 19 BauGB).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BP_Flaechenschlussobjekt">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BP_GruenFlaeche" type="BP_GruenFlaeche"/>
	<xs:complexType name="BP_GruenFlaeche">
		<xs:annotation>
			<xs:documentation>Festsetzungen von öffentlichen und privaten Grünflächen(§9, Abs. 1, Nr. 15 BauGB)  und von Flächen für die Kleintierhaltung (§9, Abs. 1, Nr. 19 BauGB).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MaxZahlWohnungen" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Höchstzulässige Zahl der Wohnungen in Wohngebäuden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fmin" type="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mindestmaß für die Größe (Fläche) eines Baugrundstücks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fmax" type="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Höchstmaß für die Größe (Fläche) eines Baugrundstücks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bmin" type="Length" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimale Breite von Baugrundstücken</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bmax" type="Length" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximale Breite von Baugrundstücken.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tmin" type="Length" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimale Tiefe von Baugrundstücken.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tmax" type="Length" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximale Tiefe von Baugrundstücken.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GFZmin" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimal zulässige Geschossflächenzahl .</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GFZmax" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Geschossflächenzahl bei einer Bereichsangabe. Das Attribut GFZmin muss ebenfalls belegt sein.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GFZ" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Geschossflächenzahl.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GFZ_Ausn" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Geschossflächenzahl als Ausnahme.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GFmin" type="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimal zulässige Geschossfläche</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GFmax" type="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Geschossfläche bei einer Bereichsabgabe. Das Attribut GFmin muss ebenfalls belegt sein.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GF" type="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Geschossfläche.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GF_Ausn" type="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ausnahmsweise maximal zulässige Geschossfläche.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BMZmin" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimal zulässige Baumassenzahl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BMZmax" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Baumassenzahl bei einer Bereichsangabe. Das Attribut BMZmin muss ebenfalls spezifiziert werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BMZ" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Baumassenzahl.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BMZ_Ausn" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ausnahmsweise maximal zulässige Baumassenzahl.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BMmin" type="Volume" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimal zulässinge Baumasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BMmax" type="Volume" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässinge Baumasse bei einer Bereichsangabe. Das Attribut BMmin muss ebenfalls spezifiziert werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BM" type="Volume" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Baumasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BM_Ausn" type="Volume" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ausnahmsweise maximal zulässige Baumasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GRZmin" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimal zulässige Grundflächenzahl.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GRZmax" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Grundflächenzahl bei einer Bereichsangabe.  Das Attribut GRZmin muss ebenfalls spezifiziert werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GRZ" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Grundflächenzahl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GRZ_Ausn" type="Decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ausnahmsweise maximal zulässige Grundflächenzahl.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GRmin" type="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimal zulässige Grundfläche.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GRmax" type="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Grundfläche bei einer Bereichsangabe. Das Attribut GRmin muss ebenfalls spezifiziert werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GR" type="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Grundfläche.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GR_Ausn" type="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ausnahmsweise maximal zulässige Grundfläche.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zmin" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimal zulässige Zahl der oberirdischen Vollgeschosse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zmax" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Zahl der oberirdischen Vollgeschosse bei einer Bereichsangabe. Das Attribut Zmin muss ebenfalls belegt sein.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zzwingend" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Zwingend vorgeschriebene Zahl der oberirdischen Vollgeschosse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Z" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximalzahl der oberirdischen Vollgeschosse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Z_Ausn" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ausnahmsweise maximal zulässige Zahl der oberirdischen Vollgeschosse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Z_Staffel" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximalzahl von oberirdischen zurückgesetzten Vollgeschossen als Staffelgeschoss..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Z_Dach" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximalzahl der zusätzlich erlaubten Dachgeschosse, die gleichzeitig Vollgeschosse sind.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZUmin" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimal zulässige Zahl der unterirdischen Geschosse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZUmax" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Zahl der unterirdischen Geschosse bei einer Bereichsangabe. Das Attribut ZUmin muss ebenfalls belegt sein.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZUzwingend" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Zwingend vorgeschriebene Zahl der unterirdischen Geschosse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZU" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximal zulässige Zahl der unterirdischen Geschosse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZU_Ausn" type="Integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ausnahmsweise maximal zulässige Zahl der unterirdischen Geschosse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zweckbestimmung" type="XP_ZweckbestimmungGruen" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allgemeine Zweckbestimmungen der Grünfläche</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereZweckbestimmung1" type="XP_ZweckbestimmungGruen" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Weitere allgemeine Zweckbestimmung der Grünfläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereZweckbestimmung2" type="XP_ZweckbestimmungGruen" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Weitere allgemeine Zweckbestimmung der Grünfläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereZweckbestimmung3" type="XP_ZweckbestimmungGruen" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Weitere allgemeine Zweckbestimmung der Grünfläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereZweckbestimmung4" type="XP_ZweckbestimmungGruen" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Weitere allgemeine Zweckbestimmung der Grünfläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="besondereZweckbestimmung" type="XP_BesondereZweckbestimmungGruen" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Besondere Zweckbestimmungen der Grünfläche, die die zugehörige allgemeine Zweckbestimmungen detaillieren oder ersetzen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereBesondZweckbestimmung1" type="XP_BesondereZweckbestimmungGruen" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Weitere besondere Zweckbestimmung der Grünfläche, die die zugehörige allgemeine Zweckbestimmung detailliert oder ersetzt. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen besondereZweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereBesondZweckbestimmung2" type="XP_BesondereZweckbestimmungGruen" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Weitere besondere Zweckbestimmung der Grünfläche, die die zugehörige allgemeine Zweckbestimmung detailliert oder ersetzt. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen besondereZweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereBesondZweckbestimmung3" type="XP_BesondereZweckbestimmungGruen" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Weitere besondere Zweckbestimmung der Grünfläche, die die zugehörige allgemeine Zweckbestimmung detailliert oder ersetzt. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen besondereZweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereBesondZweckbestimmung4" type="XP_BesondereZweckbestimmungGruen" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Weitere besondere Zweckbestimmung der Grünfläche, die die zugehörige allgemeine Zweckbestimmung detailliert oder ersetzt. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen besondereZweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detaillierteZweckbestimmung" type="BP_DetailZweckbestGruenFlaeche" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmungen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereDetailZweckbestimmung1" type="BP_DetailZweckbestGruenFlaeche" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereDetailZweckbestimmung2" type="BP_DetailZweckbestGruenFlaeche" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereDetailZweckbestimmung3" type="BP_DetailZweckbestGruenFlaeche" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weitereDetailZweckbestimmung4" type="BP_DetailZweckbestGruenFlaeche" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nutzungsform" type="XP_Nutzungsform" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nutzungform der festgesetzten Fläche.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zugunstenVon" type="CharacterString" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Angabe des Begünstigen einer Ausweisung.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BP_DetailZweckbestLandwirtschaft" type="BP_DetailZweckbestLandwirtschaft"/>
	<xs:complexType name="BP_DetailZweckbestLandwirtschaft">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="BP_Landwirtschaft" type="BP_Landwirtschaft"/>
	<xs:complexType name="BP_Landwirtschaft">
		<xs:annotation>
			<xs:documentation>Festsetzungen für die Landwirtschaft  (§9, Abs. 1, Nr. 18a BauGB)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="XP_ZweckbestimmungLandwirtschaft" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Zweckbestimmungen der Ausweisung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung1" type="XP_ZweckbestimmungLandwirtschaft" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere Zweckbestimmung der Ausweisung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung2" type="XP_ZweckbestimmungLandwirtschaft" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere Zweckbestimmung der Ausweisung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung3" type="XP_ZweckbestimmungLandwirtschaft" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere Zweckbestimmung der Ausweisung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detaillierteZweckbestimmung" type="BP_DetailZweckbestLandwirtschaft" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmungen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung1" type="BP_DetailZweckbestLandwirtschaft" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung2" type="BP_DetailZweckbestLandwirtschaft" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung3" type="BP_DetailZweckbestLandwirtschaft" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BP_DetailZweckbestWaldFlaeche" type="BP_DetailZweckbestWaldFlaeche"/>
	<xs:complexType name="BP_DetailZweckbestWaldFlaeche">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="BP_WaldFlaeche" type="BP_WaldFlaeche"/>
	<xs:complexType name="BP_WaldFlaeche">
		<xs:annotation>
			<xs:documentation>Festsetzung von Waldflächen  (§9, Abs. 1, Nr. 18b BauGB).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BP_Flaechenschlussobjekt">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="XP_ZweckbestimmungWald" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Zweckbestimmungen der Waldfläche</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung1" type="XP_ZweckbestimmungWald" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere Zweckbestimmung der Waldfläche Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung2" type="XP_ZweckbestimmungWald" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere Zweckbestimmung der Waldfläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detaillierteZweckbestimmung" type="BP_DetailZweckbestWaldFlaeche" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung1" type="BP_DetailZweckbestWaldFlaeche" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung2" type="BP_DetailZweckbestWaldFlaeche" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BP_DetailZweckbestGruenFlaeche" type="BP_DetailZweckbestGruenFlaeche"/>
	<xs:complexType name="BP_DetailZweckbestGruenFlaeche">
		<xs:sequence/>
	</xs:complexType>
</xs:schema>
