model/xplangml/raumordnungsmodell/BP_Naturschutz_Landschaftsbild_Naturhaushalt.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xplan="http://www.xplanung.de/xplangml/4/1" elementFormDefault="qualified" targetNamespace="http://www.xplanung.de/xplangml/4/1" version="" xmlns:="">
  <annotation>
    <documentation>Festsetzungen von Flächen und Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft (§9, Abs. 1, Nr. 20 BauGB).</documentation>
  </annotation>
  <import namespace=""/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BP_AnpflanzungBindungErhaltung" substitutionGroup=":BP_Geometrieobjekt" type="xplan:BP_AnpflanzungBindungErhaltungType">
    <annotation>
      <documentation>Für einzelne Flächen oder für ein Bebauungsplangebiet oder Teile davon sowie für Teile baulicher Anlagen mit Ausnahme der für landwirtschaftliche Nutzungen oder Wald festgesetzten Flächen:
a) Festsetzung des Anpflanzens von Bäumen, Sträuchern und sonstigen Bepflanzungen;
b) Festsetzung von Bindungen für Bepflanzungen und für die Erhaltung von Bäumen, Sträuchern und sonstigen Bepflanzungen sowie von Gewässern;  (§9 Abs. 1 Nr. 25 und Abs. 4 BauGB)</documentation>
    </annotation>
  </element>
  <complexType name="BP_AnpflanzungBindungErhaltungType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="massnahme" type=":XP_ABEMassnahmenTypenType">
            <annotation>
              <documentation>Art der Maßnahme</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="gegenstand" type=":XP_AnpflanzungBindungErhaltungsGegenstandType">
            <annotation>
              <documentation>Gegenständ eder Maßnahme</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kronendurchmesser" type="gml:LengthType">
            <annotation>
              <documentation>Durchmesser der Baumkrone bei zu erhaltenden Bäumen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="pflanztiefe" type="gml:LengthType">
            <annotation>
              <documentation>Pflanztiefe</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="istAusgleich" type="boolean">
            <annotation>
              <documentation>Gibt an, ob die Fläche oder Maßnahme zum Ausgleich von Eingriffen genutzt wird.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="baumArt" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_AusgleichsFlaeche" substitutionGroup=":BP_Flaechenobjekt" type="xplan:BP_AusgleichsFlaecheType">
    <annotation>
      <documentation>Festsetzung einer Fläche zum Ausgleich im Sinne des § 1a Abs.3 und §9 Abs. 1a BauGB.</documentation>
    </annotation>
  </element>
  <complexType name="BP_AusgleichsFlaecheType">
    <complexContent>
      <extension base=":BP_FlaechenobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type=":XP_SPEZieleType">
            <annotation>
              <documentation>Unterscheidung nach den Zielen "Schutz, Pflege" und "Entwicklung".</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="massnahme" type=":XP_SPEMassnahmenDatenPropertyType">
            <annotation>
              <documentation>Auf der Fläche durchzuführende Maßnahmen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refMassnahmenText" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein Dokument, das die durchzuführenden Massnahmen beschreibt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refLandschaftsplan" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf den Landschaftsplan.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_AusgleichsMassnahme" substitutionGroup=":BP_Geometrieobjekt" type="xplan:BP_AusgleichsMassnahmeType">
    <annotation>
      <documentation>Festsetzung einer Einzelmaßnahme zum Ausgleich im Sinne des § 1a Abs.3 und §9 Abs. 1a BauGB.</documentation>
    </annotation>
  </element>
  <complexType name="BP_AusgleichsMassnahmeType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type=":XP_SPEZieleType">
            <annotation>
              <documentation>Ziel der Ausgleichsmassnahme</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="massnahme" type=":XP_SPEMassnahmenDatenPropertyType">
            <annotation>
              <documentation>Durchzuführende Ausgleichsmaßnahmen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refMassnahmenText" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein Dokument, das die durchzuführenden Maßnahmen beschreibt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refLandschaftsplan" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf den Landschaftsplan.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_EingriffsBereich" substitutionGroup=":BP_Ueberlagerungsobjekt" type="xplan:BP_EingriffsBereichType">
    <annotation>
      <documentation>Bestimmt einen Bereich, in dem ein Eingriff nach dem Naturschutzrecht zugelassen wird, der durch geeignete Flächen oder Maßnahmen ausgeglichen werden muss.</documentation>
    </annotation>
  </element>
  <complexType name="BP_EingriffsBereichType">
    <complexContent>
      <extension base=":BP_UeberlagerungsobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_SchutzPflegeEntwicklungsFlaeche" substitutionGroup=":BP_Flaechenobjekt" type="xplan:BP_SchutzPflegeEntwicklungsFlaecheType">
    <annotation>
      <documentation>Umgrenzung von Flächen für Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft (§9 Abs. 1 Nr. 20 und Abs. 4 BauGB)</documentation>
    </annotation>
  </element>
  <complexType name="BP_SchutzPflegeEntwicklungsFlaecheType">
    <complexContent>
      <extension base=":BP_FlaechenobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type=":XP_SPEZieleType">
            <annotation>
              <documentation>Unterscheidung nach den Zielen "Schutz, Pflege" und "Entwicklung".</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="massnahme" type=":XP_SPEMassnahmenDatenPropertyType">
            <annotation>
              <documentation>Durchzuführende Maßnahmen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="istAusgleich" type="boolean">
            <annotation>
              <documentation>Gibt an, ob die Fläche zum Ausgleich von Eingriffen genutzt wird.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refMassnahmenText" type=":XP_ExterneReferenzPropertyType"/>
          <element minOccurs="0" name="refLandschaftsplan" type=":XP_ExterneReferenzPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_SchutzPflegeEntwicklungsMassnahme" substitutionGroup=":BP_Geometrieobjekt" type="xplan:BP_SchutzPflegeEntwicklungsMassnahmeType">
    <annotation>
      <documentation>Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft (§9 Abs. 1 Nr. 20 und Abs. 4 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="BP_SchutzPflegeEntwicklungsMassnahmeType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type=":XP_SPEZieleType">
            <annotation>
              <documentation>Unterscheidung nach den Zielen "Schutz, Pflege" und "Entwicklung".</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="massnahme" type=":XP_SPEMassnahmenDatenPropertyType">
            <annotation>
              <documentation>Durchzuführende Maßnahmen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="istAusgleich" type="boolean">
            <annotation>
              <documentation>Gibt an, ob die Maßnahme zum Ausgleich von Eingriffen genutzt wird.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refMassnahmenText" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein Dokument, das die durchzuführenden Maßnahmen beschreibt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refLandschaftsplan" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf den Landschaftsplan.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_Schutzgebiet" substitutionGroup=":BP_Geometrieobjekt" type="xplan:BP_SchutzgebietType">
    <annotation>
      <documentation>Umgrenzung von Schutzgebieten und Schutzobjekten im Sinne des Naturschutzrechts (§9 Abs. 4 BauGB), sofern es sich um eine Festsetzung des Bebauungsplans handelt.</documentation>
    </annotation>
  </element>
  <complexType name="BP_SchutzgebietType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type=":XP_KlassifizSchutzgebietNaturschutzrechtType">
            <annotation>
              <documentation>Zweckbestimmung des Schutzgebiets</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detaillierteZweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte Zweckbestimmung des Schutzgebietes.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
