model/xplangml/raumordnungsmodell/BP_Raster.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Rasterdarstellung von Bebauungsplänen</documentation>
  </annotation>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BP_RasterplanAenderung" substitutionGroup=":XP_RasterplanAenderung" type=":BP_RasterplanAenderungType">
    <annotation>
      <documentation>Georeferenziertes Rasterbild der Änderung eines Basisplans. Die abgeleitete Klasse besitzt Datums-Attribute, die spezifisch für Bebauungspläne sind.</documentation>
    </annotation>
  </element>
  <complexType name="BP_RasterplanAenderungType">
    <complexContent>
      <extension base=":XP_RasterplanAenderungType">
        <sequence>
          <element minOccurs="0" name="aufstellungsbeschlussDatum" type="date">
            <annotation>
              <documentation>Datum des Aufstellungsbeschlusses</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="auslegungsStartDatum" type="date">
            <annotation>
              <documentation>Start-Datum der öffentlichen Auslegung.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="auslegungsEndDatum" type="date">
            <annotation>
              <documentation>End-Datum der öffentlichen Auslegung.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="traegerbeteiligungsStartDatum" type="date">
            <annotation>
              <documentation>Start-Datum der Trägerbeteiligung.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="traegerbeteiligungsEndDatum" type="date">
            <annotation>
              <documentation>End-Datum der Trägerbeteiligung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="veraenderungssperreDatum" type="date">
            <annotation>
              <documentation>Datum einer Veränderungssperre</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="satzungsbeschlussDatum" type="date">
            <annotation>
              <documentation>Datum des Satzungsbeschlusses der Änderung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rechtsverordnungsDatum" type="date">
            <annotation>
              <documentation>Datum der Rechtsverordnung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="inkrafttretensDatum" type="date">
            <annotation>
              <documentation>Datum des Inkrafttretens der Änderung</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
