model/xplangml/raumordnungsmodell/BP_Sonstiges.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Sonstige Festsetzungen</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BP_AbgrenzungenTypenType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Nutzungsarten-Grenze zur Abgrenzung von Baugebieten mit unterschiedlicher Art oder unterschiedlichem Maß der baulichen Nutzung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Abgrenzung</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="BP_AbstandsMass" substitutionGroup=":BP_Geometrieobjekt" type=":BP_AbstandsMassType">
    <annotation>
      <documentation>Darstellung von Maßpfeilen oder Maßkreisen in BPlänen um eine eindeutige Vermassung einzelner Festsetzungen zu erreichen.</documentation>
    </annotation>
  </element>
  <complexType name="BP_AbstandsMassType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element name="wert" type="gml:LengthType">
            <annotation>
              <documentation>Längenangabe des Abstandsmasses.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="startWinkel" type="gml:AngleType">
            <annotation>
              <documentation>Startwinkel für Darstellung eines Abstandsmaßes (nur relevant für Maßkeise)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endWinkel" type="gml:AngleType">
            <annotation>
              <documentation>Endwinkel für Darstellung eines Abstandsmaße (nur relevant für Maßkreise).</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_FreiFlaeche" substitutionGroup=":BP_Ueberlagerungsobjekt" type=":BP_FreiFlaecheType">
    <annotation>
      <documentation>Umgrenzung der Flächen, die von der Bebauung freizuhalten sind, und ihre Nutzung (§ 9 Abs. 1 Nr. 10 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="BP_FreiFlaecheType">
    <complexContent>
      <extension base=":BP_UeberlagerungsobjektType">
        <sequence>
          <element minOccurs="0" name="nutzung" type="string">
            <annotation>
              <documentation>Festgesetzte Nutzung der Freifläche.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_GenerischesObjekt" substitutionGroup=":BP_Geometrieobjekt" type=":BP_GenerischesObjektType">
    <annotation>
      <documentation>Klasse zur Modellierung aller Inhalte des BPlans, die keine nachrichtliche Übernahmen aus anderen Rechtsbereichen sind, aber durch keine andere Klasse des BPlan-Fachschemas dargestellt werden können.</documentation>
    </annotation>
  </element>
  <complexType name="BP_GenerischesObjektType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte Zweckbestimmungen des Objektes.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_HoehenMass" substitutionGroup=":BP_Geometrieobjekt" type=":BP_HoehenMassType">
    <annotation>
      <documentation>Festsetzungen nach §9 Abs. 1 Nr. 1 BauGB für übereinanderliegende Geschosse und Ebenen und sonstige Teile baulicher Anlagen (§9 Abs.3 BauGB), sowie Hinweise auf Geländehöhen.</documentation>
    </annotation>
  </element>
  <complexType name="BP_HoehenMassType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_KennzeichnungsFlaeche" substitutionGroup=":BP_Flaechenobjekt" type=":BP_KennzeichnungsFlaecheType">
    <annotation>
      <documentation>Flächen für Kennzeichnungen gemäß §9 Abs. 5 BauGB.</documentation>
    </annotation>
  </element>
  <complexType name="BP_KennzeichnungsFlaecheType">
    <complexContent>
      <extension base=":BP_FlaechenobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbestimmung" type=":XP_ZweckbestimmungKennzeichnungType">
            <annotation>
              <documentation>Zweckbestimmungen der Fläche.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="weitereZweckbestimmung" type=":XP_ZweckbestimmungKennzeichnungType">
            <annotation>
              <documentation>Weitere Zweckbestimmung der Fläche. &lt;b&gt;Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen &lt;/b&gt;&lt;b&gt;&lt;i&gt;zweckbestimmung &lt;/i&gt;&lt;/b&gt;&lt;b&gt;mehrfach belegt werden.&lt;/b&gt;</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_NutzungsartenGrenze" substitutionGroup=":BP_Linienobjekt" type=":BP_NutzungsartenGrenzeType">
    <annotation>
      <documentation>Abgrenzung unterschiedlicher Nutzung, z.B. von Baugebieten wenn diese nach PlanzVO in der gleichen Farbe dargestellt werden, oder Abgrenzung unterschiedlicher Nutzungsmaße innerhalb eines Baugebiets ("Knödellinie", §1 Abs. 4, §16 Abs. 5 BauNVO).</documentation>
    </annotation>
  </element>
  <complexType name="BP_NutzungsartenGrenzeType">
    <complexContent>
      <extension base=":BP_LinienobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type=":BP_AbgrenzungenTypenType">
            <annotation>
              <documentation>Typ der Abgrenzung. Wenn das Attribut nicht belegt ist, ist die Abgrenzung eine Nutzungsarten-Grenze (Schlüsselnummer 1000).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailTyp" type="gml:CodeType">
            <annotation>
              <documentation>Detaillierter Typ der Abgrenzung, wenn das Attribut typ den Wert 9999 (Sonstige Abgrenzung) hat.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_TextlicheFestsetzungsFlaeche" substitutionGroup=":BP_Ueberlagerungsobjekt" type=":BP_TextlicheFestsetzungsFlaecheType">
    <annotation>
      <documentation>Bereich in dem bestimmte Textliche Festsetzungen gültig sind, die über die Relation "refTextInhalt" (Basisklasse XP_Objekt) spezifiziert werden.</documentation>
    </annotation>
  </element>
  <complexType name="BP_TextlicheFestsetzungsFlaecheType">
    <complexContent>
      <extension base=":BP_UeberlagerungsobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_UnverbindlicheVormerkung" substitutionGroup=":BP_Geometrieobjekt" type=":BP_UnverbindlicheVormerkungType">
    <annotation>
      <documentation>Unverbindliche Vormerkung späterer Planungsabsichten.</documentation>
    </annotation>
  </element>
  <complexType name="BP_UnverbindlicheVormerkungType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="vormerkung" type="string">
            <annotation>
              <documentation>Text der Vormerkung.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_Veraenderungssperre" substitutionGroup=":BP_Ueberlagerungsobjekt" type=":BP_VeraenderungssperreType">
    <annotation>
      <documentation>Ausweisung einer Veränderungssperre, die nicht den gesamten Geltungsbereich des Plans umfasst. Bei Verwendung dieser Klasse muss das Attribut 'veraenderungssperre" des zugehörigen Plans (Klasse BP_Plan) auf "false" gesetzt werden.</documentation>
    </annotation>
  </element>
  <complexType name="BP_VeraenderungssperreType">
    <complexContent>
      <extension base=":BP_UeberlagerungsobjektType">
        <sequence>
          <element name="gueltigkeitsDatum" type="date">
            <annotation>
              <documentation>Datum bis zu dem die Veränderungssperre bestehen bleibt.</documentation>
            </annotation>
          </element>
          <element name="verlaengerung" type=":XP_VerlaengerungVeraenderungssperreType">
            <annotation>
              <documentation>Gibt an, ob die Veränderungssperre bereits ein- oder zweimal verlängert wurde.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refBeschluss" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf das Dokument mit dem zug. Beschluss.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_Wegerecht" substitutionGroup=":BP_Geometrieobjekt" type=":BP_WegerechtType">
    <annotation>
      <documentation>Festsetzung von Flächen, die mit Geh-, Fahr-, und Leitungsrechten zugunsten der Allgemeinheit, eines Erschließungsträgers, oder eines beschränkten Personenkreises belastet sind  (§ 9 Abs. 1 Nr. 21 und Abs. 6 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="BP_WegerechtType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type=":BP_WegerechtTypenType">
            <annotation>
              <documentation>Typ des Wegerechts</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="zugunstenVon" type="string">
            <annotation>
              <documentation>Inhaber der Rechte.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="thema" type="string">
            <annotation>
              <documentation>Beschreibung des Rechtes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="breite" type="gml:LengthType">
            <annotation>
              <documentation>Breite des Wegerechts bei linienförmiger Ausweisung der Geometrie.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="BP_WegerechtTypenType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Gehrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Fahrrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Geh- und Fahrrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000"/>
      <enumeration value="4100">
        <annotation>
          <documentation>Geh- und Leitungsrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4200">
        <annotation>
          <documentation>Fahr- und Leitungsrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Geh-, Fahr- und Leitungsrecht</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
