model/xplangml/raumordnungsmodell/BP_Ver_und_Entsorgung.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Festsetzung von Versorgungsflächen, Festsetzung der Führung von oberirdischen und unterirdischen Versorgungsanlagen und -leitungen, von Flächen für die Abfall- und Abwasserbeseitigung, sowie von Ablagerungen (§9, Abs. 1, Nr. 12-14 BauGB).</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BP_VerEntsorgung" substitutionGroup=":BP_Geometrieobjekt" type=":BP_VerEntsorgungType">
    <annotation>
      <documentation>Flächen und Leitungen für Versorgungsanlagen, für die Abfallentsorgung und Abwasserbeseitigung sowie für Ablagerungen (§9 Abs. 1, Nr. 12, 14 und Abs. 6 BauGB)</documentation>
    </annotation>
  </element>
  <complexType name="BP_VerEntsorgungType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbestimmung" type=":XP_ZweckbestimmungVerEntsorgungType">
            <annotation>
              <documentation>Allgemeine Zweckbestimmungen der Fläche</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="besondereZweckbestimmung" type=":XP_BesondereZweckbestimmungVerEntsorgungType">
            <annotation>
              <documentation>Besondere Zweckbestimmungen der Fläche, die die zugehörige allgemeine Zweckbestimmungen detaillieren oder ersetzen.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="detaillierteZweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte zusätzliche Zweckbestimmungen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="textlicheErgaenzung" type="string">
            <annotation>
              <documentation>Zusätzliche textliche Beschreibung der Ver- bzw. Entsorgungseinrichtung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="zugunstenVon" type="string">
            <annotation>
              <documentation>Angabe des Begünstigen einer Ausweisung.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
