model/xplangml/raumordnungsmodell/BP_Verkehr.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Verkehrsflächen und Verkehrsflächen besonderer Zweckbestimmung (§9, Abs. 1, Nr. 11 BauGB).</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BP_BereichOhneEinAusfahrtLinie" substitutionGroup=":BP_Linienobjekt" type=":BP_BereichOhneEinAusfahrtLinieType">
    <annotation>
      <documentation>Bereich ohne Ein- und Ausfahrt (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="BP_BereichOhneEinAusfahrtLinieType">
    <complexContent>
      <extension base=":BP_LinienobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type=":BP_BereichOhneEinAusfahrtTypenType">
            <annotation>
              <documentation>Typ der EIn- oder Ausfahrt.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="BP_BereichOhneEinAusfahrtTypenType">
    <annotation>
      <documentation>Aufzählung verschiedener Typen von Bereichen ohne Ein- und Ausfahrt.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
    </restriction>
  </simpleType>
  <element name="BP_EinfahrtPunkt" substitutionGroup=":BP_Punktobjekt" type=":BP_EinfahrtPunktType">
    <annotation>
      <documentation>Einfahrt (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="BP_EinfahrtPunktType">
    <complexContent>
      <extension base=":BP_PunktobjektType">
        <sequence>
          <element name="richtung" type="gml:AngleType">
            <annotation>
              <documentation>Winkel-Richtung der Einfahrt (in Grad).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="typ" type=":BP_EinfahrtTypenType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="BP_EinfahrtTypenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
    </restriction>
  </simpleType>
  <element name="BP_EinfahrtsbereichLinie" substitutionGroup=":BP_Linienobjekt" type=":BP_EinfahrtsbereichLinieType">
    <annotation>
      <documentation>Einfahrtsbereich (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="BP_EinfahrtsbereichLinieType">
    <complexContent>
      <extension base=":BP_LinienobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_StrassenVerkehrsFlaeche" substitutionGroup=":BP_Flaechenschlussobjekt" type=":BP_StrassenVerkehrsFlaecheType">
    <annotation>
      <documentation>Strassenverkehrsfläche (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB) .</documentation>
    </annotation>
  </element>
  <complexType name="BP_StrassenVerkehrsFlaecheType">
    <complexContent>
      <extension base=":BP_FlaechenschlussobjektType">
        <sequence>
          <element minOccurs="0" name="nutzungsform" type=":XP_NutzungsformType">
            <annotation>
              <documentation>Nutzungsform der Fläche</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="begrenzungslinie" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:BP_StrassenbegrenzungsLinie</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_StrassenbegrenzungsLinie" substitutionGroup=":BP_Linienobjekt" type=":BP_StrassenbegrenzungsLinieType">
    <annotation>
      <documentation>Straßenbegrenzungslinie (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB) .</documentation>
    </annotation>
  </element>
  <complexType name="BP_StrassenbegrenzungsLinieType">
    <complexContent>
      <extension base=":BP_LinienobjektType">
        <sequence>
          <element minOccurs="0" name="bautiefe" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_Strassenkoerper" substitutionGroup=":BP_Geometrieobjekt" type=":BP_StrassenkoerperType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen und Stützmauern, soweit sie zur Herstellung des Straßenkörpers erforderlich sind (§9, Abs. 1, Nr. 26 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="BP_StrassenkoerperType">
    <complexContent>
      <extension base=":BP_GeometrieobjektType">
        <sequence>
          <element name="typ" type=":BP_StrassenkoerperHerstellungType">
            <annotation>
              <documentation>Notwendige Maßnahme zur Herstellung des Straßenkörpers.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="BP_StrassenkoerperHerstellungType">
    <annotation>
      <documentation>Aufzählung der möglichen Maßnahmen zur Herstellung des Straßenkörpers</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
    </restriction>
  </simpleType>
  <element name="BP_VerkehrsflaecheBesondererZweckbestimmung" substitutionGroup=":BP_Flaechenschlussobjekt" type=":BP_VerkehrsflaecheBesondererZweckbestimmungType">
    <annotation>
      <documentation>Verkehrsfläche besonderer Zweckbestimmung (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="BP_VerkehrsflaecheBesondererZweckbestimmungType">
    <complexContent>
      <extension base=":BP_FlaechenschlussobjektType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type=":BP_ZweckbestimmungStrassenverkehrType">
            <annotation>
              <documentation>Zweckbestimmung der Fläche</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detaillierteZweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte  Zweckbestimmung der Fläche.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nutzungsform" type=":XP_NutzungsformType">
            <annotation>
              <documentation>Nutzungsform der Fläche.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="begrenzungslinie" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:BP_StrassenbegrenzungsLinie</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="BP_ZweckbestimmungStrassenverkehrType">
    <annotation>
      <documentation>Aufzählung der möglichen besonderen Zweckbestimmungen einer Strassen-Verkehrsfläche.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Fläche für das Parken von Fahrzeugen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Fußgängerbereich</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Verkehrsberuhigte Zone</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Rad- und Fußweg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Reiner Radweg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Reiner Fußweg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1550">
        <annotation>
          <documentation>Wanderweg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1580"/>
      <enumeration value="1600"/>
      <enumeration value="1700">
        <annotation>
          <documentation>Brückenbereich</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800"/>
      <enumeration value="2000"/>
      <enumeration value="2100"/>
      <enumeration value="2200"/>
      <enumeration value="2300"/>
      <enumeration value="2400"/>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Zweckbestimmung</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
