model/xplangml/raumordnungsmodell/BP_Wasser.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Festsetzung von Gewässerflächen und Flächen für die Wasserwirtschaft.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BP_GewaesserFlaeche" substitutionGroup=":BP_Flaechenschlussobjekt" type=":BP_GewaesserFlaecheType">
    <annotation>
      <documentation>Wasserfläche (§9 Abs. 1 Nr. 16 und Abs. 6 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="BP_GewaesserFlaecheType">
    <complexContent>
      <extension base=":BP_FlaechenschlussobjektType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type=":XP_ZweckbestimmungGewaesserType">
            <annotation>
              <documentation>Zweckbestimmung der Wasserfläche.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detaillierteZweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte  Zweckbestimmung der Fläche.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="BP_WasserwirtschaftsFlaeche" substitutionGroup=":BP_Flaechenobjekt" type=":BP_WasserwirtschaftsFlaecheType">
    <annotation>
      <documentation>Flächen für die Wasserwirtschaft, den Hochwasserschutz  und die Regelungen des Wasserabflusses (§9 Abs. 1 Nr. 16 und Abs. 6a BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="BP_WasserwirtschaftsFlaecheType">
    <complexContent>
      <extension base=":BP_FlaechenobjektType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type=":XP_ZweckbestimmungWasserwirtschaftType">
            <annotation>
              <documentation>Zweckbestimmung der Fläche.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detaillierteZweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte  Zweckbestimmung der Fläche.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
