model/xplangml/raumordnungsmodell/FP_Aufschuettung_Abgrabung_Bodenschaetze.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Darstellung von Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Steinen, Erden und anderen Bodenschätzen (§5, Abs. 2, Nr. 8 BauGB).</documentation>
  </annotation>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FP_Abgrabung" substitutionGroup=":FP_Geometrieobjekt" type=":FP_AbgrabungType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§5, Abs. 2, Nr. 8 BauGB). Hier: Flächen für Abgrabungen</documentation>
    </annotation>
  </element>
  <complexType name="FP_AbgrabungType">
    <complexContent>
      <extension base=":FP_GeometrieobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_AbgrabungsFlaeche" substitutionGroup=":FP_Flaechenobjekt" type=":FP_AbgrabungsFlaecheType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§5, Abs. 2, Nr. 8 BauGB). Hier: Flächen für Abgrabungen. &lt;b&gt;Diese Klasse ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen &lt;/b&gt;&lt;b&gt;&lt;i&gt;FP_Abgrabung &lt;/i&gt;&lt;/b&gt;&lt;b&gt;mit Flächengeometrie benutzt werden.&lt;/b&gt;</documentation>
    </annotation>
  </element>
  <complexType name="FP_AbgrabungsFlaecheType">
    <complexContent>
      <extension base=":FP_FlaechenobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_Aufschuettung" substitutionGroup=":FP_Geometrieobjekt" type=":FP_AufschuettungType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§5, Abs. 2, Nr. 8 BauGB). Hier: Flächen für Aufschüttungen.</documentation>
    </annotation>
  </element>
  <complexType name="FP_AufschuettungType">
    <complexContent>
      <extension base=":FP_GeometrieobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_AufschuettungsFlaeche" substitutionGroup=":FP_Flaechenobjekt" type=":FP_AufschuettungsFlaecheType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§5, Abs. 2, Nr. 8 BauGB). Hier: Flächen für Aufschüttungen. &lt;b&gt;Diese Klasse ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen &lt;/b&gt;&lt;b&gt;&lt;i&gt;FP_Aufschuettung &lt;/i&gt;&lt;/b&gt;&lt;b&gt;mit Flächengeometrie benutzt werden.&lt;/b&gt;</documentation>
    </annotation>
  </element>
  <complexType name="FP_AufschuettungsFlaecheType">
    <complexContent>
      <extension base=":FP_FlaechenobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_Bodenschaetze" substitutionGroup=":FP_Geometrieobjekt" type=":FP_BodenschaetzeType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§5, Abs. 2, Nr. 8 BauGB. Hier: Flächen für Bodenschätze.</documentation>
    </annotation>
  </element>
  <complexType name="FP_BodenschaetzeType">
    <complexContent>
      <extension base=":FP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="abbaugut" type="string">
            <annotation>
              <documentation>Bezeichnung des Abbauguts.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_BodenschaetzeFlaeche" substitutionGroup=":FP_Flaechenobjekt" type=":FP_BodenschaetzeFlaecheType">
    <annotation>
      <documentation>Flächen für Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§5, Abs. 2, Nr. 8 BauGB. Hier: Flächen für Bodenschätze. &lt;b&gt;Diese Klasse ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen &lt;/b&gt;&lt;b&gt;&lt;i&gt;FP_Bodenschaetze &lt;/i&gt;&lt;/b&gt;&lt;b&gt;mit Flächengeometrie benutzt werden.&lt;/b&gt;</documentation>
    </annotation>
  </element>
  <complexType name="FP_BodenschaetzeFlaecheType">
    <complexContent>
      <extension base=":FP_FlaechenobjektType">
        <sequence>
          <element minOccurs="0" name="abbaugut" type="string">
            <annotation>
              <documentation>Bezeichnung des Abbauguts.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
