model/xplangml/raumordnungsmodell/FP_Bebauung.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Darstellung der für die Bebauung vorgesehenen Flächen (§5, Abs. 2, Nr. 1 BauGB).</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FP_BebauungsFlaeche" substitutionGroup=":FP_Flaechenschlussobjekt" type=":FP_BebauungsFlaecheType">
    <annotation>
      <documentation>Darstellung der für die Bebauung vorgesehenen Flächen (§5, Abs. 2, Nr. 1 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="FP_BebauungsFlaecheType">
    <complexContent>
      <extension base=":FP_FlaechenschlussobjektType">
        <sequence>
          <element minOccurs="0" name="GFZ" type="double">
            <annotation>
              <documentation>Angabe einer maximalen Geschossflächenzahl als Maß der baulichen Nutzung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="GFZmin" type="double">
            <annotation>
              <documentation>Minimale Geschossflächenzahl bei einer Bereichsangabe (GFZmax muss ebenfalls spezifiziert werden).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="GFZmax" type="double">
            <annotation>
              <documentation>Maximale Geschossflächenzahl bei einer Bereichsangabe (GFZmin muss ebenfalls spezifiziert werden).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="BMZ" type="double">
            <annotation>
              <documentation>Angabe einermaximalen Baumassenzahl als Maß der baulichen Nutzung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="GRZ" type="double">
            <annotation>
              <documentation>Angabe einer maximalen Grundflächenzahl als Maß der baulichen Nutzung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="allgArtDerBaulNutzung" type=":XP_AllgArtDerBaulNutzungType">
            <annotation>
              <documentation>Angabe der allgemeinen Art der baulichen Nutzung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="besondereArtDerBaulNutzung" type=":XP_BesondereArtDerBaulNutzungType">
            <annotation>
              <documentation>Angabe der besonderen Art der baulichen Nutzung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonderNutzung" type=":XP_SondernutzungenType">
            <annotation>
              <documentation>Bei Nutzungsform "Sondergebiet": Differenzierung verschiedener Arten von Sondergebieten nach §§ 10 und 11 BauNVO.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detaillierteArtDerBaulNutzung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte Art der baulichen Nutzung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nutzungText" type="string">
            <annotation>
              <documentation>Bei Nutzungsform "Sondergebiet": Kurzform der besonderen Art der baulichen Nutzung.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_KeineZentrAbwasserBeseitigungFlaeche" substitutionGroup=":FP_Flaechenobjekt" type=":FP_KeineZentrAbwasserBeseitigungFlaecheType">
    <annotation>
      <documentation>Baufläche, für die eine zentrale Abwasserbeseitigung nicht vorgesehen ist (§5, Abs. 2, Nr. 1 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="FP_KeineZentrAbwasserBeseitigungFlaecheType">
    <complexContent>
      <extension base=":FP_FlaechenobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
</schema>
