model/xplangml/raumordnungsmodell/FP_Gemeinbedarf_Spiel_und_Sportanlagen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Darstellung der Ausstattung des Gemeindegebiets mit Einrichtungen und Anlagen zur Versorgung mit Gütern und Dienstleistungen des öffentlichen und privaten Bereichs, sowie die Flächen für Spiel- und Sportanlagen (§5, Abs. 2, Nr. 2 BauGB).</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="XP_Enumerationen.xsd"/>
	<xs:include schemaLocation="P__Basisobjekte.xsd"/>
	<xs:element name="FP_AnpassungKlimawandel" type="FP_AnpassungKlimawandel"/>
	<xs:complexType name="FP_AnpassungKlimawandel">
		<xs:annotation>
			<xs:documentation>Anlagen, Einrichtungen und sonstige Maßnahmen, die der Anpassung an den Klimawandel dienen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="FP_Geometrieobjekt">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FP_DetailZweckbestSpielSportanlage" type="FP_DetailZweckbestSpielSportanlage"/>
	<xs:complexType name="FP_DetailZweckbestSpielSportanlage">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="FP_DetailZweckbestGemeinbedarf" type="FP_DetailZweckbestGemeinbedarf"/>
	<xs:complexType name="FP_DetailZweckbestGemeinbedarf">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="FP_SpielSportanlage" type="FP_SpielSportanlage"/>
	<xs:complexType name="FP_SpielSportanlage">
		<xs:annotation>
			<xs:documentation>Darstellung von Flächen für Spiel- und Sportanlagen nach §5,  Abs. 2, Nr. 2 BauGB.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="FP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="XP_ZweckbestimmungSpielSportanlage" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Zweckbestimmungen der Fläche</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung1" type="XP_ZweckbestimmungSpielSportanlage" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere Zweckbestimmung der Fläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detaillierteZweckbestimmung" type="FP_DetailZweckbestSpielSportanlage" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmungen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung1" type="FP_DetailZweckbestSpielSportanlage" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FP_Gemeinbedarf" type="FP_Gemeinbedarf"/>
	<xs:complexType name="FP_Gemeinbedarf">
		<xs:annotation>
			<xs:documentation>Darstellung von Flächen für den Gemeinbedarf nach §5,  Abs. 2, Nr. 2 BauGB.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="FP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="XP_ZweckbestimmungGemeinbedarf" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Allgemeine Zweckbestimmungen der Fläche</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung1" type="XP_ZweckbestimmungGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere allgemeine Zweckbestimmung der Fläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung2" type="XP_ZweckbestimmungGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere allgemeine Zweckbestimmung der Fläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung3" type="XP_ZweckbestimmungGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere allgemeine Zweckbestimmung der Fläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung4" type="XP_ZweckbestimmungGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere allgemeine Zweckbestimmung der Fläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereZweckbestimmung5" type="XP_ZweckbestimmungGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere allgemeine Zweckbestimmung der Fläche. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen zweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="besondereZweckbestimmung" type="XP_BesondereZweckbestGemeinbedarf" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Besondere Zweckbestimmungen der Fläche, die die zugehörigen allgemeinen Zweckbestimmungen detaillieren oder ersetzen..</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereBesondZweckbestimmung1" type="XP_BesondereZweckbestGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere besondere Zweckbestimmung der Fläche, die die zugehörige allgemeine Zweckbestimmung detailliert oder ersetzt. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen besondereZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereBesondZweckbestimmung2" type="XP_BesondereZweckbestGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere besondere Zweckbestimmung der Fläche, die die zugehörige allgemeine Zweckbestimmung detailliert oder ersetzt. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen besondereZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereBesondZweckbestimmung3" type="XP_BesondereZweckbestGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere besondere Zweckbestimmung der Fläche, die die zugehörige allgemeine Zweckbestimmung detailliert oder ersetzt. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen besondereZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereBesondZweckbestimmung4" type="XP_BesondereZweckbestGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere besondere Zweckbestimmung der Fläche, die die zugehörige allgemeine Zweckbestimmung detailliert oder ersetzt. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen besondereZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereBesondZweckbestimmung5" type="XP_BesondereZweckbestGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weitere besondere Zweckbestimmung der Fläche, die die zugehörige allgemeine Zweckbestimmung detailliert oder ersetzt. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen besondereZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detaillierteZweckbestimmung" type="FP_DetailZweckbestGemeinbedarf" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Über eine ExternalCodeList definierte zusätzliche Zweckbestimmungen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung1" type="FP_DetailZweckbestGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung2" type="FP_DetailZweckbestGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung3" type="FP_DetailZweckbestGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung4" type="FP_DetailZweckbestGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weitereDetailZweckbestimmung5" type="FP_DetailZweckbestGemeinbedarf" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung. Dies Attribut ist ab Version 4.1 als "veraltet" gekennzeichnet, es sollte stattdessen detaillierteZweckbestimmung mehrfach belegt werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
