model/xplangml/raumordnungsmodell/FP_Landwirtschaft_Wald_und_Gruen.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Darstellung von Grünflächen (§5, Abs. 2, Nr. 5 BauGB) und von Flächen für die Landwirtschaft und Wald (§5, Abs. 2, Nr. 9 BauGB).</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FP_Gruen" substitutionGroup=":FP_Geometrieobjekt" type=":FP_GruenType">
    <annotation>
      <documentation>Darstellung einer Grünfläche nach §5, Abs. 2, Nr. 5 BauGB,</documentation>
    </annotation>
  </element>
  <complexType name="FP_GruenType">
    <complexContent>
      <extension base=":FP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbestimmung" type=":XP_ZweckbestimmungGruenType">
            <annotation>
              <documentation>Allgemeine Zweckbestimmungen der Grünfläche.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="besondereZweckbestimmung" type=":XP_BesondereZweckbestimmungGruenType">
            <annotation>
              <documentation>Besondere Zweckbestimmungen der Grünfläche, die die zugehörige allgemeinen Zweckbestimmungen detaillieren oder ersetzen.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="detaillierteZweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte zusätzliche Zweckbestimmungen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nutzungsform" type=":XP_NutzungsformType">
            <annotation>
              <documentation>Nutzungsform der Grünfläche.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_LandwirtschaftsFlaeche" substitutionGroup=":FP_Flaechenschlussobjekt" type=":FP_LandwirtschaftsFlaecheType">
    <annotation>
      <documentation>Darstellung einer Landwirtschaftsfläche nach §5, Abs. 2, Nr. 9a.</documentation>
    </annotation>
  </element>
  <complexType name="FP_LandwirtschaftsFlaecheType">
    <complexContent>
      <extension base=":FP_FlaechenschlussobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="detaillierteZweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte zusätzliche Zweckbestimmungen.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbestimmung" type=":XP_ZweckbestimmungLandwirtschaftType">
            <annotation>
              <documentation>Zweckbestimmungen der Fläche.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_WaldFlaeche" substitutionGroup=":FP_Flaechenschlussobjekt" type=":FP_WaldFlaecheType">
    <annotation>
      <documentation>Darstellung von Waldflächen nach §5, Abs. 2, Nr. 9b,</documentation>
    </annotation>
  </element>
  <complexType name="FP_WaldFlaecheType">
    <complexContent>
      <extension base=":FP_FlaechenschlussobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbestimmung" type=":XP_ZweckbestimmungWaldType">
            <annotation>
              <documentation>Zweckbestimmungen der Waldfläche.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="detaillierteZweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte zusätzliche Zweckbestimmungen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
