model/xplangml/raumordnungsmodell/FP_Naturschutz.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Darstellung von Flächen für Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Boden, Natur und Landschaft (§5 Abs. 2 Nr. 10 BauGB).</documentation>
  </annotation>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FP_AusgleichsFlaeche" substitutionGroup=":FP_Flaechenobjekt" type=":FP_AusgleichsFlaecheType">
    <annotation>
      <documentation>Flächen und Maßnahmen zum Ausgleich gemäß §5, Abs. 2a  BauBG.</documentation>
    </annotation>
  </element>
  <complexType name="FP_AusgleichsFlaecheType">
    <complexContent>
      <extension base=":FP_FlaechenobjektType">
        <sequence>
          <element minOccurs="0" name="refMassnahmenText" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein Dokument in dem die Massnahmen beschrieben werden.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refLandschaftsplan" type=":XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf den Landschaftsplan.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ziel" type=":XP_SPEZieleType">
            <annotation>
              <documentation>Unterscheidung nach den Zielen "Schutz, Pflege" und "Entwicklung".</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="massnahme" type=":XP_SPEMassnahmenDatenPropertyType">
            <annotation>
              <documentation>Auf der Fläche durchzuführende Maßnahmen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_SchutzPflegeEntwicklung" substitutionGroup=":FP_Geometrieobjekt" type=":FP_SchutzPflegeEntwicklungType">
    <annotation>
      <documentation>Umgrenzung von Flächen für Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft (§5 Abs. 2, Nr. 10 BauGB)</documentation>
    </annotation>
  </element>
  <complexType name="FP_SchutzPflegeEntwicklungType">
    <complexContent>
      <extension base=":FP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type=":XP_SPEZieleType">
            <annotation>
              <documentation>Unterscheidung nach den Zielen "Schutz, Pflege" und "Entwicklung".</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="massnahme" type=":XP_SPEMassnahmenDatenPropertyType">
            <annotation>
              <documentation>Durchzuführende Maßnahmen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="istAusgleich" type="boolean">
            <annotation>
              <documentation>Gibt an, ob die Maßnahme zum Ausgkeich eines Eingriffs benutzt wird.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
