model/xplangml/raumordnungsmodell/FP_Raster.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Raster-Darstellung von FPlänen</documentation>
  </annotation>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="FP_RasterplanAenderung" substitutionGroup=":XP_RasterplanAenderung" type=":FP_RasterplanAenderungType">
    <annotation>
      <documentation>Georeferenziertes Rasterbild der Änderung eines Basisplans. Die abgeleitete Klasse besitzt Datums-Attribute, die spezifisch für Flächennutzungspläne sind.</documentation>
    </annotation>
  </element>
  <complexType name="FP_RasterplanAenderungType">
    <complexContent>
      <extension base=":XP_RasterplanAenderungType">
        <sequence>
          <element minOccurs="0" name="aufstellungbeschlussDatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="auslegungsStartDatum" type="date">
            <annotation>
              <documentation>Start-Datum der öffentlichen Auslegung.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="auslegungsEndDatum" type="date">
            <annotation>
              <documentation>End-Datum der öffentlichen Auslegung.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="traegerbeteiligungsStartDatum" type="date">
            <annotation>
              <documentation>Start-Datum der Trägerbeteiligung.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="traegerbeteiligungsEndDatum" type="date">
            <annotation>
              <documentation>End-Datum der Trägerbeteiligung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aenderungenBisDatum" type="date"/>
          <element minOccurs="0" name="entwurfsbeschlussDatum" type="date"/>
          <element minOccurs="0" name="planbeschlussDatum" type="date"/>
          <element minOccurs="0" name="wirksamkeitsDatum" type="date"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
