model/xplangml/raumordnungsmodell/FP_Sonstiges.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Sonstige Klassen von FPlan-Objekten.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FP_BesondZweckbestPrivilegiertesVorhabenType">
    <restriction base="string">
      <enumeration value="10000"/>
      <enumeration value="10001"/>
      <enumeration value="10002"/>
      <enumeration value="10003"/>
      <enumeration value="10004"/>
      <enumeration value="12000">
        <annotation>
          <documentation>Öffentliche Wasserversorgung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12001">
        <annotation>
          <documentation>Gasversorgung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12002">
        <annotation>
          <documentation>Wärmeversorgung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12003">
        <annotation>
          <documentation>Versorgung mit Elektrizität.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12004">
        <annotation>
          <documentation>Versorgung mit Telekommunikations-Dienstleistungen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12005">
        <annotation>
          <documentation>Abwasser Entsorgung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16000">
        <annotation>
          <documentation>Vorhaben dass wegen seiner besonderen Anforderungen an die Umgebung nur im Aussenbereich durchgeführt werden soll.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16001">
        <annotation>
          <documentation>Vorhaben dass wegen seiner nachteiligen Wirkung auf die Umgebung nur im Aussenbereich durchgeführt werden soll.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="16002">
        <annotation>
          <documentation>Vorhaben dass wegen seiner besonderen Zweckbestimmung nur im Aussenbereich durchgeführt werden soll.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18000">
        <annotation>
          <documentation>Vorhaben zur Erforschung, Entwicklung oder Nutzung der Windenergie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18001">
        <annotation>
          <documentation>Vorhaben zur Erforschung, Entwicklung oder Nutzung der Wasserenergie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18002">
        <annotation>
          <documentation>Vorhaben zur Erforschung, Entwicklung oder Nutzung der Solarenergie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18003">
        <annotation>
          <documentation>Vorhaben zur energetischen Nutzung der Biomasse.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20000">
        <annotation>
          <documentation>Vorhaben der Erforschung, Entwicklung oder Nutzung der Kernenergie zu friedlichen Zwecken.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20001">
        <annotation>
          <documentation>Vorhaben zur Entsorgung radioaktiver Abfälle.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99990"/>
      <enumeration value="99991"/>
    </restriction>
  </simpleType>
  <element name="FP_GenerischesObjekt" substitutionGroup=":FP_Geometrieobjekt" type=":FP_GenerischesObjektType">
    <annotation>
      <documentation>Klasse zur Modellierung aller Inhalte des FPlans, die keine nachrichtliche Übernahmen aus anderen Rechts-bereichen sind, aber durch keine andere Klasse des FPlan-Fachschemas dargestellt werden können.</documentation>
    </annotation>
  </element>
  <complexType name="FP_GenerischesObjektType">
    <complexContent>
      <extension base=":FP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine ExternalCodeList. definierte Zweckbestimmungen des Objekts.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_Kennzeichnung" substitutionGroup=":FP_Geometrieobjekt" type=":FP_KennzeichnungType">
    <annotation>
      <documentation>Kennzeichnungen gemäß §5 Abs. 3 BauGB.</documentation>
    </annotation>
  </element>
  <complexType name="FP_KennzeichnungType">
    <complexContent>
      <extension base=":FP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbestimmung" type=":XP_ZweckbestimmungKennzeichnungType">
            <annotation>
              <documentation>Zweckbestimmungen der Kennzeichnung.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_NutzungsbeschraenkungsFlaeche" substitutionGroup=":FP_Ueberlagerungsobjekt" type=":FP_NutzungsbeschraenkungsFlaecheType">
    <annotation>
      <documentation>Umgrenzungen der Flächen für besondere Anlagen und Vorkehrungen zum Schutz vor schädlichen Umwelteinwirkungen im Sinne des Bundes-
Immissionsschutzgesetzes (§ 5, Abs. 2, Nr. 6 BauGB)</documentation>
    </annotation>
  </element>
  <complexType name="FP_NutzungsbeschraenkungsFlaecheType">
    <complexContent>
      <extension base=":FP_UeberlagerungsobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_PrivilegiertesVorhaben" substitutionGroup=":FP_Geometrieobjekt" type=":FP_PrivilegiertesVorhabenType">
    <annotation>
      <documentation>Standorte für privilegierte Außenbereichsvorhaben und für sonstige Anlagen in Außenbereichen gem. § 35 Abs. 1 und 2 BauGB.</documentation>
    </annotation>
  </element>
  <complexType name="FP_PrivilegiertesVorhabenType">
    <complexContent>
      <extension base=":FP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="zweckbestimmung" type=":FP_ZweckbestimmungPrivilegiertesVorhabenType">
            <annotation>
              <documentation>Zweckbestimmungen des Vorhabens.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="besondereZweckbestimmung" type=":FP_BesondZweckbestPrivilegiertesVorhabenType">
            <annotation>
              <documentation>Besondere Zweckbestimmungendes Vorhabens, die die spezifizierten allgemeinen Zweckbestimmungen detaillieren.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vorhaben" type="string">
            <annotation>
              <documentation>Nähere Beschreibung des Vorhabens.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_TextlicheDarstellungsFlaeche" substitutionGroup=":FP_Ueberlagerungsobjekt" type=":FP_TextlicheDarstellungsFlaecheType">
    <annotation>
      <documentation>Bereich in dem bestimmte Textliche Darstellungen gültig sind, die über die Relation "refTextInhalt" (Basisklasse XP_Objekt) spezifiziert werden.</documentation>
    </annotation>
  </element>
  <complexType name="FP_TextlicheDarstellungsFlaecheType">
    <complexContent>
      <extension base=":FP_UeberlagerungsobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_UnverbindlicheVormerkung" substitutionGroup=":FP_Geometrieobjekt" type=":FP_UnverbindlicheVormerkungType">
    <annotation>
      <documentation>Unverbindliche Vormerkung späterer Planungsabsichten</documentation>
    </annotation>
  </element>
  <complexType name="FP_UnverbindlicheVormerkungType">
    <complexContent>
      <extension base=":FP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="vormerkung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="FP_VorbehalteFlaeche" substitutionGroup=":FP_Flaechenobjekt" type=":FP_VorbehalteFlaecheType"/>
  <complexType name="FP_VorbehalteFlaecheType">
    <complexContent>
      <extension base=":FP_FlaechenobjektType">
        <sequence>
          <element minOccurs="0" name="vorbehalt" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="FP_ZweckbestimmungPrivilegiertesVorhabenType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Vorhaben nach §35 Abs. 1 Nr. 1 oder 2 BauGB: Vorhaben, dass "einem land- oder forstwirtschaftlichen Betrieb dient und nur einen untergeordnetenTeil der Betriebsfläche einnimmt", oder "einem Betrieb der gartenbaulichen Erzeugung dient".</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Vorhaben nach §35 Abs. 1 Nr. 3 BauBG: Vorhaben dass "der öffentlichen Versorgung mit Elektrizität, Gas,
Telekommunikationsdienstleistungen, Wärme und Wasser, der Abwasserwirtschaft" ... dient.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Vorhaben nach §35 Abs. 1 Nr. 3 BauGB: Vorhaben das ...."einem ortsgebundenen gewerblichen Betrieb dient".</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Vorhaben nach §35 Abs. 1 Nr. 4 BauGB: Vorhaben, dass "wegen seiner besonderen Anforderungen an die Umgebung, wegen seiner nachteiligen Wirkung auf die Umgebung oder wegen seiner besonderen Zweckbestimmung nur im Außenbereich ausgeführt werden soll".</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Vorhaben nach §35 Abs 1 Nr.. 5 oder 6 BauGB: Vorhaben  dass "der Erforschung, Entwicklung oder Nutzung der Wind- oder Wasserenergie dient" oder "der energetischen Nutzung von Biomasse ...".</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Vorhaben nach §35 Abs. 1 Nr. 7 BauGB: Vorhaben das "der Erforschung, Entwicklung oder Nutzung der Kernenergie zu friedlichen Zwecken oder der Entsorgung radioaktiver Abfälle dient".</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges Vorhaben im Aussenbereich nach §35 Abs. 2 BauGB.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
