model/xplangml/raumordnungsmodell/FP_Verkehr.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Darstellung von Flächen für den überörtlichen Verkehr sowie für die örtlichen Hauptverkehrszüge (§5, Abs. 2, Nr. 3 BauGB).</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="FP_BesondereZweckbestimmungStrassenverkehrType">
    <restriction base="string">
      <enumeration value="14000"/>
      <enumeration value="14001"/>
      <enumeration value="14002"/>
      <enumeration value="14003"/>
      <enumeration value="14004"/>
      <enumeration value="14005"/>
      <enumeration value="14006"/>
      <enumeration value="14007"/>
      <enumeration value="14008"/>
      <enumeration value="14009"/>
      <enumeration value="14010"/>
      <enumeration value="14011"/>
    </restriction>
  </simpleType>
  <element name="FP_Strassenverkehr" substitutionGroup=":FP_Geometrieobjekt" type=":FP_StrassenverkehrType">
    <annotation>
      <documentation>Darstellung von Flächen für den überörtlichen Verkehr und für die örtlichen Hauptverkehrszüge ( §5, Abs. 2, Nr. 3 BauGB).</documentation>
    </annotation>
  </element>
  <complexType name="FP_StrassenverkehrType">
    <complexContent>
      <extension base=":FP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type=":FP_ZweckbestimmungStrassenverkehrType">
            <annotation>
              <documentation>Allgemeine Zweckbestimmung des Objektes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="besondereZweckbestimmung" type=":FP_BesondereZweckbestimmungStrassenverkehrType">
            <annotation>
              <documentation>Besondere Zweckbestimmung des Objektes, der die allgemiene Zweckbestimmung detaillliert oder ersetzt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detaillierteZweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte zusätzliche Zweckbestimmung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nutzungsform" type=":XP_NutzungsformType">
            <annotation>
              <documentation>Nutzungsform</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="FP_ZweckbestimmungStrassenverkehrType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Autobahn und autobahnähnliche Straße.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Sonstige örtliche oder überörtliche Hauptverkehrsstraße bzw. Weg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Sonstiger Verkehrsweg oder Anlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Fläche oder Anlage für den ruhenden Verkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Zweckbestimmung</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
