model/xplangml/raumordnungsmodell/LP__Sonstiges.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Sonstige Klassen des Kernmodells Landschaftsplanung.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="LP_Abgrenzung" substitutionGroup=":LP_Linienobjekt" type=":LP_AbgrenzungType">
    <annotation>
      <documentation>Abgrenzungen unterschiedlicher Ziel- und Zweckbestimmungen und Nutzungsarten, Abgrenzungen unterschiedlicher Biotoptypen.</documentation>
    </annotation>
  </element>
  <complexType name="LP_AbgrenzungType">
    <complexContent>
      <extension base=":LP_LinienobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_GenerischesObjekt" substitutionGroup=":LP_Geometrieobjekt" type=":LP_GenerischesObjektType">
    <annotation>
      <documentation>Klasse zur Modellierung aller Inhalte des Landschaftsplans, die durch keine andere Klasse des LPlan-Fachschemas dargestellt werden können.</documentation>
    </annotation>
  </element>
  <complexType name="LP_GenerischesObjektType">
    <complexContent>
      <extension base=":LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="zweckbestimmung" type="gml:CodeType">
            <annotation>
              <documentation>Zweckbestimmung</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NutzungsAusschluss" substitutionGroup=":LP_Geometrieobjekt" type=":LP_NutzungsAusschlussType">
    <annotation>
      <documentation>Flächen und Objekte die bestimmte geplante oder absehbare Nutzungsänderungen nicht erfahren sollen.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NutzungsAusschlussType">
    <complexContent>
      <extension base=":LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="auszuschliessendeNutzungen" type="string">
            <annotation>
              <documentation>Auszuschließende Nutzungen (Textform).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="auszuschliessendeNutzungenKuerzel" type="string">
            <annotation>
              <documentation>Auszuschließende Nutzungen (Kürzel).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="begruendung" type="string">
            <annotation>
              <documentation>Begründung des Ausschlusses (Textform).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="begruendungKuerzel" type="string">
            <annotation>
              <documentation>Begründung des Ausschlusses (Kürzel)</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_PlanerischeVertiefung" substitutionGroup=":LP_Geometrieobjekt" type=":LP_PlanerischeVertiefungType">
    <annotation>
      <documentation>Bereiche, die einer planerischen Vertiefung bedürfen.</documentation>
    </annotation>
  </element>
  <complexType name="LP_PlanerischeVertiefungType">
    <complexContent>
      <extension base=":LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="vertiefung" type="string">
            <annotation>
              <documentation>Textliche Formulierung der Vertiefung</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_SonstigeAbgrenzuung" substitutionGroup="gml:AbstractFeature" type=":LP_SonstigeAbgrenzuungType"/>
  <complexType name="LP_SonstigeAbgrenzuungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LP_SonstigeAbgrenzuungPropertyType">
    <sequence minOccurs="0">
      <element ref=":LP_SonstigeAbgrenzuung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
