model/xplangml/raumordnungsmodell/LP__SchutzgebietObjekte.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Gebiete und Gebietsteile zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft.</xs:documentation>
	</xs:annotation>
	<xs:include/>
	<xs:include schemaLocation="LP__Basisobjekte.xsd"/>
	<xs:element name="LP_WasserrechtSchutzgebiet" type="LP_WasserrechtSchutzgebiet"/>
	<xs:complexType name="LP_WasserrechtSchutzgebiet">
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="typ" type="LP_WasserrechtSchutzgebietTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailTyp" type="LP_WasserrechtSchutzgebietDetailTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierter zusätzlicher Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eigenname" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Eigennahme des Schutzgebietes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_WasserrechtSchutzgebietDetailTypen" type="LP_WasserrechtSchutzgebietDetailTypen"/>
	<xs:complexType name="LP_WasserrechtSchutzgebietDetailTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LP_SchutzobjektBundesrecht" type="LP_SchutzobjektBundesrecht"/>
	<xs:complexType name="LP_SchutzobjektBundesrecht">
		<xs:annotation>
			<xs:documentation>Schutzgebiete und Schutzobjekte nach Naturschutzrecht im Sinne des 4. Abschnittes des BNatSchG.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="typ" type="LP_ZweckbestimmungSchutzgebiet" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Typ des Schutzgebietes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eigenname" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Eigennahme des Schutzgebietes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_Denkmalschutzrecht" type="LP_Denkmalschutzrecht"/>
	<xs:complexType name="LP_Denkmalschutzrecht">
		<xs:annotation>
			<xs:documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Flächen die dem Denkmalschutz unterliegen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="detailTyp" type="LP_DenkmalschutzrechtDetailTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_Forstrecht" type="LP_Forstrecht"/>
	<xs:complexType name="LP_Forstrecht">
		<xs:annotation>
			<xs:documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Schutzgebiete und sonstige Flächen nach dem Bundeswaldgesetz.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="typ" type="LP_ForstrechtTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailTyp" type="LP_WaldschutzDetailTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierter zusätzlicher Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_Biotopverbundflaeche" type="LP_Biotopverbundflaeche"/>
	<xs:complexType name="LP_Biotopverbundflaeche">
		<xs:annotation>
			<xs:documentation>Biotop-Verbundfläche</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_WasserrechtGemeingebrEinschraenkungNaturschutzDetailTypen" type="LP_WasserrechtGemeingebrEinschraenkungNaturschutzDetailTypen"/>
	<xs:complexType name="LP_WasserrechtGemeingebrEinschraenkungNaturschutzDetailTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LP_WasserrechtSonstigeTypen" type="LP_WasserrechtSonstigeTypen"/>
	<xs:complexType name="LP_WasserrechtSonstigeTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LP_WaldschutzDetailTypen" type="LP_WaldschutzDetailTypen"/>
	<xs:complexType name="LP_WaldschutzDetailTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LP_SonstigesRecht" type="LP_SonstigesRecht"/>
	<xs:complexType name="LP_SonstigesRecht">
		<xs:annotation>
			<xs:documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Sonstige Flächen und Gebiete (z.B. nach Jagdrecht).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="typ" type="LP_SonstRechtTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailTyp" type="LP_SonstRechtDetailTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierter zusätzlicher Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_SchutzgebietDetailTypen" type="LP_SchutzgebietDetailTypen"/>
	<xs:complexType name="LP_SchutzgebietDetailTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="LP_ForstrechtTypen">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Naturwaldreservat"/>
			<xs:enumeration value="SchutzwaldAllgemein"/>
			<xs:enumeration value="Lawinenschutzwald"/>
			<xs:enumeration value="Bodenschutzwald"/>
			<xs:enumeration value="Klimaschutzwald"/>
			<xs:enumeration value="Immissionsschutzwald"/>
			<xs:enumeration value="Biotopschutzwald"/>
			<xs:enumeration value="ErholungswaldAllgemein"/>
			<xs:enumeration value="ErholungswaldHeilbaeder"/>
			<xs:enumeration value="ErholungswaldBallungsraeume"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LP_SonstRechtDetailTypen" type="LP_SonstRechtDetailTypen"/>
	<xs:complexType name="LP_SonstRechtDetailTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="LP_InternatSchutzobjektTypen">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Feuchtgebiet"/>
			<xs:enumeration value="VogelschutzgebietInternat"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LP_ZweckbestimmungSchutzgebiet">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Naturschutzgebiet"/>
			<xs:enumeration value="Nationalpark"/>
			<xs:enumeration value="Biosphaerenreservat"/>
			<xs:enumeration value="Landschaftsschutzgebiet"/>
			<xs:enumeration value="Naturpark"/>
			<xs:enumeration value="Naturdenkmal"/>
			<xs:enumeration value="GeschuetzterLandschaftsBestandteil"/>
			<xs:enumeration value="GesetzlichGeschuetztesBiotop"/>
			<xs:enumeration value="GebietGemeinschaftlicherBedeutung"/>
			<xs:enumeration value="EuropaeischesVogelschutzgebiet"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LP_DenkmalschutzrechtDetailTypen" type="LP_DenkmalschutzrechtDetailTypen"/>
	<xs:complexType name="LP_DenkmalschutzrechtDetailTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LP_Bodenschutzrecht" type="LP_Bodenschutzrecht"/>
	<xs:complexType name="LP_Bodenschutzrecht">
		<xs:annotation>
			<xs:documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Flächen mit schädlichen Bodenveränderungen nach dem Bodenschutzgesetz.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="typ" type="LP_BodenschutzrechtTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Typ des Schutzobjektes</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailTyp" type="LP_BodenschutzrechtDetailTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierter zusätzlicher Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_WasserrechtGemeingebrEinschraenkungNaturschutz" type="LP_WasserrechtGemeingebrEinschraenkungNaturschutz"/>
	<xs:complexType name="LP_WasserrechtGemeingebrEinschraenkungNaturschutz">
		<xs:annotation>
			<xs:documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Flächen mit Einschränkungen des wasserrechtlichen Gemeingebrauchs aus Gründen des Naturschutzes.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="detailTyp" type="LP_WasserrechtGemeingebrEinschraenkungNaturschutzDetailTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierter Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_InternatSchutzobjektDetailTypen" type="LP_InternatSchutzobjektDetailTypen"/>
	<xs:complexType name="LP_InternatSchutzobjektDetailTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LP_WasserrechtWirtschaftAbflussHochwSchutzDetailTypen" type="LP_WasserrechtWirtschaftAbflussHochwSchutzDetailTypen"/>
	<xs:complexType name="LP_WasserrechtWirtschaftAbflussHochwSchutzDetailTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LP_SchutzobjektInternatRecht" type="LP_SchutzobjektInternatRecht"/>
	<xs:complexType name="LP_SchutzobjektInternatRecht">
		<xs:annotation>
			<xs:documentation>Sonstige Schutzgebiete und Schutzobjekte nach internationalem Recht.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="typ" type="LP_InternatSchutzobjektTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Typ der Schutzgebietes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sonstTyp" type="LP_InternatSchutzobjektDetailTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierter zusätzlicher Typ des Schutzgebietes</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eigenname" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Eigennahme des Schutzgebietes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="LP_WasserrechtWirtschaftAbflussHochwSchutzTypen">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Hochwasserrueckhaltebecken"/>
			<xs:enumeration value="UeberschwemmGebiet"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LP_BodenschutzrechtDetailTypen" type="LP_BodenschutzrechtDetailTypen"/>
	<xs:complexType name="LP_BodenschutzrechtDetailTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LP_SchutzobjektLandesrecht" type="LP_SchutzobjektLandesrecht"/>
	<xs:complexType name="LP_SchutzobjektLandesrecht" abstract="true">
		<xs:annotation>
			<xs:documentation>Sonstige Schutzgebiete und Schutzobjekte nach Landesrecht.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="detailTyp" type="LP_SchutzobjektLandesrechtDetailTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierter Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="LP_BodenschutzrechtTypen">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Altlastenflaeche"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LP_WasserrechtSchutzgebietTypen">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="GrundQuellwasser"/>
			<xs:enumeration value="Oberflaechengewaesser"/>
			<xs:enumeration value="Heilquellen"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LP_WasserrechtWirtschaftAbflussHochwSchutz" type="LP_WasserrechtWirtschaftAbflussHochwSchutz"/>
	<xs:complexType name="LP_WasserrechtWirtschaftAbflussHochwSchutz">
		<xs:annotation>
			<xs:documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Flächen für die Wasserwirtschaft, den Hochwasserschutz und die Regelung des Wasserabflusses nach dem Wasserhaushaltsgesetz.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="typ" type="LP_WasserrechtWirtschaftAbflussHochwSchutzTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailTyp" type="LP_WasserrechtWirtschaftAbflussHochwSchutzDetailTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierter zusätzlicher Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="LP_SonstRechtTypen">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Jagdgesetz"/>
			<xs:enumeration value="Fischereigesetz"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LP_SchutzobjektLandesrechtDetailTypen" type="LP_SchutzobjektLandesrechtDetailTypen"/>
	<xs:complexType name="LP_SchutzobjektLandesrechtDetailTypen">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LP_WasserrechtSonstige" type="LP_WasserrechtSonstige"/>
	<xs:complexType name="LP_WasserrechtSonstige">
		<xs:annotation>
			<xs:documentation>Gebiete und Gebietsteile mit rechtlichen Bindungen nach anderen Fachgesetzen (soweit sie für den Schutz, die Pflege und die Entwicklung von Natur und Landschaft bedeutsam sind). Hier: Sonstige wasserrechtliche Flächen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="typ" type="LP_WasserrechtSonstigeTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Über eine CodeList definierter Typ des Schutzobjektes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
