model/xplangml/raumordnungsmodell/LP__MassnahmenNaturschutz.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Flächen, Erfordernisse und Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft (soweit nicht Gebiete und Gebietsteile zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft).</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="LP_AnpflanzungBindungErhaltung" substitutionGroup=":LP_Geometrieobjekt" type=":LP_AnpflanzungBindungErhaltungType">
    <annotation>
      <documentation>Festsetzungen zum Erhalten und Anpflanzen von Bäumen, Sträuchern und sonstigen Bepflanzungen in einem Planwerk mit landschaftplanerischen Festsetzungen. Die Festsetzungen können durch eine Spezifizierung eines Kronendurchmessers (z.B. für Baumpflanzungen), die Pflanztiefe und Mindesthöhe von Anpflanzungen (z.B. bei der Anpflanzung von Hecken) oder durch botanische Spezifizierung differenziert werden.</documentation>
    </annotation>
  </element>
  <complexType name="LP_AnpflanzungBindungErhaltungType">
    <complexContent>
      <extension base=":LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="massnahme" type=":XP_ABEMassnahmenTypenType">
            <annotation>
              <documentation>Art der Maßnahme</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="gegenstand" type=":XP_AnpflanzungBindungErhaltungsGegenstandType">
            <annotation>
              <documentation>Gegenständ eder Maßnahme</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kronendurchmesser" type="gml:LengthType">
            <annotation>
              <documentation>Durchmesser der Baumkrone bei zu erhaltenden Bäumen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="pflanztiefe" type="gml:LengthType">
            <annotation>
              <documentation>Pflanztiefe</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="istAusgleich" type="boolean">
            <annotation>
              <documentation>Gibt an, ob die Fläche oder Maßnahme zum Ausgleich von Eingriffen genutzt wird.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="pflanzart">
            <annotation>
              <documentation>Botanische Angabe der zu erhaltenden bzw. der zu pflanzenden Pflanzen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="mindesthoehe" type="gml:LengthType">
            <annotation>
              <documentation>Mindesthöhe einer Pflanze (z.B. Mindesthöhe einer zu pflanzenden Hecke)</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_Ausgleich" substitutionGroup=":LP_Geometrieobjekt" type=":LP_AusgleichType">
    <annotation>
      <documentation>Flächen und Maßnahmen zum Ausgleich von Eingriffen im Sinne des §8 und 8A BNatSchG (in Verbindung mit §1a BauGB, Ausgleichs- und Ersatzmaßnahmen).</documentation>
    </annotation>
  </element>
  <complexType name="LP_AusgleichType">
    <complexContent>
      <extension base=":LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type=":XP_SPEZieleType">
            <annotation>
              <documentation>Unterscheidung nach den Zielen "Schutz, Pflege" und "Entwicklung".</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="massnahme" type="string">
            <annotation>
              <documentation>Durchzuführende Maßnahme (Textform)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="massnahmeKuerzel" type="string">
            <annotation>
              <documentation>Kürzel der durchzuführenden Maßnahme.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_NutzungserfordernisRegelung" substitutionGroup=":LP_Geometrieobjekt" type=":LP_NutzungserfordernisRegelungType">
    <annotation>
      <documentation>Flächen mit Nutzungserfordernissen und Nutzungsregelungen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft.</documentation>
    </annotation>
  </element>
  <complexType name="LP_NutzungserfordernisRegelungType">
    <complexContent>
      <extension base=":LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type=":XP_SPEZieleType">
            <annotation>
              <documentation>Unterscheidung nach den Zielen "Schutz, Pflege" und "Entwicklung".</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="regelung" type=":LP_RegelungenType">
            <annotation>
              <documentation>Nutzungsregelung (Klassifikation).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="erfordernisRegelung" type="string">
            <annotation>
              <documentation>Nutzungserfordernis oder -Regelung (Textform).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="erfordernisRegelungKuerzel" type="string">
            <annotation>
              <documentation>Nutzungserfordernis oder -Regelung (Kürzel).</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="LP_RegelungenType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="LP_SchutzPflegeEntwicklung" substitutionGroup=":LP_Geometrieobjekt" type=":LP_SchutzPflegeEntwicklungType">
    <annotation>
      <documentation>Sonstige Flächen und Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft, soweit sie nicht durch die Klasse LP_NutzungserfordernisRegelung modelliert werden.</documentation>
    </annotation>
  </element>
  <complexType name="LP_SchutzPflegeEntwicklungType">
    <complexContent>
      <extension base=":LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type=":XP_SPEZieleType">
            <annotation>
              <documentation>Unterscheidung nach den Zielen "Schutz, Pflege" und "Entwicklung".</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="massnahme" type=":XP_SPEMassnahmenTypenType">
            <annotation>
              <documentation>Durchzuführende Maßnahme (Klassifikation).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="massnahmeText" type="string">
            <annotation>
              <documentation>Durchzuführende Maßnahme (Textform).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="massnahmeKuerzel" type="string">
            <annotation>
              <documentation>Kürzel der durchzuführenden Maßnahme.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="istAusgleich" type="boolean">
            <annotation>
              <documentation>Gibt an, ob die Maßnahme zum Ausgleich von Eingriffen genutzt wird.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_Zwischennutzung" substitutionGroup=":LP_Geometrieobjekt" type=":LP_ZwischennutzungType">
    <annotation>
      <documentation>Flächen und Maßnahmen mit zeitlich befristeten Bindungen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft ("Zwischennutzungsvorgaben").</documentation>
    </annotation>
  </element>
  <complexType name="LP_ZwischennutzungType">
    <complexContent>
      <extension base=":LP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="ziel" type=":XP_SPEZieleType">
            <annotation>
              <documentation>Unterscheidung nach den Zielen "Schutz, Pflege" und "Entwicklung".</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bindung" type="string">
            <annotation>
              <documentation>Beschreibung der Bindung (Textform).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bindungKuerzel" type="string">
            <annotation>
              <documentation>Beschreibung der Bindung (Kürzel).</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
