model/xplangml/raumordnungsmodell/LP__Basisobjekte.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Dies Paket enthält die Basisklassen des Kernmodells Landschaftsplanung.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="LP_Bereich" substitutionGroup=":XP_Bereich" type=":LP_BereichType">
    <annotation>
      <documentation>Ein Bereich eines Landschaftsplans.</documentation>
    </annotation>
  </element>
  <complexType name="LP_BereichType">
    <complexContent>
      <extension base=":XP_BereichType">
        <sequence>
          <element name="gehoertZuPlan" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:LP_Plan</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:bereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rasterAenderung"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="LP_Flaechenobjekt" substitutionGroup=":LP_Objekt" type=":LP_FlaechenobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Landschaftsplans mit flächenhaftem Raumbezug (eine Einzelfläche oder eine Menge von Flächen, die sich nicht überlappen dürfen).</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LP_FlaechenobjektType">
    <complexContent>
      <extension base=":LP_ObjektType">
        <sequence>
          <element name="position" type=":XP_FlaechengeometriePropertyType">
            <annotation>
              <documentation>Flächenhafter Raumbezug des Objektes (Eine Einzelfläche oder eine Menge von Flächen, die sich nicht überlappen dürfen). .</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="LP_Geometrieobjekt" substitutionGroup=":LP_Objekt" type=":LP_GeometrieobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Landschaftsplans mit variablem Raumbezug. Ein konkretes Objekt muss entweder punktförmigen, linienförmigen oder flächenhaften Raumbezug haben, gemischte Geometrie ist nicht zugelassen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LP_GeometrieobjektType">
    <complexContent>
      <extension base=":LP_ObjektType">
        <sequence>
          <element name="position" type=":XP_VariableGeometriePropertyType">
            <annotation>
              <documentation>Raumbezug - Entweder punktförmig, linienförmig oder flächenhaft, gemischte Geometrie ist nicht zugelassen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="LP_Linienobjekt" substitutionGroup=":LP_Objekt" type=":LP_LinienobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Landschaftsplans mit linienförmigem Raumbezug (eine einzelne zusammenhängende Kurve, die aus Linienstücken und Kreisbögen zusammengesetzt sein kann, oder eine Menge derartiger Kurven).</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LP_LinienobjektType">
    <complexContent>
      <extension base=":LP_ObjektType">
        <sequence>
          <element name="position" type=":XP_LiniengeometriePropertyType">
            <annotation>
              <documentation>Linienförmiger Raumbezug (Einzelne zusammenhängende Kurve, die aus Linienstücken und Kreisbögen aufgebaut sit, oder eine Menge derartiger Kurven),</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="LP_Objekt" substitutionGroup=":XP_Objekt" type=":LP_ObjektType">
    <annotation>
      <documentation>Basisklasse für alle spezifischen Inhalte eines Landschaftsplans.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LP_ObjektType">
    <complexContent>
      <extension base=":XP_ObjektType">
        <sequence>
          <element minOccurs="0" name="status" type=":LP_StatusType">
            <annotation>
              <documentation>Rechtliche Charakterisierung des Planinhalts.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="konkretisierung" type="string">
            <annotation>
              <documentation>Textliche Konkretisierung der rechtlichen Charakterisierung.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="LP_Plan" substitutionGroup=":XP_Plan" type=":LP_PlanType">
    <annotation>
      <documentation>Die Klasse modelliert ein Planwerk mit landschaftsplanerischen Festlegungen, Darstellungen bzw. Festsetzungen.</documentation>
    </annotation>
  </element>
  <complexType name="LP_PlanType">
    <complexContent>
      <extension base=":XP_PlanType">
        <sequence>
          <element name="bundesland" type=":XP_BundeslaenderType">
            <annotation>
              <documentation>Zuständiges Bundesland</documentation>
            </annotation>
          </element>
          <element name="rechtlicheAussenwirkung" type="boolean">
            <annotation>
              <documentation>Gibt an, ob der Plan eine rechtliche Außenwirkung hat.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="planArt">
            <annotation>
              <documentation>Typ des vorliegenden Landschaftsplans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstPlanArt">
            <annotation>
              <documentation>Spezifikation einer "Sonstigen Planart", wenn kein Plantyp aus der Enumeration LP_PlanArt zutreffend ist.</documentation>
            </annotation>
          </element>
          <element name="planungstraegerGKZ" type="string">
            <annotation>
              <documentation>Gemeindekennziffer des Planungsträgers.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="planungstraeger" type="string">
            <annotation>
              <documentation>Bezeichnung des Planungsträgers.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rechtsstand" type=":LP_RechtsstandType">
            <annotation>
              <documentation>Rechtsstand des Plans</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aufstellungsbeschlussDatum" type="date">
            <annotation>
              <documentation>Datum des Aufstellungsbeschlusses</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="auslegungsDatum" type="date">
            <annotation>
              <documentation>Datum der öffentlichen Auslegung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tOeBbeteiligungsDatum" type="date">
            <annotation>
              <documentation>Datum der Beteiligung der Träger öffentlicher Belange.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oeffentlichkeitsbeteiligungDatum" type="date">
            <annotation>
              <documentation>Datum der Öffentlichkeits-Beteiligung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aenderungenBisDatum" type="date">
            <annotation>
              <documentation>Datum, bis zum Planänderungen berücksichtigt wurden.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="entwurfsbeschlussDatum" type="date">
            <annotation>
              <documentation>Datum des Entwurfsbeschlusses.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="planbeschlussDatum" type="date">
            <annotation>
              <documentation>Datum des Planbeschlusses.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="inkrafttretenDatum" type="date">
            <annotation>
              <documentation>Datum des Inkrafttretens.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstVerfahrensDatum" type="date">
            <annotation>
              <documentation>Sonstiges Verfahrens-Datum.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="bereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:LP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:gehoertZuPlan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="LP_Punktobjekt" substitutionGroup=":LP_Objekt" type=":LP_PunktobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Landschaftsplans mit punktförmigem Raumbezug (Einzelpunkt oder Punktmenge).</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LP_PunktobjektType">
    <complexContent>
      <extension base=":LP_ObjektType">
        <sequence>
          <element name="position" type=":XP_PunktgeometriePropertyType">
            <annotation>
              <documentation>Punktförmiger Raumbezug (Einzelpunkt oder Punktmenge).</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="LP_RechtsstandType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="5000"/>
    </restriction>
  </simpleType>
  <simpleType name="LP_StatusType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Festsetzung im Landschaftsplan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Geplante Festsetzung im Landschaftsplan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Nachrichtliche Übernahmen im Landschaftsplan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Darstellungen und Kennzeichnungen im Landschaftsplan.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Planinhalt aus dem Bereich Naturschutzrecht, der in einem BPlan festgesetzt wird.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
</schema>
