model/xplangml/raumordnungsmodell/LP__Basisobjekte.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Dies Paket enthält die Basisklassen des Kernmodells Landschaftsplanung.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.xplanung.de/xplangml/4/1" schemaLocation="LP__Raster.xsd"/>
	<xs:include/>
	<xs:include/>
	<xs:include schemaLocation="XP_Enumerationen.xsd"/>
	<xs:include schemaLocation="XP_Basisobjekte.xsd"/>
	<xs:element name="LP_Linienobjekt" type="LP_Linienobjekt"/>
	<xs:complexType name="LP_Linienobjekt" abstract="true">
		<xs:annotation>
			<xs:documentation>Basisklasse für alle Objekte eines Landschaftsplans mit linienförmigem Raumbezug (eine einzelne zusammenhängende Kurve, die aus Linienstücken und Kreisbögen zusammengesetzt sein kann, oder eine Menge derartiger Kurven).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Objekt">
				<xs:sequence>
					<xs:element name="position" type="XP_Liniengeometrie" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Linienförmiger Raumbezug (Einzelne zusammenhängende Kurve, die aus Linienstücken und Kreisbögen aufgebaut sit, oder eine Menge derartiger Kurven),</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_Plan" type="LP_Plan"/>
	<xs:complexType name="LP_Plan">
		<xs:annotation>
			<xs:documentation>Die Klasse modelliert ein Planwerk mit landschaftsplanerischen Festlegungen, Darstellungen bzw. Festsetzungen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XP_Plan">
				<xs:sequence>
					<xs:element name="bundesland" type="XP_Bundeslaender" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zuständiges Bundesland</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rechtlicheAussenwirkung" type="Boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Gibt an, ob der Plan eine rechtliche Außenwirkung hat.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planArt" type="LP_PlanArt" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Typ des vorliegenden Landschaftsplans.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sonstPlanArt" type="LP_SonstPlanArt" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Spezifikation einer "Sonstigen Planart", wenn kein Plantyp aus der Enumeration LP_PlanArt zutreffend ist.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planungstraegerGKZ" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Gemeindekennziffer des Planungsträgers.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planungstraeger" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bezeichnung des Planungsträgers.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rechtsstand" type="LP_Rechtsstand" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rechtsstand des Plans</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aufstellungsbeschlussDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum des Aufstellungsbeschlusses</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="auslegungsDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum der öffentlichen Auslegung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tOeBbeteiligungsDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum der Beteiligung der Träger öffentlicher Belange.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="oeffentlichkeitsbeteiligungDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum der Öffentlichkeits-Beteiligung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aenderungenBisDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum, bis zum Planänderungen berücksichtigt wurden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="entwurfsbeschlussDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum des Entwurfsbeschlusses.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planbeschlussDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum des Planbeschlusses.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="inkrafttretenDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum des Inkrafttretens.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sonstVerfahrensDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Sonstiges Verfahrens-Datum.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bereich" type="LP_Bereich" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="LP_PlanArt">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Landschaftsprogramm">
				<xs:annotation>
					<xs:documentation>Die überörtlichen konkretisierten Ziele, Erfordernisse und Maßnahmen des Naturschutzes und der Landschaftspflege werden für den Bereich eines Landes im Landschaftsprogramm dargestellt (§ 10, Abs .1 BNatSchG)
Landschaftspflege werden für den Bereich eines Landes im Landschaftsprogramm o</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Landschaftsrahmenplan">
				<xs:annotation>
					<xs:documentation>Die überörtlichen konkretisierten Ziele, Erfordernisse und Maßnahmen des Naturschutzes und der Landschaftspflege werden für Teile des Landes in Landschaftsrahmenplänen dargestellt (§ 10, Abs .1 BNatSchG)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Landschaftsplan">
				<xs:annotation>
					<xs:documentation>Die für die örtliche Ebene konkretisierten Ziele, Erfordernisse und Maßnahmen des Naturschutzes und der Landschaftspflege werden auf der Grundlage der Landschaftsrahmenpläne für die Gebiete der Gemeinden in Landschaftsplänen  dargestellt. (§ 11, Abs .1 BNatSchG)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gruenordnungsplan">
				<xs:annotation>
					<xs:documentation>Die für die örtliche Ebene konkretisierten Ziele, Erfordernisse und Maßnahmen des Naturschutzes und der Landschaftspflege werden für Teile eines Gemeindegebiets in Grünordnungsplänen dargestellt. (§ 11, Abs .1  BNatSchG)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sonstiges">
				<xs:annotation>
					<xs:documentation>sonstige Planart</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LP_SonstPlanArt" type="LP_SonstPlanArt"/>
	<xs:complexType name="LP_SonstPlanArt">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LP_Punktobjekt" type="LP_Punktobjekt"/>
	<xs:complexType name="LP_Punktobjekt" abstract="true">
		<xs:annotation>
			<xs:documentation>Basisklasse für alle Objekte eines Landschaftsplans mit punktförmigem Raumbezug (Einzelpunkt oder Punktmenge).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Objekt">
				<xs:sequence>
					<xs:element name="position" type="XP_Punktgeometrie" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Punktförmiger Raumbezug (Einzelpunkt oder Punktmenge).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_Flaechenobjekt" type="LP_Flaechenobjekt"/>
	<xs:complexType name="LP_Flaechenobjekt" abstract="true">
		<xs:annotation>
			<xs:documentation>Basisklasse für alle Objekte eines Landschaftsplans mit flächenhaftem Raumbezug (eine Einzelfläche oder eine Menge von Flächen, die sich nicht überlappen dürfen).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Objekt">
				<xs:sequence>
					<xs:element name="position" type="XP_Flaechengeometrie" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Flächenhafter Raumbezug des Objektes (Eine Einzelfläche oder eine Menge von Flächen, die sich nicht überlappen dürfen). .</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="LP_Status">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Festsetzung">
				<xs:annotation>
					<xs:documentation>Festsetzung im Landschaftsplan</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Geplant">
				<xs:annotation>
					<xs:documentation>Geplante Festsetzung im Landschaftsplan</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NachrichtlichUebernommen">
				<xs:annotation>
					<xs:documentation>Nachrichtliche Übernahmen im Landschaftsplan</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DarstellungKennzeichnung">
				<xs:annotation>
					<xs:documentation>Darstellungen und Kennzeichnungen im Landschaftsplan.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FestsetzungInBPlan">
				<xs:annotation>
					<xs:documentation>Planinhalt aus dem Bereich Naturschutzrecht, der in einem BPlan festgesetzt wird.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigerStatus"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LP_TextAbschnitt" type="LP_TextAbschnitt"/>
	<xs:complexType name="LP_TextAbschnitt">
		<xs:annotation>
			<xs:documentation>Texlich formulierter Inhalt eines Landschaftsplans, der einen anderen Rechtscharakter als das zugrunde liegende Fachobjekt hat (Attribut rechtscharakter des Fachobjektes), oder dem Plan als Ganzes zugeordnet ist.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XP_TextAbschnitt">
				<xs:sequence>
					<xs:element name="status" type="LP_Status" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rechtscharakter des textlich formulierten Planinhalts.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="LP_Rechtsstand">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Aufstellungsbeschluss"/>
			<xs:enumeration value="Entwurf"/>
			<xs:enumeration value="Plan"/>
			<xs:enumeration value="Wirksamkeit"/>
			<xs:enumeration value="Untergegangen"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LP_Geometrieobjekt" type="LP_Geometrieobjekt"/>
	<xs:complexType name="LP_Geometrieobjekt" abstract="true">
		<xs:annotation>
			<xs:documentation>Basisklasse für alle Objekte eines Landschaftsplans mit variablem Raumbezug. Ein konkretes Objekt muss entweder punktförmigen, linienförmigen oder flächenhaften Raumbezug haben, gemischte Geometrie ist nicht zugelassen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LP_Objekt">
				<xs:sequence>
					<xs:element name="position" type="XP_VariableGeometrie" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Raumbezug - Entweder punktförmig, linienförmig oder flächenhaft, gemischte Geometrie ist nicht zugelassen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_Bereich" type="LP_Bereich"/>
	<xs:complexType name="LP_Bereich">
		<xs:annotation>
			<xs:documentation>Ein Bereich eines Landschaftsplans.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XP_Bereich">
				<xs:sequence>
					<xs:element name="rasterAenderung" type="LP_RasterplanAenderung" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="inhaltLPlan" type="LP_Objekt" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LP_Objekt" type="LP_Objekt"/>
	<xs:complexType name="LP_Objekt" abstract="true">
		<xs:annotation>
			<xs:documentation>Basisklasse für alle spezifischen Inhalte eines Landschaftsplans.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XP_Objekt">
				<xs:sequence>
					<xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rechtliche Charakterisierung des Planinhalts.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="konkretisierung" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Textliche Konkretisierung der rechtlichen Charakterisierung.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
