model/xplangml/raumordnungsmodell/RP__Basisobjekte.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xplan="http://www.xplan-raumordnung.de/model/xplangml/raumordnungsmodell" elementFormDefault="qualified">
  <annotation>
    <documentation>Dies Paket enthält die Basisobjekte des Raumordnungsplanschemas.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="RP_ArtType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Regionalplan.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Sachlicher Teilplan Regionalebene.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2001">
        <annotation>
          <documentation>Sachlicher Teilplan Landesebene.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Braunkohlenplan.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Landesweiter Raumordnungsplan.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Plan des Bundes für den Gesamtraum und die ausschließliche Wirtschaftszone (AWZ).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5001">
        <annotation>
          <documentation>Raumordnungsplan für das Bundesgebiet mit übergreifenden Standortkonzepten für Seehäfen, Binnenhäfen sowie Flughäfen gem. §17 Abs. 2 ROG</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Räumlicher Teilplan.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_BedeutsamkeitType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Regional Bedeutsam.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Überregional Bedeutsam.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Großräumig Bedeutsam.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Landesweit Bedeutsam.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Bundesweit Bedeutsam.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Europäisch Bedeutsam.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>International Bedeutsam.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8000">
        <annotation>
          <documentation>Flächenerschließend Bedeutsam.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9000">
        <annotation>
          <documentation>Herausragend Bedeutsam.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Bereich" substitutionGroup="xplan:XP_Bereich" type="xplan:RP_BereichType">
    <annotation>
      <documentation>Die Klasse RP_Bereich modelliert einen Bereich eines Raumordnungsplans. Bereiche strukturieren Pläne räumlich und inhaltlich.</documentation>
    </annotation>
  </element>
  <complexType name="RP_BereichType">
    <complexContent>
      <extension base="xplan:XP_BereichType">
        <sequence>
          <element minOccurs="0" name="versionBROG" type="date">
            <annotation>
              <documentation>Datum der zugrunde liegenden Version des ROG.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="versionBROGText" type="string">
            <annotation>
              <documentation>Titel der zugrunde liegenden Version des Bundesraumordnungsgesetzes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="versionLPLG" type="date">
            <annotation>
              <documentation>Datum des zugrunde liegenden Landesplanungsgesetzes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="versionLPLGText" type="string">
            <annotation>
              <documentation>Titel des zugrunde liegenden Landesplanungsgesetzes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="geltungsmassstab" type="integer">
            <annotation>
              <documentation>(Rechtlicher) Geltungsmaßstab des Bereichs.</documentation>
            </annotation>
          </element>
          <element name="gehoertZuPlan" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:RP_Plan</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:bereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rasterAenderung"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_GebietsTypType">
    <annotation>
      <documentation>Typen von Gebieten</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Vorranggebiete sind für bestimmte raumbedeutsame Funktionen oder Nutzungen vorgesehen. In ihnen sind andere raumbedeutsame Nutzungen ausgeschlossen, soweit diese mit den vorrangigen Funktionen, Nutzungen oder Zielen der Raumordnung nicht vereinbar sind.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Vorrangstandort.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Vorbehaltsgebiete sind Gebiete, in denen bestimmten raumbedeutsamen Funktionen oder Nutzungen bei der Abwägung mit konkurrierenden raumbedeutsamen Nutzungen besonderes Gewicht begemessen werden soll. Vorbehaltsgebiete besitzen den Charakter von Grundsätzen der Raumordnung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1101">
        <annotation>
          <documentation>Vorbehaltsstandort.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Eignungsgebiete steuern raumbedeutsame Maßnahmen im bauplanungsrechtlichen Außenbereich. Diese Maßnahmen sind außerhalb dieser Gebiete regelmäßig ausgeschlossen, z.B. die Planung und Einrichtung von Windkraftanlagen. 
Eignungsgebiete haben den Charakter von Zielen der Raumordnung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Vorrang und Eignungsgebiet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Ausschlussgebiet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Vorsorgegebiet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1501">
        <annotation>
          <documentation>Vorsorgestandort.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Vorzugsraum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1700">
        <annotation>
          <documentation>Potenzialgebiet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Schwerpunktraum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiges Gebiet.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element abstract="true" name="RP_Geometrieobjekt" substitutionGroup="xplan:RP_Objekt" type="xplan:RP_GeometrieobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte eines Raumordnungsplans mit variablem Raumbezug. Ein konkretes Objekt muss entweder punktförmigen, linienförmigen oder flächenhaften Raumbezug haben, gemischte Geometrie ist nicht zugelassen. RP_Geometrieobjekt selbst ist abstrakt.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="RP_GeometrieobjektType">
    <complexContent>
      <extension base="xplan:RP_ObjektType">
        <sequence>
          <!--<element name="position" type="xplan:XP_VariableGeometriePropertyType">-->
          <!-- Nach XPlan4.1, nicht nach EA-Schema-->
          <element name="position" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>Variabler Raumbezug.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="flaechenschluss" type="boolean">
            <annotation>
              <documentation>Zeigt an, ob für das Objekt Flächenschluss vorliegt.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="RP_Objekt" substitutionGroup="xplan:XP_Objekt" type="xplan:RP_ObjektType">
    <annotation>
      <documentation>RP_Objekt ist die Basisklasse für alle spezifischen Festlegungen eines Raumordnungsplans. Sie selbst ist abstrakt, d.h. sie wird selbst nicht als eigenes Objekt verwendet, sondern vererbt nur ihre Attribute an spezielle Klassen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="RP_ObjektType">
    <complexContent>
      <extension base="xplan:XP_ObjektType">
        <sequence>
          <element name="rechtscharakter" type="xplan:RP_RechtscharakterType">
            <annotation>
              <documentation>Rechtscharakter des Planinhalts.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="konkretisierung" type="string">
            <annotation>
              <documentation>Konkretisierung des Rechtscharakters.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="gebietsTyp" type="xplan:RP_GebietsTypType">
            <annotation>
              <documentation>Gebietstyp eines Objekts.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kuestenmeer" type="boolean">
            <annotation>
              <documentation>Zeigt an, ob das Objekt im Küstenmeer liegt.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="bedeutsamkeit" type="xplan:RP_BedeutsamkeitType">
            <annotation>
              <documentation>Bedeutsamkeit eines Objekts.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="istZweckbindung" type="boolean">
            <annotation>
              <documentation>Zeigt an, ob es sich bei diesem Objekt um eine Zweckbindung handelt.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_Plan" substitutionGroup="xplan:XP_Plan" type="xplan:RP_PlanType">
    <annotation>
      <documentation>Die Klasse RP_Plan modelliert einen Raumordnungsplan.</documentation>
    </annotation>
  </element>
  <complexType name="RP_PlanType">
    <complexContent>
      <extension base="xplan:XP_PlanType">
        <sequence>
          <element maxOccurs="unbounded" name="bundesland" type="xplan:XP_BundeslaenderType">
            <annotation>
              <documentation>Zuständige Bundesländer für den Plan.</documentation>
            </annotation>
          </element>
          <element name="planArt" type="xplan:RP_ArtType">
            <annotation>
              <documentation>Art des Raumordnungsplans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstPlanArt" type="gml:CodeType">
            <annotation>
              <documentation>Spezifikation einer weiteren Planart (CodeList) bei planArt == 9999.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="planungsregion" type="integer">
            <annotation>
              <documentation>Kennziffer der Planungsregion.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="teilabschnitt" type="integer">
            <annotation>
              <documentation>Kennziffer des Teilabschnittes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rechtsstand" type="xplan:RP_RechtsstandType">
            <annotation>
              <documentation>Rechtsstand des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="gml:CodeType">
            <annotation>
              <documentation>Status des Plans, definiert über eine CodeList.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aufstellungsbeschlussDatum" type="date">
            <annotation>
              <documentation>Datum des Aufstellungsbeschlusses.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="auslegungStartDatum" type="date">
            <annotation>
              <documentation>Start-Datum der öffentlichen Auslegung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="auslegungEndDatum" type="date">
            <annotation>
              <documentation>End-Datum der öffentlichen Auslegung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="traegerbeteiligungsStartDatum" type="date">
            <annotation>
              <documentation>Start-Datum der Trägerbeteiligung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="traegerbeteiligungsEndDatum" type="date">
            <annotation>
              <documentation>End-Datum der Trägerbeteiligung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aenderungenBisDatum" type="date">
            <annotation>
              <documentation>Datum, bis zu dem Planänderungen berücksichtigt wurden.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="entwurfsbeschlussDatum" type="date">
            <annotation>
              <documentation>Datum des Entwurfsbeschlusses</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="planbeschlussDatum" type="date">
            <annotation>
              <documentation>Datum des Planbeschlusses.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datumDesInkrafttretens" type="date">
            <annotation>
              <documentation>Datum des Inkrafttretens des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refUmweltbericht" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf den Umweltbericht</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refSatzung" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die Satzung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="verfahren">
            <annotation>
              <documentation>Verfahrensstatus des Plans.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refKarte" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf eine Karte, die im Bezug zum Plan steht.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="amtlicherSchluessel" type="integer">
            <annotation>
              <documentation>Amtlicher Schlüssel eines Plans auf Basis des  AGS-Schlüssels (Amtlicher Gemeindeschlüssel).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="bereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">xplan:RP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">xplan:gehoertZuPlan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_RechtscharakterType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Ziel der Raumordnung. Verbindliche räumliche und sachliche Festlegung zur Entwicklung, Ordnung und Sicherung des Raumes.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Grundsätze der Raumordnung sind nach §3 Abs. Aussagen zur Entwicklung, Ordnung und Sicherung des Raums als Vorgaben für nachfolgende Abwägungs- oder Ermessensentscheidungen. Grundsätze der Raumordnung können durch Gesetz oder Festlegungen in einem Raumordnungsplan (§7 Abs. 1 und 2, ROG) aufgestellt werden.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Nachrichtliche Übernahme.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Nachrichtliche Übernahme Ziel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Nachrichtliche Übernahme Grundsatz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Nur Informationsgehalt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Textliches Ziel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8000">
        <annotation>
          <documentation>Ziel und Grundsatz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9000">
        <annotation>
          <documentation>Vorschlag.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_RechtsstandType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Aufstellungsbeschluss.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Entwurf.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2001">
        <annotation>
          <documentation>Entwurf genehmigt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2002">
        <annotation>
          <documentation>Entwurf geändert.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2003">
        <annotation>
          <documentation>Entwurf aufgegeben.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2004">
        <annotation>
          <documentation>Entwurf ruht.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Plan.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Inkraftgetreten.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Allgemeine Planungsabsicht.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Außer Kraft.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Plan ungültig.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
