model/xplangml/raumordnungsmodell/RP__Basisobjekte.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Dies Paket enthält die Basisobjekte des Raumordnungsplanschemas.</xs:documentation>
	</xs:annotation>
	<xs:include/>
	<xs:include/>
	<xs:include/>
	<xs:include schemaLocation="XP_Enumerationen.xsd"/>
	<xs:include schemaLocation="RP_Raster.xsd"/>
	<xs:include schemaLocation="XP_Praesentationsobjekte.xsd"/>
	<xs:include schemaLocation="XP_Basisobjekte.xsd"/>
	<xs:element name="RP_TextAbschnitt" type="RP_TextAbschnitt"/>
	<xs:complexType name="RP_TextAbschnitt">
		<xs:annotation>
			<xs:documentation>Texlich formulierter Inhalt eines Raumordnungsplans, der einen anderen Rechtscharakter als das zugrunde liegende Fachobjekt hat (Attribut rechtscharakter des Fachobjektes), oder dem Plan als Ganzes zugeordnet ist.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XP_TextAbschnitt">
				<xs:sequence>
					<xs:element name="rechtscharakter" type="RP_Rechtscharakter" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rechtscharakter des textlich formulierten Planinhalts.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RP_Rechtsstand">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Aufstellungsbeschluss">
				<xs:annotation>
					<xs:documentation>Aufstellungsbeschluss.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Entwurf">
				<xs:annotation>
					<xs:documentation>Entwurf.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EntwurfGenehmigt">
				<xs:annotation>
					<xs:documentation>Entwurf genehmigt.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EntwurfGeaendert">
				<xs:annotation>
					<xs:documentation>Entwurf geändert.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EntwurfAufgegeben">
				<xs:annotation>
					<xs:documentation>Entwurf aufgegeben.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EntwurfRuht">
				<xs:annotation>
					<xs:documentation>Entwurf ruht.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Plan">
				<xs:annotation>
					<xs:documentation>Plan.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Inkraftgetreten">
				<xs:annotation>
					<xs:documentation>Inkraftgetreten.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AllgemeinePlanungsabsicht">
				<xs:annotation>
					<xs:documentation>Allgemeine Planungsabsicht.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AusserKraft">
				<xs:annotation>
					<xs:documentation>Außer Kraft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PlanUngueltig">
				<xs:annotation>
					<xs:documentation>Plan ungültig.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RP_Plan" type="RP_Plan"/>
	<xs:complexType name="RP_Plan">
		<xs:annotation>
			<xs:documentation>Die Klasse modelliert einen Raumordnungsplan.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XP_Plan">
				<xs:sequence>
					<xs:element name="bundesland" type="XP_Bundeslaender" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Zuständige Bundesländer</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planArt" type="RP_Art" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Art des Raumordnungsplans.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sonstPlanArt" type="RP_SonstPlanArt" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Spezifikation einer weiteren Planart (CodeList) bei planArt == 9999.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planungsregion" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kennziffer der Planungsregion.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="teilabschnitt" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kennziffer des Teilabschnittes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rechtsstand" type="RP_Rechtsstand" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rechtsstand des Plans.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="RP_Status" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Status des Plans, definiert über eine CodeList.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aufstellungsbeschlussDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum des Aufstellungsbeschlusses.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="auslegungStartDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Start-Datum der öffentlichen Auslegung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="auslegungEndDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>End-Datum der öffentlichen Auslegung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="traegerbeteiligungsStartDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Start-Datum der Trägerbeteiligung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="traegerbeteiligungsEndDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>End-Datum der Trägerbeteiligung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aenderungenBisDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum, bis zu dem Planänderungen berücksichtigt wurden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="entwurfsbeschlussDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum des Entwurfsbeschlusses</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="planbeschlussDatum" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum des Planbeschlusses.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="datumDesInkrafttretens" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum des Inkrafttretens des Plans.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="refUmweltbericht" type="XP_ExterneReferenz" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Referenz auf den Umweltbericht</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="refSatzung" type="XP_ExterneReferenz" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Referenz auf die Satzung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="verfahren" type="RP_Verfahren" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Verfahrensstatus des Plans.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="refKarte" type="XP_ExterneReferenz" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Referenz auf eine Karte, die im Bezug zum Plan steht.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="amtlicherSchluessel" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Amtlicher Schlüssel eines Plans auf Basis des  AGS-Schlüssels (Amtlicher Gemeindeschlüssel).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bereich" type="RP_Bereich" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RP_Bedeutsamkeit">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Regional">
				<xs:annotation>
					<xs:documentation>Regional Bedeutsam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ueberregional">
				<xs:annotation>
					<xs:documentation>Überregional Bedeutsam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Grossraeumig">
				<xs:annotation>
					<xs:documentation>Großräumig Bedeutsam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Landesweit">
				<xs:annotation>
					<xs:documentation>Landesweit Bedeutsam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Bundesweit">
				<xs:annotation>
					<xs:documentation>Bundesweit Bedeutsam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Europaeisch">
				<xs:annotation>
					<xs:documentation>Europäisch Bedeutsam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="International">
				<xs:annotation>
					<xs:documentation>International Bedeutsam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Flaechenerschliessend">
				<xs:annotation>
					<xs:documentation>Flächenerschließend Bedeutsam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Herausragend">
				<xs:annotation>
					<xs:documentation>Herausragend Bedeutsam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RP_Objekt" type="RP_Objekt"/>
	<xs:complexType name="RP_Objekt" abstract="true">
		<xs:annotation>
			<xs:documentation>Basisklasse für alle spezifischen Festlegungen eines Raumordnungsplans.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XP_Objekt">
				<xs:sequence>
					<xs:element name="rechtscharakter" type="RP_Rechtscharakter" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rechtscharakter des Planinhalts.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="konkretisierung" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Konkretisierung des Rechtscharakters.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gebietsTyp" type="RP_GebietsTyp" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Gebietstyp eines Objekts.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kuestenmeer" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zeigt an, ob das Objekt im Küstenmeer liegt.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bedeutsamkeit" type="RP_Bedeutsamkeit" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Bedeutsamkeit eines Objekts.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RP_Art">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Regionalplan">
				<xs:annotation>
					<xs:documentation>Regionalplan.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SachlicherTeilplanRegionalebene">
				<xs:annotation>
					<xs:documentation>Sachlicher Teilplan Regionalebene.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SachlicherTeilplanLandesebene">
				<xs:annotation>
					<xs:documentation>Sachlicher Teilplan Landesebene.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Braunkohlenplan">
				<xs:annotation>
					<xs:documentation>Braunkohlenplan.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LandesweiterRaumordnungsplan">
				<xs:annotation>
					<xs:documentation>Landesweiter Raumordnungsplan.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="StandortkonzeptBund">
				<xs:annotation>
					<xs:documentation>Plan des Bundes für den Gesamtraum und die ausschließliche Wirtschaftszone (AWZ).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AWZPlan">
				<xs:annotation>
					<xs:documentation>Raumordnungsplan für das Bundesgebiet mit übergreifenden Standortkonzepten für Seehäfen, Binnenhäfen sowie Flughäfen gem. §17 Abs. 2 ROG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RaeumlicherTeilplan">
				<xs:annotation>
					<xs:documentation>Räumlicher Teilplan.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sonstiges">
				<xs:annotation>
					<xs:documentation>Sonstiges.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_GebietsTyp">
		<xs:annotation>
			<xs:documentation>Typen von Gebieten</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Vorranggebiet">
				<xs:annotation>
					<xs:documentation>Vorranggebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vorrangstandort">
				<xs:annotation>
					<xs:documentation>Vorrangstandort.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vorbehaltsgebiet">
				<xs:annotation>
					<xs:documentation>Vorbehaltsgebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vorbehaltsstandort">
				<xs:annotation>
					<xs:documentation>Vorbehaltsstandort.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Eignungsgebiet">
				<xs:annotation>
					<xs:documentation>Eignungsgebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VorrangundEignungsgebiet">
				<xs:annotation>
					<xs:documentation>Vorrang und Eignungsgebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ausschlussgebiet">
				<xs:annotation>
					<xs:documentation>Ausschlussgebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vorsorgegebiet">
				<xs:annotation>
					<xs:documentation>Vorsorgegebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vorsorgestandort">
				<xs:annotation>
					<xs:documentation>Vorsorgestandort.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vorzugsraum">
				<xs:annotation>
					<xs:documentation>Vorzugsraum.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Potenzialgebiet">
				<xs:annotation>
					<xs:documentation>Potenzialgebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Schwerpunktraum">
				<xs:annotation>
					<xs:documentation>Schwerpunktraum.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigesGebiet">
				<xs:annotation>
					<xs:documentation>Sonstiges Gebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_Rechtscharakter">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="ZielDerRaumordnung">
				<xs:annotation>
					<xs:documentation>Ziel der Raumordnung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GrundsatzDerRaumordnung">
				<xs:annotation>
					<xs:documentation>Grundsatz der Raumordnung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NachrichtlicheUebernahme">
				<xs:annotation>
					<xs:documentation>Nachrichtliche Übernahme.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NachrichtlicheUebernahmeZiel">
				<xs:annotation>
					<xs:documentation>Nachrichtliche Übernahme Ziel.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NachrichtlicheUebernahmeGrundsatz">
				<xs:annotation>
					<xs:documentation>Nachrichtliche Übernahme Grundsatz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NurInformationsgehalt">
				<xs:annotation>
					<xs:documentation>Nur Informationsgehalt.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TextlichesZiel">
				<xs:annotation>
					<xs:documentation>Textliches Ziel.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZielundGrundsatz">
				<xs:annotation>
					<xs:documentation>Ziel und Grundsatz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vorschlag">
				<xs:annotation>
					<xs:documentation>Vorschlag.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RP_Geometrieobjekt" type="RP_Geometrieobjekt"/>
	<xs:complexType name="RP_Geometrieobjekt" abstract="true">
		<xs:annotation>
			<xs:documentation>Basisklasse für alle Objekte eines Raumordnungsplans mit variablem Raumbezug. Ein konkretes Objekt muss entweder punktförmigen, linienförmigen oder flächenhaften Raumbezug haben, gemischte Geometrie ist nicht zugelassen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Objekt">
				<xs:sequence>
					<xs:element name="position" type="XP_VariableGeometrie" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Variabler Raumbezug.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flaechenschluss" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zeigt an, ob für das Objekt Flächenschluss vorliegt.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_SonstPlanArt" type="RP_SonstPlanArt"/>
	<xs:complexType name="RP_SonstPlanArt">
		<xs:annotation>
			<xs:documentation>Aufzählung weiterer Arten eines Regionalplans.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="RP_Status" type="RP_Status"/>
	<xs:complexType name="RP_Status">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="RP_Bereich" type="RP_Bereich"/>
	<xs:complexType name="RP_Bereich">
		<xs:annotation>
			<xs:documentation>Die Klasse modelliert einen Bereich eines Raumordnungsplans.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XP_Bereich">
				<xs:sequence>
					<xs:element name="versionBROG" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum der zugrunde liegenden Version des ROG.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="versionBROGText" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Titel der zugrunde liegenden Version des Bundesraumordnungsgesetzes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="versionLPLG" type="Date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum des zugrunde liegenden Landesplanungsgesetzes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="versionLPLGText" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Titel des zugrunde liegenden Landesplanungsgesetzes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="geltungsmassstab" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>(Rechtlicher) Geltungsmaßstab des Bereichs.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rasterAenderung" type="RP_RasterplanAenderung" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="inhaltRPlan" type="RP_Objekt" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RP_Verfahren">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Aenderung">
				<xs:annotation>
					<xs:documentation>Änderung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Teilfortschreibung">
				<xs:annotation>
					<xs:documentation>Teilfortschreibung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Neuaufstellung">
				<xs:annotation>
					<xs:documentation>Neuaufstellung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gesamtfortschreibung">
				<xs:annotation>
					<xs:documentation>Gesamtfortschreibung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Aktualisierung">
				<xs:annotation>
					<xs:documentation>Aktualisierung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RP_Praesentationsobjekt" type="RP_Praesentationsobjekt"/>
	<xs:complexType name="RP_Praesentationsobjekt">
		<xs:annotation>
			<xs:documentation>Objekt enthält Daten zur Legende und Darstellung im Ursprungsplan.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XP_AbstraktesPraesentationsobjekt">
				<xs:sequence>
					<xs:element name="featureType" type="RP_FeatureTypeListe" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bezug auf einen FeatureType des Raumordnungsschemas von XPlan durch eine CodeList, um ein Präsentationsobjekt mit einer spezifischen Instanz eines FeatureTypes (nicht der Klasse) in Verbindung zu setzen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="legendenBezeichnung" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bezeichnung des XPlan-FeatureTypes in der Legende des dazugehörigen Plans.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reflegendenBild" type="XP_ExterneReferenz" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Referenz auf das Bild eines Planzeichens in der Legende eines Plans.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_FeatureTypeListe" type="RP_FeatureTypeListe"/>
	<xs:complexType name="RP_FeatureTypeListe">
		<xs:sequence/>
	</xs:complexType>
</xs:schema>
