model/xplangml/raumordnungsmodell/RP_Freiraum.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Festlegungen im Bereich Freiraumstruktur.</xs:documentation>
	</xs:annotation>
	<xs:include/>
	<xs:include schemaLocation="XP_Enumerationen.xsd"/>
	<xs:include schemaLocation="RP__Basisobjekte.xsd"/>
	<xs:simpleType name="RP_WasserschutzZonen">
		<xs:annotation>
			<xs:documentation>Wasserschutzzonen.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Zone1">
				<xs:annotation>
					<xs:documentation>Zone 1.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Zone2">
				<xs:annotation>
					<xs:documentation>Zone 2.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Zone3">
				<xs:annotation>
					<xs:documentation>Zone 3.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RP_Forstwirtschaft" type="RP_Forstwirtschaft"/>
	<xs:complexType name="RP_Forstwirtschaft">
		<xs:annotation>
			<xs:documentation>Forstwirtschaft</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_ForstwirtschaftTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Klassifikation von Forstwirtschaftstypen und Wäldern.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_Landwirtschaft" type="RP_Landwirtschaft"/>
	<xs:complexType name="RP_Landwirtschaft">
		<xs:annotation>
			<xs:documentation>Landwirtschaft</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_LandwirtschaftTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Klassifikation von Landwirtschaftstypen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_Wasserschutz" type="RP_Wasserschutz"/>
	<xs:complexType name="RP_Wasserschutz">
		<xs:annotation>
			<xs:documentation>Grund-, Trink- und Oberflächenwasserschutz</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="zone" type="RP_WasserschutzZonen" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Wasserschutzzone</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="typ" type="RP_WasserschutzTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Klassifikation des Wasserschutztyps.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_GruenzugGruenzaesur" type="RP_GruenzugGruenzaesur"/>
	<xs:complexType name="RP_GruenzugGruenzaesur">
		<xs:annotation>
			<xs:documentation>Grünzug/Grünzäsur.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_ZaesurTypen" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Klassifikation von Zäsurtypen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_Rohstoff" type="RP_Rohstoff"/>
	<xs:complexType name="RP_Rohstoff">
		<xs:annotation>
			<xs:documentation>Rohstoff, inklusive Rohstoffprospektion, Rohstoffsicherung, Bergbau und Bergbaufolgelandschaft.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="rohstoffTyp" type="RP_RohstoffTypen" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Abgebauter Rohstoff.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="folgenutzung" type="RP_BergbauFolgenutzung" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Klassifikation von Folgenutzungen bestimmter bergbaulicher Maßnahmen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="folgenutzungText" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Textliche Festlegungen und Spezifizierungen zur Folgenutzung einer Bergbauplanung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zeitstufe" type="RP_Zeitstufen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zeitstufe des Rohstoffabbaus.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zeitstufeText" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Textliche Spezifizierung einer Rohstoffzeitstufe, zum Beispiel kurzfristiger Abbau (Zeitstufe I) und langfristige Sicherung für mindestens 25-30 Jahre (Zeitstufe II).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tiefe" type="RP_BodenschatzTiefen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tiefe eines Rohstoffes</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bergbauplanungTyp" type="RP_BergbauplanungTypen" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Klassifikation von Bergbauplanungstypen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_Bodenschutz" type="RP_Bodenschutz"/>
	<xs:complexType name="RP_Bodenschutz">
		<xs:annotation>
			<xs:documentation>Bodenschutz.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_BodenschutzTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Klassifikation von Bodenschutztypen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_Gewaesser" type="RP_Gewaesser"/>
	<xs:complexType name="RP_Gewaesser">
		<xs:annotation>
			<xs:documentation>Gewässer</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="gewaesserTyp" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Spezifiziert den Typ des Gewässers.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_Hochwasserschutz" type="RP_Hochwasserschutz"/>
	<xs:complexType name="RP_Hochwasserschutz">
		<xs:annotation>
			<xs:documentation>Hochwasserschutz und vorbeugender Hochwasserschutz.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_HochwasserschutzTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Klassifikation von Hochwasserschutztypen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_Erholung" type="RP_Erholung"/>
	<xs:complexType name="RP_Erholung">
		<xs:annotation>
			<xs:documentation>Freizeit, Erholung und Tourismus.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typErholung" type="RP_ErholungTypen" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Klassifikation von Erholungstypen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="typTourismus" type="RP_TourismusTypen" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Klassifikation von Tourismustypen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="besondererTyp" type="RP_BesondereTourismusErholungTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Klassifikation von besonderen Typen für Tourismus und/oder Erholung.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_NaturschutzrechtlichesSchutzgebiet" type="RP_NaturschutzrechtlichesSchutzgebiet"/>
	<xs:complexType name="RP_NaturschutzrechtlichesSchutzgebiet">
		<xs:annotation>
			<xs:documentation>Schutzgebiet nach Bundes-Naturschutzgesetz.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="XP_KlassifizSchutzgebietNaturschutzrecht" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Klassifikation des Naturschutzgebietes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="istKernzone" type="Boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Gibt an, ob es sich um eine Kernzone handelt.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RP_RohstoffTypen">
		<xs:annotation>
			<xs:documentation>Typen von Rohstoffen.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Anhydritstein">
				<xs:annotation>
					<xs:documentation>Anhydritstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Baryt">
				<xs:annotation>
					<xs:documentation>Baryt.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BasaltDiabas">
				<xs:annotation>
					<xs:documentation>BasaltDiabas.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Bentonit">
				<xs:annotation>
					<xs:documentation>Bentonit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Blaehton">
				<xs:annotation>
					<xs:documentation>Blaehton.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Braunkohle">
				<xs:annotation>
					<xs:documentation>Braunkohle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Buntsandstein">
				<xs:annotation>
					<xs:documentation>Buntsandstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Diorit">
				<xs:annotation>
					<xs:documentation>Diorit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Dolomitstein">
				<xs:annotation>
					<xs:documentation>Dolomitstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Erdgas">
				<xs:annotation>
					<xs:documentation>Erdgas.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Erdoel">
				<xs:annotation>
					<xs:documentation>Erdöl.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Erz">
				<xs:annotation>
					<xs:documentation>Erz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Feldspat">
				<xs:annotation>
					<xs:documentation>Feldspat.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Festgestein">
				<xs:annotation>
					<xs:documentation>Festgestein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Flussspat">
				<xs:annotation>
					<xs:documentation>Flussspat.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gangquarz">
				<xs:annotation>
					<xs:documentation>Gangquarz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gipsstein">
				<xs:annotation>
					<xs:documentation>Gipsstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gneis">
				<xs:annotation>
					<xs:documentation>Gneis.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Granit">
				<xs:annotation>
					<xs:documentation>Granit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Grauwacke">
				<xs:annotation>
					<xs:documentation>Grauwacke.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KalkKalktuffKreide">
				<xs:annotation>
					<xs:documentation>KalkKalktuffKreide.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kalkmergelstein">
				<xs:annotation>
					<xs:documentation>Kalkmergelstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kalkstein">
				<xs:annotation>
					<xs:documentation>Kalkstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kaolin">
				<xs:annotation>
					<xs:documentation>Kaolin.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Karbonatgestein">
				<xs:annotation>
					<xs:documentation>Karbonatgestein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kies">
				<xs:annotation>
					<xs:documentation>Kies.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kieselgur">
				<xs:annotation>
					<xs:documentation>Kieselgur.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KieshaltigerSand">
				<xs:annotation>
					<xs:documentation>KieshaltigerSand.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KiesSand">
				<xs:annotation>
					<xs:documentation>KiesSand.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Klei">
				<xs:annotation>
					<xs:documentation>Klei.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kristallin">
				<xs:annotation>
					<xs:documentation>Kristallin.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kupfer">
				<xs:annotation>
					<xs:documentation>Kupfer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Lehm">
				<xs:annotation>
					<xs:documentation>Lehm.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Marmor">
				<xs:annotation>
					<xs:documentation>Marmor.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mergel">
				<xs:annotation>
					<xs:documentation>Mergel.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mergelstein">
				<xs:annotation>
					<xs:documentation>Mergelstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MikrogranitGranitporphyr">
				<xs:annotation>
					<xs:documentation>MikrogranitGranitporphyr.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Monzonit">
				<xs:annotation>
					<xs:documentation>Monzonit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Muschelkalk">
				<xs:annotation>
					<xs:documentation>Muschelkalk.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Naturstein">
				<xs:annotation>
					<xs:documentation>Naturstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Naturwerkstein">
				<xs:annotation>
					<xs:documentation>Naturwerkstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Oelschiefer">
				<xs:annotation>
					<xs:documentation>Ölschiefer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Pegmatitsand">
				<xs:annotation>
					<xs:documentation>Pegmatitsand.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Quarzit">
				<xs:annotation>
					<xs:documentation>Quarzit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Quarzsand">
				<xs:annotation>
					<xs:documentation>Quarzsand.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Rhyolith">
				<xs:annotation>
					<xs:documentation>Rhyolith.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RhyolithQuarzporphyr">
				<xs:annotation>
					<xs:documentation>RhyolithQuarzporphyr.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Salz">
				<xs:annotation>
					<xs:documentation>Salz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sand">
				<xs:annotation>
					<xs:documentation>Sand.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sandstein">
				<xs:annotation>
					<xs:documentation>Sandstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Spezialton">
				<xs:annotation>
					<xs:documentation>Spezialton.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SteineundErden">
				<xs:annotation>
					<xs:documentation>Steine und Erden.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Steinkohle">
				<xs:annotation>
					<xs:documentation>Steinkohle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ton">
				<xs:annotation>
					<xs:documentation>Ton.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Tonstein">
				<xs:annotation>
					<xs:documentation>Tonstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Torf">
				<xs:annotation>
					<xs:documentation>Torf.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TuffBimsstein">
				<xs:annotation>
					<xs:documentation>TuffBimsstein.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Uran">
				<xs:annotation>
					<xs:documentation>Uran.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vulkanit">
				<xs:annotation>
					<xs:documentation>Vulkanit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sonstiges">
				<xs:annotation>
					<xs:documentation>Sonstiges.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RP_NaturLandschaft" type="RP_NaturLandschaft"/>
	<xs:complexType name="RP_NaturLandschaft">
		<xs:annotation>
			<xs:documentation>Natur und Landschaft.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_NaturLandschaftTypen" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Klassifikation von Naturschutz, Landschaftsschutz und Naturlandschafttypen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_ErneuerbareEnergie" type="RP_ErneuerbareEnergie"/>
	<xs:complexType name="RP_ErneuerbareEnergie">
		<xs:annotation>
			<xs:documentation>Erneuerbare Energie inklusive Windenergienutzung</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_ErneuerbareEnergieTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Klassifikation von Typen Erneuerbarer Energie.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_Klimaschutz" type="RP_Klimaschutz"/>
	<xs:complexType name="RP_Klimaschutz">
		<xs:annotation>
			<xs:documentation>(Siedlungs-) Klimaschutz</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_LuftTypen" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Klassifikation von Lufttypen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_SonstigerFreiraumschutz" type="RP_SonstigerFreiraumschutz"/>
	<xs:complexType name="RP_SonstigerFreiraumschutz">
		<xs:annotation>
			<xs:documentation>Sonstiger Freiraumschutz.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_Kulturlandschaft" type="RP_Kulturlandschaft"/>
	<xs:complexType name="RP_Kulturlandschaft">
		<xs:annotation>
			<xs:documentation>Kulturlandschaft, kulturelle Sachgüter und Welterbestätten.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_KulturlandschaftTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Klassifikation von Kulturlandschaftstypen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RP_ForstwirtschaftTypen">
		<xs:annotation>
			<xs:documentation>Typen von Forstwirtschaft.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Wald">
				<xs:annotation>
					<xs:documentation>Wald.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Bannwald">
				<xs:annotation>
					<xs:documentation>Bannwald.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Schonwald">
				<xs:annotation>
					<xs:documentation>Schonwald.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Waldmehrung">
				<xs:annotation>
					<xs:documentation>Waldmehrung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WaldmehrungErholung">
				<xs:annotation>
					<xs:documentation>Waldmehrung für Erholung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VergroesserungDesWaldanteils">
				<xs:annotation>
					<xs:documentation>Vergrößerung des Waldanteils.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Waldschutz">
				<xs:annotation>
					<xs:documentation>Waldschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BesondereSchutzfunktionDesWaldes">
				<xs:annotation>
					<xs:documentation>Besondere Schutzfunktion des Waldes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VonAufforstungFreizuhalten">
				<xs:annotation>
					<xs:documentation>Von Aufforstung freizuhaltendes Gebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Erhaltungsflaeche">
				<xs:annotation>
					<xs:documentation>Erhaltungsfläche.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Entwicklungsflaeche">
				<xs:annotation>
					<xs:documentation>Entwicklungsfläche.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GruenflaecheUeberwWaldanteil">
				<xs:annotation>
					<xs:documentation>Grünfläche mit überwiegendem Waldanteil.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigeForstwirtschaft">
				<xs:annotation>
					<xs:documentation>Sonstige Forstwirtschaft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_BodenschutzTypen">
		<xs:annotation>
			<xs:documentation>Typen von Bodenschutz.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="BeseitigungErheblicherBodenbelastung">
				<xs:annotation>
					<xs:documentation>Beseitigung von erheblicher Bodenbelastung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SicherungSanierungAltlasten">
				<xs:annotation>
					<xs:documentation>Sicherung und/oder Sanierung von Altlasten.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Erosionsschutz">
				<xs:annotation>
					<xs:documentation>Erosionsschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigerBodenschutz">
				<xs:annotation>
					<xs:documentation>Sonstiger Bodenschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_BodenschatzTiefen">
		<xs:annotation>
			<xs:documentation>Tiefe von Bodenschätzen und/oder Abbau.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Oberflaechennah">
				<xs:annotation>
					<xs:documentation>Oberflächennaher Bodenschatz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Tiefliegend">
				<xs:annotation>
					<xs:documentation>Tiefliegender Bodenschatz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_ZaesurTypen">
		<xs:annotation>
			<xs:documentation>Typen von Zäsuren.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Gruenzug">
				<xs:annotation>
					<xs:documentation>Grünzug.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gruenzaesur">
				<xs:annotation>
					<xs:documentation>Grünzäsur.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Siedlungszaesur">
				<xs:annotation>
					<xs:documentation>Siedlungszäsur.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_BergbauplanungTypen">
		<xs:annotation>
			<xs:documentation>Typen der Bergbauplanung.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Lagerstaette">
				<xs:annotation>
					<xs:documentation>Lagerstätte.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sicherung">
				<xs:annotation>
					<xs:documentation>Sicherung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gewinnung">
				<xs:annotation>
					<xs:documentation>Gewinnung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Abbaubereich">
				<xs:annotation>
					<xs:documentation>Abbaubereich.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sicherheitszone">
				<xs:annotation>
					<xs:documentation>Sicherheitszone.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AnlageEinrichtungBergbau">
				<xs:annotation>
					<xs:documentation>Anlage und/oder Einrichtung des Bergbaus.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HaldeAufschuettungAblagerung">
				<xs:annotation>
					<xs:documentation>Halde, Aufschüttung und/oder Ablagerung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sanierungsflaeche">
				<xs:annotation>
					<xs:documentation>Sanierungsfläche.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AnsiedlungUmsiedlung">
				<xs:annotation>
					<xs:documentation>Ansiedlung und/oder Umsiedlung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Bergbaufolgelandschaft">
				<xs:annotation>
					<xs:documentation>Bergbaufolgelandschaft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigeBergbauplanung">
				<xs:annotation>
					<xs:documentation>Sonstige Bergbauplanung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_KulturlandschaftTypen">
		<xs:annotation>
			<xs:documentation>Typen von Kulturlandschaften.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="KulturellesSachgut">
				<xs:annotation>
					<xs:documentation>Kulturelles Sachgut.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Welterbe">
				<xs:annotation>
					<xs:documentation>Welterbe.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KulturerbeLandschaft">
				<xs:annotation>
					<xs:documentation>Landschaftliches Kulturerbe.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigeKulturlandschaftTypen">
				<xs:annotation>
					<xs:documentation>Sonstige Kulturlandschafttypen.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_LuftTypen">
		<xs:annotation>
			<xs:documentation>Lufttypen.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Kaltluft">
				<xs:annotation>
					<xs:documentation>Kaltluft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Frischluft">
				<xs:annotation>
					<xs:documentation>Frischluft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigeLufttypen">
				<xs:annotation>
					<xs:documentation>Sonstige Lufttypen.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_BergbauFolgenutzung">
		<xs:annotation>
			<xs:documentation>Bergbaufolgenutzung.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Landwirtschaft">
				<xs:annotation>
					<xs:documentation>Folgenutzung Landwirtschaft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Forstwirtschaft">
				<xs:annotation>
					<xs:documentation>Folgenutzung Forstwirtschaft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gruenlandbewirtschaftung">
				<xs:annotation>
					<xs:documentation>Folgenutzung Grünlandbewirtschaftung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NaturLandschaft">
				<xs:annotation>
					<xs:documentation>Folgenutzung NaturLandschaft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Naturschutz">
				<xs:annotation>
					<xs:documentation>Folgenutzung Naturschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Erholung">
				<xs:annotation>
					<xs:documentation>Folgenutzung Erholung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gewaesser">
				<xs:annotation>
					<xs:documentation>Folgenutzung Gewässer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Verkehr">
				<xs:annotation>
					<xs:documentation>Folgenutzung Verkehr.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Altbergbau">
				<xs:annotation>
					<xs:documentation>Folgenutzung Altbergbau.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigeNutzung">
				<xs:annotation>
					<xs:documentation>Sonstige Folgenutzung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_LandwirtschaftTypen">
		<xs:annotation>
			<xs:documentation>Typen von Landwirtschaft.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="AllgLandwirtschaftlNutzung">
				<xs:annotation>
					<xs:documentation>Allgemeine Landwirtschaftliche Nutzung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IntensivLandwirtschaft">
				<xs:annotation>
					<xs:documentation>Intensive Landwirtschaft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fischerei">
				<xs:annotation>
					<xs:documentation>Fischerei.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Weinbau">
				<xs:annotation>
					<xs:documentation>Weinbau.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Agrarbrache">
				<xs:annotation>
					<xs:documentation>Agrabrache.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AufGrundHohenErtragspotenzials"/>
			<xs:enumeration value="AufGrundBesondererFunktionen">
				<xs:annotation>
					<xs:documentation>Auf Grund besonderer Funktionen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BisherigerSiedlungsbereich">
				<xs:annotation>
					<xs:documentation>Bisheriger Siedlungsbereich.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gruenlandbewirtschaftung">
				<xs:annotation>
					<xs:documentation>Grünlandbewirtschaftung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigeLandwirtschaft">
				<xs:annotation>
					<xs:documentation>Sonstige Landwirtschaft</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_Zeitstufen">
		<xs:annotation>
			<xs:documentation>Zeitstufen von Rohstoffen.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Zeitstufe1">
				<xs:annotation>
					<xs:documentation>Zeitstufe 1.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Zeitstufe2">
				<xs:annotation>
					<xs:documentation>Zeitstufe 2.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_ErneuerbareEnergieTypen">
		<xs:annotation>
			<xs:documentation>Typen von Erneuerbarer Energie.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Windenergie">
				<xs:annotation>
					<xs:documentation>Windenergie.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Solarenergie">
				<xs:annotation>
					<xs:documentation>Solarenergie.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Geothermie">
				<xs:annotation>
					<xs:documentation>Geothermie.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Biomasse">
				<xs:annotation>
					<xs:documentation>Biomasse.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigeErneuerbareEnergie">
				<xs:annotation>
					<xs:documentation>Sonstige Erneuerbare Energie.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_WasserschutzTypen">
		<xs:annotation>
			<xs:documentation>Typen von Wasserschutz.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Wasserschutzgebiet">
				<xs:annotation>
					<xs:documentation>Wasserschutzgebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Grundwasserschutz">
				<xs:annotation>
					<xs:documentation>Grundwasserschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Grundwasservorkommen">
				<xs:annotation>
					<xs:documentation>Grundwasservorkommen.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Trinkwasserschutz">
				<xs:annotation>
					<xs:documentation>Trinkwasserschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Trinkwassergewinnung">
				<xs:annotation>
					<xs:documentation>Trinkwassergewinnung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EinzugsgebietTrinkwasser">
				<xs:annotation>
					<xs:documentation>Einzugsgebiet Trinkwasser.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EinzugsgebietTalsperre">
				<xs:annotation>
					<xs:documentation>Einzugsgebiet einer Talsperre.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Oberflaechenwasserschutz">
				<xs:annotation>
					<xs:documentation>Oberflächenwasserschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Heilquelle">
				<xs:annotation>
					<xs:documentation>Heilquelle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Wasserversorgung">
				<xs:annotation>
					<xs:documentation>Wasserversorgung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigerWasserschutz">
				<xs:annotation>
					<xs:documentation>Sonstiger Wasserschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_SportanlageTypen">
		<xs:annotation>
			<xs:documentation>Typen von Sportanlagen.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Sportanlage">
				<xs:annotation>
					<xs:documentation>Sportanlage.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Wassersport">
				<xs:annotation>
					<xs:documentation>Wassersport.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Motorsport">
				<xs:annotation>
					<xs:documentation>Motorsport.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Flugsport">
				<xs:annotation>
					<xs:documentation>Flugsport.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Reitsport">
				<xs:annotation>
					<xs:documentation>Reitsport.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Golfsport">
				<xs:annotation>
					<xs:documentation>Golfsport.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sportzentrum">
				<xs:annotation>
					<xs:documentation>Sportzentrum.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigeSportanlage">
				<xs:annotation>
					<xs:documentation>Sonstige Sportanlage.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_HochwasserschutzTypen">
		<xs:annotation>
			<xs:documentation>Typen von Hochwasserschutz.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Hochwasserschutz">
				<xs:annotation>
					<xs:documentation>Hochwasserschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TechnischerHochwasserschutz">
				<xs:annotation>
					<xs:documentation>Technischer Hochwasserschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Hochwasserrueckhaltebecken">
				<xs:annotation>
					<xs:documentation>Hochwasserrückhaltebecken.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HochwasserrueckhaltebeckenPolder">
				<xs:annotation>
					<xs:documentation>Hochwasserrückhaltebecken: Polder.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HochwasserrueckhaltebeckenBauwerk">
				<xs:annotation>
					<xs:documentation>Hochwasserrückhaltebecken: Bauwerk.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RisikobereichHochwasser">
				<xs:annotation>
					<xs:documentation>Risikobereich Hochwasser.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kuestenhochwasserschutz">
				<xs:annotation>
					<xs:documentation>Küstenhochwasserschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Deich">
				<xs:annotation>
					<xs:documentation>Deich.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DeichgeschuetztesGebiet">
				<xs:annotation>
					<xs:documentation>Deichgeschütztes Gebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Deichrueckverlegung">
				<xs:annotation>
					<xs:documentation>Deichrückverlegung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sperrwerk">
				<xs:annotation>
					<xs:documentation>Sperrwerk.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HochwGefaehrdeteKuestenniederung">
				<xs:annotation>
					<xs:documentation>Hochwassergefährdete Küstenniederung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ueberschwemmungsgebiet">
				<xs:annotation>
					<xs:documentation>Überschwemmungsgebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UeberschwemmungsgefaehrdeterBereich">
				<xs:annotation>
					<xs:documentation>Überschwemmungsgefährdeter Bereich.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FreizuhaltenderFreiraumbereich">
				<xs:annotation>
					<xs:documentation>Freizuhaltender Freiraumbereich.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Retentionsraum">
				<xs:annotation>
					<xs:documentation>Retentionsraum.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PotenziellerRetentionsraum">
				<xs:annotation>
					<xs:documentation>Potenzieller Retentionsraum.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigerHochwasserschutz">
				<xs:annotation>
					<xs:documentation>Sonstiger Hochwasserschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_RadwegWanderwegTypen">
		<xs:annotation>
			<xs:documentation>Typen von Rad- und Wanderwegen.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Wanderweg">
				<xs:annotation>
					<xs:documentation>Wanderweg.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fernwanderweg">
				<xs:annotation>
					<xs:documentation>Fernwanderweg.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Radwandern">
				<xs:annotation>
					<xs:documentation>Radwandern.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fernradweg">
				<xs:annotation>
					<xs:documentation>Fernradweg.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Reiten">
				<xs:annotation>
					<xs:documentation>Reiten.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Wasserwandern">
				<xs:annotation>
					<xs:documentation>Wasserwandern.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigerWanderweg">
				<xs:annotation>
					<xs:documentation>Sonstiger Wanderweg.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_ErholungTypen">
		<xs:annotation>
			<xs:documentation>Typen von Erholung.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Erholung">
				<xs:annotation>
					<xs:documentation>Erholung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RuhigeErholungInNaturUndLandschaft">
				<xs:annotation>
					<xs:documentation>Ruhige Erholung in Natur und Landschaft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ErholungMitStarkerInanspruchnahmeDurchBevoelkerung">
				<xs:annotation>
					<xs:documentation>Erholung mit starker Inanspruchnahme durch die Bevölkerung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Erholungswald">
				<xs:annotation>
					<xs:documentation>Erholungswald.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Freizeitanlage">
				<xs:annotation>
					<xs:documentation>Freizeitanlage.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ErholungslandschaftAlpen">
				<xs:annotation>
					<xs:documentation>Erholungslandschaft in den Alpen.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigeErholung">
				<xs:annotation>
					<xs:documentation>Sonstige Erholung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_BesondereTourismusErholungTypen">
		<xs:annotation>
			<xs:documentation>Typen und Spezifierungen von besonderem Tourismus beziehungsweise besonderer Erholung.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Entwicklungsgebiet">
				<xs:annotation>
					<xs:documentation>Entwicklungsgebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kernbereich">
				<xs:annotation>
					<xs:documentation>Kernbereich.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BesondereEntwicklungsaufgabe">
				<xs:annotation>
					<xs:documentation>Besondere Entwicklungsaufgabe von Tourismus und/oder Erholung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RP_NaturLandschaftTypen">
		<xs:annotation>
			<xs:documentation>Typen von Natur und Landschaft.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="NaturLandschaft">
				<xs:annotation>
					<xs:documentation>NaturLandschaft.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NaturschutzLandschaftspflege">
				<xs:annotation>
					<xs:documentation>Naturschutz und Landschaftspflege.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NaturschutzLandschaftspflegeAufGewaessern">
				<xs:annotation>
					<xs:documentation>Naturschutz und Landschaftspflege auf Gewässern.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Flurdurchgruenung">
				<xs:annotation>
					<xs:documentation>Flurdurchgrünung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UnzerschnitteneRaeume">
				<xs:annotation>
					<xs:documentation>Unzerschnittene Räume.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UnzerschnitteneVerkehrsarmeRaeume">
				<xs:annotation>
					<xs:documentation>Unzerschnittene verkehrsarme Räume.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Feuchtgebiet">
				<xs:annotation>
					<xs:documentation>Feuchtgebiet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OekologischesVerbundssystem">
				<xs:annotation>
					<xs:documentation>Ökologisches Verbundssystem.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OekologischerRaum">
				<xs:annotation>
					<xs:documentation>Ökologischer Raum.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VerbesserungLandschaftsstrukturNaturhaushalt">
				<xs:annotation>
					<xs:documentation>Verbesserung der Landschaftsstruktur und des Naturhaushalts.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Biotop">
				<xs:annotation>
					<xs:documentation>Biotop.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Biotopverbund">
				<xs:annotation>
					<xs:documentation>Biotopverbund.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Biotopverbundachse">
				<xs:annotation>
					<xs:documentation>Biotopverbundsachse.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ArtenBiotopschutz">
				<xs:annotation>
					<xs:documentation>Arten- und/oder Biotopschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Regionalpark">
				<xs:annotation>
					<xs:documentation>Regionalpark.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KompensationEntwicklung">
				<xs:annotation>
					<xs:documentation>Kompensation für Entwicklung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GruenlandBewirtschaftungPflegeEntwicklung">
				<xs:annotation>
					<xs:documentation>Grünlandbewirtschaftung, -pflege und -entwicklung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Landschaftsstruktur">
				<xs:annotation>
					<xs:documentation>Landschaftsstruktur.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LandschaftsgebErholung">
				<xs:annotation>
					<xs:documentation>Landschaftsgebiet für Erholung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Landschaftspraegend">
				<xs:annotation>
					<xs:documentation>Landschaftsprägend.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SchutzderNatur">
				<xs:annotation>
					<xs:documentation>Schutz der Natur.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SchutzdesLandschaftsbildes">
				<xs:annotation>
					<xs:documentation>Schutz des Landschaftsbildes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Alpenpark">
				<xs:annotation>
					<xs:documentation>Alpenpark.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigerNaturLandschaftSchutz">
				<xs:annotation>
					<xs:documentation>Sonstiger NaturLandschaftsschutz.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RP_Sportanlage" type="RP_Sportanlage"/>
	<xs:complexType name="RP_Sportanlage">
		<xs:annotation>
			<xs:documentation>Sportanlagen und -bereiche.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_SportanlageTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Klassifikation von Sportanlagen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RP_RadwegWanderweg" type="RP_RadwegWanderweg"/>
	<xs:complexType name="RP_RadwegWanderweg">
		<xs:annotation>
			<xs:documentation>Radwege und Wanderwege.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Freiraum">
				<xs:sequence>
					<xs:element name="typ" type="RP_RadwegWanderwegTypen" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Klassifikation von Radwegen und Wanderwegen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RP_TourismusTypen">
		<xs:annotation>
			<xs:documentation>Typen von Tourismus.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Tourismus">
				<xs:annotation>
					<xs:documentation>Tourismus.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kuestenraum">
				<xs:annotation>
					<xs:documentation>Tourismus im Küstenraum.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SonstigerTourismus">
				<xs:annotation>
					<xs:documentation>Sonstiger Tourismus.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RP_Freiraum" type="RP_Freiraum"/>
	<xs:complexType name="RP_Freiraum">
		<xs:annotation>
			<xs:documentation>Allgemeines Freiraumobjekt.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RP_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="istAusgleichsgebiet" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zeigt an, ob das Objekt ein Ausgleichsgebiet ist.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="imVerbund" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zeigt an, ob das Objekt in einem (Freiraum-)Verbund liegt.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
