model/xplangml/raumordnungsmodell/RP_Infrastruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xplan="http://www.xplan-raumordnung.de/model/xplangml/raumordnungsmodell" elementFormDefault="qualified">
  <annotation>
    <documentation>Festlegungen im Bereich Infrastruktur.</documentation>
  </annotation>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="RP_AbfallTypenType">
    <annotation>
      <documentation>Abfalltypen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Siedlungsabfall.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Mineralstoffabfall.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Industrieabfall.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Sonderabfall.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Radioaktiver Abfall.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Abfall.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_AbfallentsorgungTypenType">
    <annotation>
      <documentation>Typen der Abfallentsorgung.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Beseitung beziehungsweise Entsorgung von Abfall.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Abfallbeseitigungsanlage</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1101">
        <annotation>
          <documentation>Zentrale Abfallbeseitungsanlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Deponie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Untertageeinlagerung von Abfall.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Behandlung von Abfall.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Kompostierung von Abfall.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Verbrennung von Abfall.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1700">
        <annotation>
          <documentation>Umladestation.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Standortsicherung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Abfallentsorgung.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_AbwasserTypenType">
    <annotation>
      <documentation>Typen von Abwasserinfrastruktur.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Kläranlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Zentrale Kläranlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1002">
        <annotation>
          <documentation>Großklärwerk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Hauptwasserableitung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Abwasserverwertungsfläche.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Abwasserbehandlungsanlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Abwasserinfrastruktur.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_BesondererSchienenverkehrTypenType">
    <annotation>
      <documentation>Typen von besonderem Schienenverkehr.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Eingleisig.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Zweigleisig.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1002">
        <annotation>
          <documentation>Mehrgleisig.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Schienenverkehrsinfrastruktur ohne Betrieb.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Schienenverkehrsinfrastruktur mit Fernverkehrsfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3001">
        <annotation>
          <documentation>Schienenverkehrsinfrastruktur mit Verknüpfungsfunktion für den öffentlichen Personennahverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Elektrischer Betrieb.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4001">
        <annotation>
          <documentation>Zu Elektrifizieren.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Verbesserung der Leistungsfähigkeit.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Räumliche Freihaltung entwidmeter Bahntrassen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6001">
        <annotation>
          <documentation>Nachnutzung stillgelegter Strecken.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Personenverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7001">
        <annotation>
          <documentation>Güterverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8000">
        <annotation>
          <documentation>Nahverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8001">
        <annotation>
          <documentation>Fernverkehr.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_BesondererStrassenverkehrTypenType">
    <annotation>
      <documentation>Typen von besonderem Straßenverkehr.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Zweistreifig.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Dreistreifig.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1002">
        <annotation>
          <documentation>Vierstreifig.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1003">
        <annotation>
          <documentation>Sechsstreifig.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Problembereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Grünbrückenquerungsmöglichkeit.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Energieversorgung" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_EnergieversorgungType">
    <annotation>
      <documentation>Infrastruktur zur Energieversorgung. Beinhaltet Energieerzeugung und die Belieferung von Verbrauchern mit Nutzenergie. Erneuerbare Energie wie Windkraft wird im Normalfall auf die Klasse RP_ErneuerbareEnergie im Unterpaket Freiraumstruktur zugeordnet. Je nach Kontext kann aber auch eine Zuordnung auf RP_Energieversorgung stattfinden.</documentation>
    </annotation>
  </element>
  <complexType name="RP_EnergieversorgungType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_EnergieversorgungTypenType">
            <annotation>
              <documentation>Klassifikation von Energieversorgungs-Einrichtungen.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="primaerenergieTyp" type="xplan:RP_PrimaerenergieTypenType">
            <annotation>
              <documentation>Klassifikation von der mit der Infrastruktur in Beziehung stehenden Primärenergie.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spannung" type="xplan:RP_SpannungTypenType">
            <annotation>
              <documentation>Klassifikation von Spannungen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_EnergieversorgungTypenType">
    <annotation>
      <documentation>Typen der Energieversorgung.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Leitungstrasse.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Hochspannungsleitung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1002">
        <annotation>
          <documentation>Kabeltrasse-Netzanbindung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Pipeline.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2001">
        <annotation>
          <documentation>Übergabestation.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Kraftwerk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3001">
        <annotation>
          <documentation>Großkraftwerk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3002">
        <annotation>
          <documentation>Energiegewinnung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Energiespeicherung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4001">
        <annotation>
          <documentation>Verstetigung-Speicherung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4002">
        <annotation>
          <documentation>Untergrundspeicher.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Umspannwerk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Raffinerie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Leitungsabbau.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Energieversorgung.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Entsorgung" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_EntsorgungType">
    <annotation>
      <documentation>Entsorgungs-Infrastruktur Beinhaltet Abfallentsorgung und Abwasserentsorgung.
Abfälle sind Gegenstände, Stoffe oder Rückstände, deren sich der Besitzer entledigen will. Sie können verwertet oder beseitigt werden.
Abwasser beinhaltet durch häuslichen, gewerblichen, landwirtschaftlichen oder sonstigen Gebrauch verunreinigtes Wasser sowie abfließendes Niederschlagswasser bzw. in die Kanalisation fließendes Wasser.</documentation>
    </annotation>
  </element>
  <complexType name="RP_EntsorgungType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typAE" type="xplan:RP_AbfallentsorgungTypenType">
            <annotation>
              <documentation>Klassifikation von Abfallentsorgung-Infrastruktur.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="abfallTyp" type="xplan:RP_AbfallTypenType">
            <annotation>
              <documentation>Klassifikation von mit der Entsorgungsinfrastruktur in Beziehung stehenden Abfalltypen</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="typAW" type="xplan:RP_AbwasserTypenType">
            <annotation>
              <documentation>Klassifikation von Abwasser-Infrastruktur.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="istAufschuettungAblagerung" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_Kommunikation" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_KommunikationType">
    <annotation>
      <documentation>Infrastruktur zur Telekommunikation, digitale Infrastruktur oder Kommunikationsinfrastruktur.</documentation>
    </annotation>
  </element>
  <complexType name="RP_KommunikationType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_KommunikationTypenType">
            <annotation>
              <documentation>Klassifikation von Kommunikations-Infrastruktur.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_KommunikationTypenType">
    <annotation>
      <documentation>Typen von Kommunikationsinfrastruktur.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Richtfunkstrecke.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Fernmeldeanlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2001">
        <annotation>
          <documentation>Sende- und/oder Empfangsstation.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2002">
        <annotation>
          <documentation>Ton- und/oder Fernsehsender.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Kommunikationstypen.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_LaermschutzBauschutz" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_LaermschutzBauschutzType">
    <annotation>
      <documentation>Infrastruktur zum Lärmschutz und/oder Bauschutz.</documentation>
    </annotation>
  </element>
  <complexType name="RP_LaermschutzBauschutzType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_LaermschutzTypenType">
            <annotation>
              <documentation>Klassifikation von Lärmschutztypen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_LaermschutzTypenType">
    <annotation>
      <documentation>Typen von Lärmschutz.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Lärmbereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Lärmschutzbereich</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Siedlungsbeschränkungsbereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Zone A.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Zone B.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Zone C.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Lärmschutz oder Bauschutz.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Luftverkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_LuftverkehrType">
    <annotation>
      <documentation>Luftverkehr-Infrastruktur ist Infrastruktur, die  im Zusammenhang mit der Beförderung von Personen, Gepäck, Fracht und Post mit staatlich zugelassenen Luftfahrzeugen, besonders Flugzeugen steht.</documentation>
    </annotation>
  </element>
  <complexType name="RP_LuftverkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_LuftverkehrTypenType">
            <annotation>
              <documentation>Klassifikation von Luftverkehr-Infrastruktur.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_LuftverkehrTypenType">
    <annotation>
      <documentation>Typen von Luftverkehr.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Flughafen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Verkehrsflughafen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1002">
        <annotation>
          <documentation>Regionalflughafen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1003">
        <annotation>
          <documentation>Internationaler Flughafen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1004">
        <annotation>
          <documentation>Internationaler Verkehrsflughafen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1005">
        <annotation>
          <documentation>Flughafenentwicklung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Flugplatz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2001">
        <annotation>
          <documentation>Regionalflugplatz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2002">
        <annotation>
          <documentation>Segelflugplatz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2003">
        <annotation>
          <documentation>Sonstiger Flugplatz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Bauschutzbereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Militärflughafen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Landeplatz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5001">
        <annotation>
          <documentation>Verkehrslandeplatz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5002">
        <annotation>
          <documentation>Hubschrauberlandeplatz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5003">
        <annotation>
          <documentation>Landebahn.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Luftverkehr.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_PrimaerenergieTypenType">
    <annotation>
      <documentation>Typen der Primärenergie.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Erdöl.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Gas.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2001">
        <annotation>
          <documentation>Ferngas.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Fernwärme.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Kraftstoff.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Kohle.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Wasser.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Kernenergie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8000">
        <annotation>
          <documentation>Reststoffverwertung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9000">
        <annotation>
          <documentation>Erneuerbare Energie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9001">
        <annotation>
          <documentation>Windenergie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Primärenergie.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Schienenverkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_SchienenverkehrType">
    <annotation>
      <documentation>Schienenverkehr-Infrastruktur.</documentation>
    </annotation>
  </element>
  <complexType name="RP_SchienenverkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_SchienenverkehrTypenType">
            <annotation>
              <documentation>Klassifikation von Schienenverkehr-Infrastruktur.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="besondererTyp" type="xplan:RP_BesondererSchienenverkehrTypenType">
            <annotation>
              <documentation>Klassifikation von besonderer Schienenverkehr-Infrastruktur.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_SchienenverkehrTypenType">
    <annotation>
      <documentation>Typen von Schienenverkehr.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Schienenverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Eisenbahnstrecke.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1002">
        <annotation>
          <documentation>Haupteisenbahnstrecke.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Trasse.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Schienennetz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Stadtbahn.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1301">
        <annotation>
          <documentation>Straßenbahn.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1302">
        <annotation>
          <documentation>S-Bahn.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1303">
        <annotation>
          <documentation>U-Bahn.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Anschlussgleis für Industrie und Gewerbe.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Haltepunkt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Bahnhof.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1700">
        <annotation>
          <documentation>Hochgeschwindigkeitsverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Bahnbetriebsgelände.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1801">
        <annotation>
          <documentation>Anlage mit großem Flächenbedarf.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Schienenverkehr.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_SonstVerkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_SonstVerkehrType">
    <annotation>
      <documentation>Sonstige Verkehrsinfrastruktur, die sich nicht eindeutig einem anderen Typ zuordnen lässt.</documentation>
    </annotation>
  </element>
  <complexType name="RP_SonstVerkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_SonstVerkehrTypenType">
            <annotation>
              <documentation>Sonstige Klassifikation von Verkehrs-Infrastruktur.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_SonstVerkehrTypenType">
    <annotation>
      <documentation>Typen von sonstigem Verkehr.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Verkehrsanlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Güterverkehrszentrum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Logistikzentrum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Terminal des kombinierten Verkehrs.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>ÖPNV.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Verknüpfungspunkt Bahn-Bus.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Park-and-Ride und/oder Bike-and-Ride.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1700">
        <annotation>
          <documentation>Fährverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Infrastrukturkorridor.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1900">
        <annotation>
          <documentation>Tunnel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Neue Verkehrstechniken.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Verkehr.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_SonstigeInfrastruktur" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_SonstigeInfrastrukturType">
    <annotation>
      <documentation>Sonstige Infrastruktur.</documentation>
    </annotation>
  </element>
  <complexType name="RP_SonstigeInfrastrukturType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_SozialeInfrastruktur" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_SozialeInfrastrukturType">
    <annotation>
      <documentation>Soziale Infrastruktur ist ein (unpräziser) Sammelbegriff für Einrichtungen, Leistungen und Dienste in den Kommunen, distinkt von Verkehr, Energieversorgung und Entsorgung. Sie umfasst u.a. Bildung, Gesundheit, Sozialeinrichtungen, Kultureinrichtungen und Einrichtungen der öffentlichen Verwaltung.</documentation>
    </annotation>
  </element>
  <complexType name="RP_SozialeInfrastrukturType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_SozialeInfrastrukturTypenType">
            <annotation>
              <documentation>Klassifikation von Sozialer Infrastruktur.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_SozialeInfrastrukturTypenType">
    <annotation>
      <documentation>Typen von Sozialer Infrastruktur.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Kulturbezogene Infrastruktur.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Sozialeinrichtung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Gesundheitsinfrastruktur.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3001">
        <annotation>
          <documentation>Krankenhaus.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Bildungs- und/oder Forschungsinfrastruktur.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4001">
        <annotation>
          <documentation>Hochschule.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Polizeiliche Infrastruktur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Soziale Infrastruktur.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_SpannungTypenType">
    <annotation>
      <documentation>Spannungstypen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>110 Kilovolt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>220 Kilovolt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>330 Kilovolt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>380 Kilovolt.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Strassenverkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_StrassenverkehrType">
    <annotation>
      <documentation>Strassenverkehr-Infrastruktur.</documentation>
    </annotation>
  </element>
  <complexType name="RP_StrassenverkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_StrassenverkehrTypenType">
            <annotation>
              <documentation>Klassifikation von Strassenverkehr-Infrastruktur.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="besondererTyp" type="xplan:RP_BesondererStrassenverkehrTypenType">
            <annotation>
              <documentation>Klassifikation von besonderer Strassenverkehr-Infrastruktur.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_StrassenverkehrTypenType">
    <annotation>
      <documentation>Typen von Straßenverkehr.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Straßenverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Hauptverkehrsstraße.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1002">
        <annotation>
          <documentation>Autobahn.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1003">
        <annotation>
          <documentation>Bundesstraße.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1004">
        <annotation>
          <documentation>Staatsstraße.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1005">
        <annotation>
          <documentation>Landesstraße.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1006">
        <annotation>
          <documentation>Kreisstraße.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1007">
        <annotation>
          <documentation>Fernstraße.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Trasse.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Straßennetz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Busverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Anschlussstelle.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Straßentunnel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Straßenverkehr.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Verkehr" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_VerkehrType">
    <annotation>
      <documentation>Enthält allgemeine Verkehrs-Infrastruktur, die auch multiple Typen (etwa Straße und Schiene) beinhalten kann. Die Klasse selbst vererbt an spezialisierte Verkehrsarten, ist aber nicht abstrakt (d.h. sie kann selbst auch verwendet werden).</documentation>
    </annotation>
  </element>
  <complexType name="RP_VerkehrType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="allgemeinerTyp" type="xplan:RP_VerkehrTypenType">
            <annotation>
              <documentation>Allgemeine Klassifikation der Verkehrs-Arten.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="status" type="xplan:RP_VerkehrStatusType">
            <annotation>
              <documentation>Klassifikation von Verkehrsstati.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bezeichnung" type="string">
            <annotation>
              <documentation>Bezeichnung eines Verkehrstyps.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_VerkehrStatusType">
    <annotation>
      <documentation>Verkehrsstati.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Ausbau.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Linienführung offen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Sicherung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Neubau.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Im Bau befindliche Verkehrsinfrastruktur.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Vorhandene planfestgestellte linienbestimmte Grobtrasse.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Bedarfsplanmassnahme ohne räumliche Festlegung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Korridor.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8000">
        <annotation>
          <documentation>Verlegung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Verkehrsstatus.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_VerkehrTypenType">
    <annotation>
      <documentation>Allgemeine Verkehrstypen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Schienenverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Straßenverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Luftverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Wasserverkehr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Verkehr.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Wasserverkehr" substitutionGroup="xplan:RP_Verkehr" type="xplan:RP_WasserverkehrType">
    <annotation>
      <documentation>Wasserverkehr-Infrastruktur.</documentation>
    </annotation>
  </element>
  <complexType name="RP_WasserverkehrType">
    <complexContent>
      <extension base="xplan:RP_VerkehrType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_WasserverkehrTypenType">
            <annotation>
              <documentation>Klassifikation von Wasserverkehr-Infrastruktur.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_WasserverkehrTypenType">
    <annotation>
      <documentation>Typen von Wasserverkehr.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Hafen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Seehafen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1002">
        <annotation>
          <documentation>Binnenhafen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1003">
        <annotation>
          <documentation>Sportboothafen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1004">
        <annotation>
          <documentation>Lände.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Umschlagplatz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Schleuse und/oder Hebewerk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Schifffahrt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4001">
        <annotation>
          <documentation>Wichtiger Schifffahrtsweg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4002">
        <annotation>
          <documentation>Sonstiger Schifffahrtsweg.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4003">
        <annotation>
          <documentation>Wasserstraße.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Reede.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Wasserverkehr.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Wasserwirtschaft" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_WasserwirtschaftType">
    <annotation>
      <documentation>Wasserwirtschaft beinhaltet die zielbewusste Ordnung aller menschlichen Einwirkungen auf das ober- und unterirdische Wasser. Im Datenschema werden Gewässer, Wasserschutz, Hochwasserschutz und Wasserverkehr in gesonderten Klassen gehalten.</documentation>
    </annotation>
  </element>
  <complexType name="RP_WasserwirtschaftType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_WasserwirtschaftTypenType">
            <annotation>
              <documentation>Klassifikation von Anlagen und Einrichtungen der Wasserwirtschaft</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_WasserwirtschaftTypenType">
    <annotation>
      <documentation>Typen von Wasserwirtschaftsinfrastruktur.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Wasserleitung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Wasserwerk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Staudamm und/oder Deich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Speicherbecken.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Rückhaltebecken.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Talsperre.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Pumpwerk und/oder Schöpfwerk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Wasserwirtschaft.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
