model/xplangml/raumordnungsmodell/RP_Siedlungsstruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xplan="http://www.xplan-raumordnung.de/model/xplangml/raumordnungsmodell" elementFormDefault="qualified">
  <annotation>
    <documentation>Festlegungen im Bereich Siedlungsstruktur.</documentation>
  </annotation>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="RP_Achse" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_AchseType">
    <annotation>
      <documentation>Achsen bündeln i.d.R. Verkehrs- und Versorgungsinfrastruktur und enthalten eine relativ dichte Folge von Siedlungskonzentrationen und Zentralen Orten.</documentation>
    </annotation>
  </element>
  <complexType name="RP_AchseType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_AchsenTypenType">
            <annotation>
              <documentation>Klassifikation verschiedener Achsen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_AchsenTypenType">
    <annotation>
      <documentation>Typen von Achsen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Achsen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Siedlungsachsen sind Achsen in Verdichtungsräumen, oft entlang von Strecken des öffentlichen Nahverkehrs.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Entwicklungsachse.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3001">
        <annotation>
          <documentation>Landesentwicklungsachse.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3002">
        <annotation>
          <documentation>Verbindungsachsen sind durch Verkehrsbeziehungen zwischen zentralen Orten verschiedener Stufen gekennzeichnet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3003">
        <annotation>
          <documentation>Entwicklungskorridor.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Abgrenzung von Entwicklungs- und Entlastungsorten.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Achsengrundrichtung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Äußerer Achsenschwerpunkt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Achse.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_BesondereRaumkategorieTypenType">
    <annotation>
      <documentation>Besondere Typen von Raumkategorien.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Grenzgebiete.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Bergbaufolgelandschaft.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Braunkohlenfolgelandschaften.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Einzelhandel" substitutionGroup="xplan:RP_Siedlung" type="xplan:RP_EinzelhandelType">
    <annotation>
      <documentation>Einzelhandelsstruktur und -funktionen.</documentation>
    </annotation>
  </element>
  <complexType name="RP_EinzelhandelType">
    <complexContent>
      <extension base="xplan:RP_SiedlungType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_EinzelhandelTypenType">
            <annotation>
              <documentation>Klassifikation von Einzelhandelstypen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_EinzelhandelTypenType">
    <annotation>
      <documentation>Typen von Einzelhandel.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Einzelhandel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Zentraler Versorgungsbereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Zentraler Einkaufsbereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Zentrenrelevantes Großprojekt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Nichtzentrenrelevantes Großprojekt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Großflächiger Einzelhandel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Fachmarktstandort.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8000">
        <annotation>
          <documentation>Ergänzungsstandort.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9000">
        <annotation>
          <documentation>Städtischer Kernbereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Einzelhandel.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Funktionszuweisung" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_FunktionszuweisungType">
    <annotation>
      <documentation>Gebiets- und Gemeindefunktionen.</documentation>
    </annotation>
  </element>
  <complexType name="RP_FunktionszuweisungType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" name="typ" type="xplan:RP_FunktionszuweisungTypenType">
            <annotation>
              <documentation>Klassifikation des Gebietes nach Bundesraumordnungsgesetz.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bezeichnung" type="string">
            <annotation>
              <documentation>Bezeichnung und/oder Erörterung einer Gebietsfunktion.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_FunktionszuweisungTypenType">
    <annotation>
      <documentation>Typen von Funktionszuweisungen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Wohnfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Arbeitsfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Gewerbe- und/oder Dienstleistungsfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Einzelhandelsfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Landwirtschaftliche Funktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Erholungs-, Fremdenverkehrs- und/oder Tourismusfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Verteidigungsfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8000">
        <annotation>
          <documentation>Überörtliche Versorgungsfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Funktion.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_IndustrieGewerbe" substitutionGroup="xplan:RP_Siedlung" type="xplan:RP_IndustrieGewerbeType">
    <annotation>
      <documentation>Industrie- und Gewerbestrukturen und -funktionen.</documentation>
    </annotation>
  </element>
  <complexType name="RP_IndustrieGewerbeType">
    <complexContent>
      <extension base="xplan:RP_SiedlungType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_IndustrieGewerbeTypenType">
            <annotation>
              <documentation>Klassifikation von Industrie- und Gewerbetypen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_IndustrieGewerbeTypenType">
    <annotation>
      <documentation>Typen von Industrie und Gewerbe.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Industrie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Industrielle Anlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Gewerbe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2001">
        <annotation>
          <documentation>Gewerblicher Bereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2002">
        <annotation>
          <documentation>Gewerbepark.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2003"/>
      <enumeration value="3000">
        <annotation>
          <documentation>Gewerbe-Industrie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3001">
        <annotation>
          <documentation>Bedeutsamer Entwicklungsstandort von Gewerbe-Industrie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Sicherung und Entwicklung von Arbeitsstätten.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Flächenintensives Großvorhaben.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Betriebsanlage des Bergbaus.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Hafenorientierte wirtschaftliche Anlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8000">
        <annotation>
          <documentation>Tankanlagen und Rastanlagen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9000">
        <annotation>
          <documentation>Sonstige Typen von Industrie und Gewerbe.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_Raumkategorie" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_RaumkategorieType">
    <annotation>
      <documentation>Raumkategorien sind nach bestimmten Kriterien abgegrenze Gebiete, in denen vergleichbare Strukturen bestehen und in denen die Raumordnung gleichartige Ziele verfolgt. Kriterien können z.B. siedlungsstrukturell, qualitativ oder potentialorientiert sein.</documentation>
    </annotation>
  </element>
  <complexType name="RP_RaumkategorieType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="besondererTyp" type="xplan:RP_BesondereRaumkategorieTypenType">
            <annotation>
              <documentation>Klassifikation verschiedener besonderer Raumkategorien.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_RaumkategorieTypenType">
            <annotation>
              <documentation>Klassifikation verschiedener Raumkategorien.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_RaumkategorieTypenType">
    <annotation>
      <documentation>Typen von Raumkategorien.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Ordnungsraum. Von der Ministerkonferenz für Raumordnung nach einheitlichen Abgrenzungskritierien definierter Strukturraum. Besteht aus Verdichtungsraum und der Randzone des Verdichtungsraums.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Ordnungsraum in Bezug auf Tourismus und Erholung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Verdichtungsraum mit höherer Dichte an Siedlungen und Infrastruktur.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1101">
        <annotation>
          <documentation>Kernzone des Verdichtungsraum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1102">
        <annotation>
          <documentation>Randzone des Verdichtungsraums.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1103">
        <annotation>
          <documentation>Ballungskernzone.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1104">
        <annotation>
          <documentation>Ballungsrandzone.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1105">
        <annotation>
          <documentation>Hochverdichteter Raum</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1106">
        <annotation>
          <documentation>Stadt-Umland-Bereich im Verdichtungsraum</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Ländlicher Raum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1201">
        <annotation>
          <documentation>Verdichteter Bereich im ländlichen Raum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1202">
        <annotation>
          <documentation>Gestaltungsraum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1203">
        <annotation>
          <documentation>Ländlicher Gestaltungsraum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Stadt-Umland-Raum</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1301">
        <annotation>
          <documentation>Stadt-Umland-Bereich im ländlichen Raum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Abgrenzung eines Ordnungsraums.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Dünnbesiedeltes, abgelegenes Gebiet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Umkreis von zehn Kilometern.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1700">
        <annotation>
          <documentation>Raum mit besonderem Handlungsbedarf, zum Beispiel vor dem Hintergrund des demographischen Wandels.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Funktionsraum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1900">
        <annotation>
          <documentation>Grenze eines Wirtschaftsraums.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Funktionsschwerpunkt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2100">
        <annotation>
          <documentation>Grundversorgung-Raumkategorie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2200">
        <annotation>
          <documentation>Alpengebiet-Raumkategorie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2300">
        <annotation>
          <documentation>Räume mit günstigen Entwicklungsaufgaben.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2400">
        <annotation>
          <documentation>Raeume mit ausgeglichenen Entwicklungsvoraussetzungen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2500">
        <annotation>
          <documentation>Räume mit besonderen Entwicklungspotentialen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Raumkategorien</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_Siedlung" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_SiedlungType">
    <annotation>
      <documentation>Allgemeines Siedlungsobjekt. Dieses vererbt an mehrere Spezialisierungen, ist aber selbst nicht abstrakt.</documentation>
    </annotation>
  </element>
  <complexType name="RP_SiedlungType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="bauhoehenbeschraenkung" type="integer">
            <annotation>
              <documentation>Assoziierte Bauhöhenbeschränkung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="istSiedlungsbeschraenkung" type="boolean">
            <annotation>
              <documentation>Abfrage, ob der FeatureType eine Siedlungsbeschränkung ist.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_SonstigerSiedlungsbereich" substitutionGroup="xplan:RP_Siedlung" type="xplan:RP_SonstigerSiedlungsbereichType">
    <annotation>
      <documentation>Sonstiger Siedlungsbereich.</documentation>
    </annotation>
  </element>
  <complexType name="RP_SonstigerSiedlungsbereichType">
    <complexContent>
      <extension base="xplan:RP_SiedlungType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_Sperrgebiet" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_SperrgebietType">
    <annotation>
      <documentation>Sperrgebiet, Gelände oder Areal, das für die Zivilbevölkerung überhaupt nicht oder zeitweise nicht zugänglich ist.</documentation>
    </annotation>
  </element>
  <complexType name="RP_SperrgebietType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="xplan:RP_SperrgebietTypenType">
            <annotation>
              <documentation>Klassifikation verschiedener Sperrgebiettypen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_SperrgebietTypenType">
    <annotation>
      <documentation>Typen von Sperrgebieten.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Verteidigung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Sondergebiet Bund.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Warngebiet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Militärische Einrichtung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4001">
        <annotation>
          <documentation>Große militärische Anlage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Militärische Liegenschaft.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Konversionsfläche.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Sperrgebiete.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RP_WohnenSiedlung" substitutionGroup="xplan:RP_Siedlung" type="xplan:RP_WohnenSiedlungType">
    <annotation>
      <documentation>Wohn- und Siedlungsstruktur und -funktionen.</documentation>
    </annotation>
  </element>
  <complexType name="RP_WohnenSiedlungType">
    <complexContent>
      <extension base="xplan:RP_SiedlungType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:RP_WohnenSiedlungTypenType">
            <annotation>
              <documentation>Klassifikation von Wohnen- und Siedlungstypen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_WohnenSiedlungTypenType">
    <annotation>
      <documentation>Typen von Wohnen und Siedlungen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Wohnen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Baugebietsgrenze.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Siedlungsgebiet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3001">
        <annotation>
          <documentation>Siedlungsschwerpunkt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3002">
        <annotation>
          <documentation>Siedlungsentwicklung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3003">
        <annotation>
          <documentation>Siedlungsbeschränkung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3004">
        <annotation>
          <documentation>Sonstige WohnenSiedlungstypen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000"/>
      <enumeration value="5000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="RP_ZentralerOrt" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_ZentralerOrtType">
    <annotation>
      <documentation>Zentrale Orte übernehmen die Versorgung ihrer Einwohner sowie Versorgungs und Entwicklungsfunktionen für den Einzugsbereich des Zentralen Ortes. Das zentralörtliche System ist hierarchisch gegliedert.</documentation>
    </annotation>
  </element>
  <complexType name="RP_ZentralerOrtType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" name="typ" type="xplan:RP_ZentralerOrtTypenType">
            <annotation>
              <documentation>Klassifikation von Zentralen Orten.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="sonstigerTyp" type="xplan:RP_ZentralerOrtSonstigeTypenType">
            <annotation>
              <documentation>Sonstige Klassifikation von Zentralen Orten.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_ZentralerOrtSonstigeTypenType">
    <annotation>
      <documentation>Sonstige Typen von Zentralen Orten.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Doppelzentrum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Funktionsteiliger Zentraler Ort.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1101">
        <annotation>
          <documentation>Zentraler Ort mit oberzentraler Teilfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1102">
        <annotation>
          <documentation>Zentraler Ort mit mittelzentraler Teilfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Zentraler Ort im Verbund.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Kooperierender Zentraler Ort.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1301">
        <annotation>
          <documentation>Freiwillig kooperierender Zentraler Ort.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1302">
        <annotation>
          <documentation>Verpflichtend kooperierender Zentraler Ort.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Zentraler Ort im Verdichtungsraum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Siedlungsgrundnetz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1501">
        <annotation>
          <documentation>Siedlungsergänzungsnetz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Entwicklungsschwerpunkt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1700">
        <annotation>
          <documentation>Überschneidungsbereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1800">
        <annotation>
          <documentation>Zentraler Ort mit Ergänzungsfunktion.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1900">
        <annotation>
          <documentation>Zentraler Ort in Nachbarregionen oder Ländern.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Mögliches Zentrum, zum Beispiel "mögliches Mittelzentrum".</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2100">
        <annotation>
          <documentation>Funktionsraum, eindeutige Ausrichtung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2101">
        <annotation>
          <documentation>Funktionsraum, bilaterale Ausrichtung.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Sonstiger Zentraler Ort.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RP_ZentralerOrtTypenType">
    <annotation>
      <documentation>Typen von Zentralen Orten.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Oberzentrum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Gemeinsames Oberzentrum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Oberbereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Mittelzentrum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2500">
        <annotation>
          <documentation>Mittelbereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Grundzentrum</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3001">
        <annotation>
          <documentation>Unterzentrum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3500">
        <annotation>
          <documentation>Nahbereich.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Kleinzentrum.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Ländlicher Zentralort.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Stadtrandkern 1. Ordnung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6001">
        <annotation>
          <documentation>Stadtrandkern 2. Ordnung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Versorgungskern und/oder Siedlungskern</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8000">
        <annotation>
          <documentation>Zentrales Siedlungsgebiet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9000">
        <annotation>
          <documentation>Metropole.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Zentraler Ort.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
