model/xplangml/raumordnungsmodell/RP_Sonstiges.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xplan="http://www.xplan-raumordnung.de/model/xplangml/raumordnungsmodell" elementFormDefault="qualified">
  <annotation>
    <documentation>Sonstige Festlegungen.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="RP_GenerischesObjekt" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_GenerischesObjektType">
    <annotation>
      <documentation>Klasse zur Modellierung aller Inhalte des Raumordnungsplans, die durch keine andere Klasse des RPlan-Fachschemas dargestellt werden können.</documentation>
    </annotation>
  </element>
  <complexType name="RP_GenerischesObjektType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type="gml:CodeType">
            <annotation>
              <documentation>Über eine CodeList definierte Zweckbestimmung der Festlegung.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_Grenze" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_GrenzeType">
    <annotation>
      <documentation>Grenzen.</documentation>
    </annotation>
  </element>
  <complexType name="RP_GrenzeType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="typ" type="xplan:XP_GrenzeTypenType">
            <annotation>
              <documentation>Typ der Grenze</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="spezifischerTyp" type="xplan:RP_SpezifischeGrenzeTypenType">
            <annotation>
              <documentation>Spezifischer Typ der Grenze</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstTyp" type="gml:CodeType">
            <annotation>
              <documentation>Erweiterter Typ.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="RP_Planungsraum" substitutionGroup="xplan:RP_Geometrieobjekt" type="xplan:RP_PlanungsraumType">
    <annotation>
      <documentation>Modelliert einen allgemeinen Planungsraum.</documentation>
    </annotation>
  </element>
  <complexType name="RP_PlanungsraumType">
    <complexContent>
      <extension base="xplan:RP_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="planungsraumBeschreibung" type="string">
            <annotation>
              <documentation>Textliche Beschreibung eines Planungsrauminhalts.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="RP_SpezifischeGrenzeTypenType">
    <annotation>
      <documentation>Aufzählung der verschiedenen spezifischen Typen von Grenzen aus Raumordnungsplänen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Grenze der Zwölf-Seemeilen-Zone, in der Küstenstaaten das Recht haben, ihre Hoheitsgewässer auf bis zu 12 Seemeilen auszudehnen (nach Seerechtsübereinkommen der UN vom 10. Dezember 1982).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1001">
        <annotation>
          <documentation>Begrenzung des Küstenmeeres.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Grenze mit umstrittenem Verlauf, beispielsweise zwischen Deutschland und den Niederlanden im Ems-Ästuar.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Grenze der Deutschen Ausschließlichen Wirtschaftszone (AWZ).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Maß von Küstenlinien bei langjährig gemitteltem Küstenhochwasser.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Grenze einer regionalen Planungsregion (z.B. Grenze eines Regionalplans).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Grenze einer landesweiten Planungsregion (z.B. Grenze eines Landesentwicklungsplans).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="7000">
        <annotation>
          <documentation>Grenze eines Braunkohlenplans.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="8000">
        <annotation>
          <documentation>Grenzübergangsstelle</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
