model/xplangml/raumordnungsmodell/SO_Basisobjekte.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Basisklassen des Modellbereichs "Sonstige raumbezogene Planwerke und Nachrichtliche Übernahmen".</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="SO_Bereich" substitutionGroup=":XP_Bereich" type=":SO_BereichType">
    <annotation>
      <documentation>Bereich eines sonstigen raumbezogenen Plans.</documentation>
    </annotation>
  </element>
  <complexType name="SO_BereichType">
    <complexContent>
      <extension base=":XP_BereichType">
        <sequence>
          <element name="gehoertZuPlan" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:SO_Plan</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:bereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rasterAenderung" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:SO_RasterplanAenderung</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="SO_Flaechenobjekt" substitutionGroup=":SO_Objekt" type=":SO_FlaechenobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte mit flächenhaftem Raumbezug (eine Einzelfläche oder eine Menge von Flächen, die sich nicht überlappen dürfen).</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="SO_FlaechenobjektType">
    <complexContent>
      <extension base=":SO_ObjektType">
        <sequence>
          <element name="position" type=":XP_FlaechengeometriePropertyType"/>
          <element name="flaechenschluss" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="SO_Geometrieobjekt" substitutionGroup=":SO_Objekt" type=":SO_GeometrieobjektType">
    <annotation>
      <documentation>Basisklasse für alle Objekte mit variablem Raumbezug. Ein konkretes Objekt muss entweder punktförmigen, linienförmigen oder flächenhaften Raumbezug haben, gemischte Geometrie ist nicht zugelassen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="SO_GeometrieobjektType">
    <complexContent>
      <extension base=":SO_ObjektType">
        <sequence>
          <element name="position" type=":XP_VariableGeometriePropertyType"/>
          <element minOccurs="0" name="flaechenschluss" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="SO_Linienobjekt" substitutionGroup=":SO_Objekt" type=":SO_LinienobjektType">
    <annotation>
      <documentation>Basisklasse für Objekte mit linienförmigem Raumbezug (eine einzelne zusammenhängende Kurve, die aus Linienstücken und Kreisbögen zusammengesetzt sein kann, oder eine Menge derartiger Kurven).</documentation>
    </annotation>
  </element>
  <complexType name="SO_LinienobjektType">
    <complexContent>
      <extension base=":SO_ObjektType">
        <sequence>
          <element name="position" type=":XP_LiniengeometriePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="SO_Objekt" substitutionGroup=":XP_Objekt" type=":SO_ObjektType">
    <annotation>
      <documentation>Basisklasse für die Inhalte sonstiger raumbezogener Planwerke sowie von Klassen zur Modellierung nachrichtlicher Übernahmen.</documentation>
    </annotation>
  </element>
  <complexType name="SO_ObjektType">
    <complexContent>
      <extension base=":XP_ObjektType">
        <sequence>
          <element minOccurs="0" name="rechtscharakter" type=":SO_RechtscharakterType">
            <annotation>
              <documentation>Rechtscharakter des Planinhalts.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstRechtscharakter" type="gml:CodeType">
            <annotation>
              <documentation>Klassifizierung des Rechtscharakters wenn das Attribut 'rechtscharakter' den Wert 'Sonstiges' (1000)  hat.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="SO_Plan" substitutionGroup=":XP_Plan" type=":SO_PlanType">
    <annotation>
      <documentation>Klasse für sonstige, z. B. länderspezifische raumbezogene Planwerke.</documentation>
    </annotation>
  </element>
  <complexType name="SO_PlanType">
    <complexContent>
      <extension base=":XP_PlanType">
        <sequence>
          <element name="planArt" type="gml:CodeType">
            <annotation>
              <documentation>Typ des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plangeber" type=":XP_PlangeberPropertyType">
            <annotation>
              <documentation>Für den Plan zuständige Stelle.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="bereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:SO_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:gehoertZuPlan</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="SO_Punktobjekt" substitutionGroup=":SO_Objekt" type=":SO_PunktobjektType">
    <annotation>
      <documentation>Basisklasse für Objekte mit punktförmigem Raumbezug (Einzelpunkt oder Punktmenge).</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="SO_PunktobjektType">
    <complexContent>
      <extension base=":SO_ObjektType">
        <sequence>
          <element name="position" type=":XP_PunktgeometriePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="SO_RechtscharakterType">
    <restriction base="string">
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="5000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
</schema>
