model/xplangml/raumordnungsmodell/SO_NachrichtlicheUebernahme.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Klassen zur Modellierung nachrichtlicher Übernahmen aus anderen Rechtsbereichen.</xs:documentation>
	</xs:annotation>
	<xs:include/>
	<xs:include/>
	<xs:include schemaLocation="SO_Basisobjekte.xsd"/>
	<xs:element name="SO_Bodenschutzrecht" type="SO_Bodenschutzrecht"/>
	<xs:complexType name="SO_Bodenschutzrecht">
		<xs:annotation>
			<xs:documentation>Festlegung nach Bodenschutzrecht.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SO_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="artDerFestlegung" type="SO_KlassifizNachBodenschutzrecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Grundlegende Klassifizierung der Festlegung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailArtDerFestlegung" type="SO_DetailKlassifizNachBodenschutzrecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Detaillierte Klassifizierung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="istVerdachtsflaeche" type="Boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Angabe ob es sich um eine Verdachtsfläche handelt.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Informelle Bezeichnung der Festlegung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nummer" type="CharacterString" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SO_DetailKlassifizNachLuftverkehrsrecht" type="SO_DetailKlassifizNachLuftverkehrsrecht"/>
	<xs:complexType name="SO_DetailKlassifizNachLuftverkehrsrecht">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="SO_KlassifizNachDenkmalschutzrecht">
		<xs:annotation>
			<xs:documentation>Basis Klassifizierung von Ausweisungen nach Denkmalschutzrecht.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="DenkmalschutzEnsemble"/>
			<xs:enumeration value="DenkmalschutzEinzelanlage"/>
			<xs:enumeration value="Grabungsschutzgebiet"/>
			<xs:enumeration value="PufferzoneWeltkulturerbeEnger">
				<xs:annotation>
					<xs:documentation>Engere Pufferzone um eine Welterbestätte</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PufferzoneWeltkulturerbeWeiter">
				<xs:annotation>
					<xs:documentation>Weitere Pufferzone um eine Welterbestätte</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SO_KlassifizNachStrassenverkehrsrecht">
		<xs:annotation>
			<xs:documentation>Aufzählung von Basis-Klassifizierungen der Festlegungen nach Straßenrecht.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Bundesautobahn"/>
			<xs:enumeration value="Bundesstrasse"/>
			<xs:enumeration value="LandesStaatsstrasse"/>
			<xs:enumeration value="Kreisstrasse"/>
			<xs:enumeration value="SonstOeffentlStrasse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SO_DetailKlassifizNachSonstigemRecht" type="SO_DetailKlassifizNachSonstigemRecht"/>
	<xs:complexType name="SO_DetailKlassifizNachSonstigemRecht">
		<xs:annotation>
			<xs:documentation>Detaillierte Klassifizierung der sonstigen Ausweisungen</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="SO_SonstigesRecht" type="SO_SonstigesRecht"/>
	<xs:complexType name="SO_SonstigesRecht">
		<xs:annotation>
			<xs:documentation>Sonstige Festlegung.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SO_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="artDerFestlegung" type="SO_KlassifizNachSonstigemRecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Grundlegende rechtliche Klassifizierung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailArtDerFestlegung" type="SO_DetailKlassifizNachSonstigemRecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Detaillierte rechtliche Klassifizierung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Informelle Bezeichnung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nummer" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Amtliche Bezeichnung / Kennziffer der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="SO_KlassifizNachSonstigemRecht">
		<xs:annotation>
			<xs:documentation>Basis Klassifizierung der sonstigen Ausweisungen.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Bauschutzbereich">
				<xs:annotation>
					<xs:documentation>Bauschutzbereich nach anderen Rechtsverordnungen als dem LuftVG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Berggesetz">
				<xs:annotation>
					<xs:documentation>Beschränkung nach Berggesetz</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Richtfunkverbindung">
				<xs:annotation>
					<xs:documentation>Baubeschränkungen durch Richtfunkverbindungen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Truppenuebungsplatz"/>
			<xs:enumeration value="VermessungsKatasterrecht">
				<xs:annotation>
					<xs:documentation>Beschränkungen nach Vermessungs- und Katasterrecht</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SO_DetailKlassifizNachStrassenverkehrsrecht" type="SO_DetailKlassifizNachStrassenverkehrsrecht"/>
	<xs:complexType name="SO_DetailKlassifizNachStrassenverkehrsrecht">
		<xs:annotation>
			<xs:documentation>Aufzählung der detaillierte Klassifizierungen von Festlegungen nach Straßenrecht.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="SO_KlassifizNachLuftverkehrsrecht">
		<xs:annotation>
			<xs:documentation>Aufzählung der möglichen Zweckbestimmungen einer Luftverkehrs-Fläche.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Flughafen"/>
			<xs:enumeration value="Landeplatz"/>
			<xs:enumeration value="Segelfluggelaende"/>
			<xs:enumeration value="HubschrauberLandeplatz"/>
			<xs:enumeration value="Ballonstartplatz"/>
			<xs:enumeration value="Haengegleiter"/>
			<xs:enumeration value="Gleitsegler"/>
			<xs:enumeration value="Laermschutzbereich">
				<xs:annotation>
					<xs:documentation>Lärmschutzbereich nach LuftVG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Baubeschraenkungsbereich">
				<xs:annotation>
					<xs:documentation>Höhenbeschränkung nach §12 LuftVG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SO_KlassifizNachWasserrecht">
		<xs:annotation>
			<xs:documentation>Basis Klassifizierung von Festlegungen nach Wasserrecht.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Gewaesser1Ordnung">
				<xs:annotation>
					<xs:documentation>Gewässer 1. Ordnung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gewaesser2Ordnung">
				<xs:annotation>
					<xs:documentation>Gewässer 2. Ordnung.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gewaesser3Ordnung">
				<xs:annotation>
					<xs:documentation>Gewässer 3. Ordnung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ueberschwemmungsgebiet">
				<xs:annotation>
					<xs:documentation>'Überschwemmungsgebiet' nach . § 31b Abs. 1 WHG  ist ein durch Rechtsverordnung festgesetztes oder natürliches Gebiet, das bei Hochwasser überschwemmt werden kann bzw. überschwemmt wird.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FestgesetztesUeberschwemmungsgebiet">
				<xs:annotation>
					<xs:documentation>'Festgesetztes Überschwemmungsgebiet ist ein per Verordnung festgesetzte Überschwemmungsgebiete auf Basis HQ100</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NochNichtFestgesetztesUeberschwemmungsgebiet">
				<xs:annotation>
					<xs:documentation>Noch nicht festgesetztes Überschwemmungsgebiet nach §31b Abs. 5 WHG.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UeberschwemmGefaehrdetesGebiet">
				<xs:annotation>
					<xs:documentation>Überschwemmungsgefährdetes Gebiet gemäß §31 c WHG.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SO_DetailKlassifizNachForstrecht" type="SO_DetailKlassifizNachForstrecht"/>
	<xs:complexType name="SO_DetailKlassifizNachForstrecht">
		<xs:annotation>
			<xs:documentation>Detaillierte Klassifizierung nach Forstrecht.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="SO_Luftverkehrsrecht" type="SO_Luftverkehrsrecht"/>
	<xs:complexType name="SO_Luftverkehrsrecht">
		<xs:annotation>
			<xs:documentation>Festlegung nach Luftverkehrsrecht.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SO_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="artDerFestlegung" type="SO_KlassifizNachLuftverkehrsrecht" minOccurs="0" maxOccurs="1"/>
					<xs:element name="detailArtDerFestlegung" type="SO_DetailKlassifizNachLuftverkehrsrecht" minOccurs="0" maxOccurs="1"/>
					<xs:element name="name" type="CharacterString" minOccurs="0" maxOccurs="1"/>
					<xs:element name="nummer" type="CharacterString" minOccurs="0" maxOccurs="1"/>
					<xs:element name="laermschutzzone" type="SO_LaermschutzzoneTypen" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Lärmschutzzone nach LuftVG</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="SO_KlassifizNachBodenschutzrecht">
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="SchaedlicheBodenveraenderung"/>
			<xs:enumeration value="Altlast"/>
			<xs:enumeration value="Altablagerung"/>
			<xs:enumeration value="Altstandort"/>
			<xs:enumeration value="AltstandortAufAltablagerung"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SO_KlassifizNachForstrecht">
		<xs:annotation>
			<xs:documentation>Basis Klassifizierung nach Forstrecht</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="OeffentlicherWald"/>
			<xs:enumeration value="Privatwald"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SO_Strassenverkehrsrecht" type="SO_Strassenverkehrsrecht"/>
	<xs:complexType name="SO_Strassenverkehrsrecht">
		<xs:annotation>
			<xs:documentation>Festlegung nach Straßenverkehrsrecht.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SO_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="artDerFestlegung" type="SO_KlassifizNachStrassenverkehrsrecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Grobe rechtliche Klassifizierung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailArtDerFestlegung" type="SO_DetailKlassifizNachStrassenverkehrsrecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Detaillierte rechtliche Klassifizierung der Festlegung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Informelle Bezeichnung der Festlegung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nummer" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Amtliche Bezeichnung / Kennziffer der Festlegung.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="SO_LaermschutzzoneTypen">
		<xs:annotation>
			<xs:documentation>Einteilung von Lärmschutzzonen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="TagZone1"/>
			<xs:enumeration value="TagZone2"/>
			<xs:enumeration value="Nacht"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SO_KlassifizNachSchienenverkehrsrecht">
		<xs:annotation>
			<xs:documentation>Aufzählung der Zweckbestimmungen einer BAHNFLÄCHE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="Bahnanlage">
				<xs:annotation>
					<xs:documentation>Bahnanlage</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Bahnlinie">
				<xs:annotation>
					<xs:documentation>Bahnlinie</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OEPNV">
				<xs:annotation>
					<xs:documentation>Öffentlichen Personen Nahverkehr</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sonstiges">
				<xs:annotation>
					<xs:documentation>Sonstige Zweckbestimmung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SO_DetailKlassifizNachDenkmalschutzrecht" type="SO_DetailKlassifizNachDenkmalschutzrecht"/>
	<xs:complexType name="SO_DetailKlassifizNachDenkmalschutzrecht">
		<xs:annotation>
			<xs:documentation>Detaillierte Klassifizierung von Ausweisungen nach Denkmalschutzrecht.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="SO_Forstrecht" type="SO_Forstrecht"/>
	<xs:complexType name="SO_Forstrecht">
		<xs:annotation>
			<xs:documentation>Festlegung nach Forstrecht</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SO_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="artDerFestlegung" type="SO_KlassifizNachForstrecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Grundlegende Klassifizierung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailArtDerFestlegung" type="SO_DetailKlassifizNachForstrecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Detaillierte Klassifizierung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Informelle Bezeichnung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nummer" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Amtliche Bezeichnung / Kennziffer der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SO_DetailKlassifizNachBodenschutzrecht" type="SO_DetailKlassifizNachBodenschutzrecht"/>
	<xs:complexType name="SO_DetailKlassifizNachBodenschutzrecht">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="SO_DetailKlassifizNachSchienenverkehrsrecht" type="SO_DetailKlassifizNachSchienenverkehrsrecht"/>
	<xs:complexType name="SO_DetailKlassifizNachSchienenverkehrsrecht">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="SO_BesondereKlassifizNachSchienenverkehrsrecht">
		<xs:annotation>
			<xs:documentation>Aufzählung der besonderen Zweckbestimmungen einer Bahnfläche ,Bahnlinie oder Bahnanlage.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:&lt;undefined&gt;">
			<xs:enumeration value="DB_Bahnanlage"/>
			<xs:enumeration value="Personenbahnhof"/>
			<xs:enumeration value="Fernbahnhof"/>
			<xs:enumeration value="Gueterbahnhof"/>
			<xs:enumeration value="Personenbahnlinie"/>
			<xs:enumeration value="Regionalbahn"/>
			<xs:enumeration value="Kleinbahn"/>
			<xs:enumeration value="Gueterbahnlinie"/>
			<xs:enumeration value="WerksHafenbahn"/>
			<xs:enumeration value="Seilbahn"/>
			<xs:enumeration value="Strassenbahn"/>
			<xs:enumeration value="UBahn"/>
			<xs:enumeration value="SBahn"/>
			<xs:enumeration value="OEPNV_Haltestelle"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SO_Wasserrecht" type="SO_Wasserrecht"/>
	<xs:complexType name="SO_Wasserrecht">
		<xs:annotation>
			<xs:documentation>Festlegung nach Wasserrecht</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SO_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="artDerFestlegung" type="SO_KlassifizNachWasserrecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Grundlegende rechtliche Klassifizierung der Festlegung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailArtDerFestlegung" type="SO_DetailKlassifizNachWasserrecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Detaillierte rechtliche Klassifizierung der Festlegung.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="istNatuerlichesUberschwemmungsgebiet" type="Boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Gibt an, ob es sich bei der Fläche um ein natürliches Überschwemmungsgebiet handelt.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Informelle Bezeichnung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nummer" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Amtliche Bezeichnung / Kennziffer der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SO_DetailKlassifizNachWasserrecht" type="SO_DetailKlassifizNachWasserrecht"/>
	<xs:complexType name="SO_DetailKlassifizNachWasserrecht">
		<xs:annotation>
			<xs:documentation>Detaillierte Klassifizierung von Ausweisungen nach Wasserrecht.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="SO_Denkmalschutzrecht" type="SO_Denkmalschutzrecht"/>
	<xs:complexType name="SO_Denkmalschutzrecht">
		<xs:annotation>
			<xs:documentation>Festlegung nach Denkmalschutzrecht</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SO_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="artDerFestlegung" type="SO_KlassifizNachDenkmalschutzrecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Grundlegende rechtliche Klassifizierung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailArtDerFestlegung" type="SO_DetailKlassifizNachDenkmalschutzrecht" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Detaillierte rechtliche Klassifizierung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="weltkulturerbe" type="Boolean" minOccurs="0" maxOccurs="1"/>
					<xs:element name="name" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Informelle Bezeichnung der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nummer" type="CharacterString" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Amtliche Bezeichnung / Kennziffer der Festlegung</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SO_Schienenverkehrsrecht" type="SO_Schienenverkehrsrecht"/>
	<xs:complexType name="SO_Schienenverkehrsrecht">
		<xs:annotation>
			<xs:documentation>Festlegung nach Schienenverkehrsrecht.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SO_Geometrieobjekt">
				<xs:sequence>
					<xs:element name="artDerFestlegung" type="SO_KlassifizNachSchienenverkehrsrecht" minOccurs="0" maxOccurs="1"/>
					<xs:element name="besondereArtDerFestlegung" type="SO_BesondereKlassifizNachSchienenverkehrsrecht" minOccurs="0" maxOccurs="1"/>
					<xs:element name="detailArtDerFestlegung" type="SO_DetailKlassifizNachSchienenverkehrsrecht" minOccurs="0" maxOccurs="1"/>
					<xs:element name="name" type="CharacterString" minOccurs="0" maxOccurs="1"/>
					<xs:element name="nummer" type="CharacterString" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
