model/xplangml/raumordnungsmodell/SO_Schutzgebiete.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Schutzgebiete nach verschiedenen gesetzlichen Bestimmungen.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="SO_KlassifizSchutzgebietSonstRechtType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Lärmschutzbereich nach anderen gesetzlichen Regelungen als dem Luftverkehrsrecht.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Schutzzone um eine Leitungstrasse nach Bundes-Immissionsschutzgesetz.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <simpleType name="SO_KlassifizSchutzgebietWasserrechtType">
    <annotation>
      <documentation>Aufzählung wasserrechtlicher Zweckbestimmungen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="10000">
        <annotation>
          <documentation>Ausgewiesenes Schutzgebiet für Quell- und Grundwasser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10001">
        <annotation>
          <documentation>Ausgewiesenes Schutzgebiet für Oberflächengewässer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000"/>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstige Zweckbestimmung</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="SO_SchutzgebietNaturschutzrecht" substitutionGroup=":SO_Geometrieobjekt" type=":SO_SchutzgebietNaturschutzrechtType">
    <annotation>
      <documentation>Schutzgebiet nach Naturschutzrecht.</documentation>
    </annotation>
  </element>
  <complexType name="SO_SchutzgebietNaturschutzrechtType">
    <complexContent>
      <extension base=":SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type=":XP_KlassifizSchutzgebietNaturschutzrechtType">
            <annotation>
              <documentation>Klassizizierung des Naturschutzgebietes</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Weitere Klassifizierung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="zone" type=":SO_SchutzzonenNaturschutzrechtType">
            <annotation>
              <documentation>Klassifizierung der Schutzzone</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" type="string">
            <annotation>
              <documentation>Informeller Name des Schutzgebiets</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nummer" type="string">
            <annotation>
              <documentation>Amtlicher Name / Kennziffer des Gebiets.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="SO_SchutzgebietSonstigesRecht" substitutionGroup=":SO_Geometrieobjekt" type=":SO_SchutzgebietSonstigesRechtType">
    <annotation>
      <documentation>Sonstige Schutzgebiete nach unterschiedlichen rechtlichen Bestimmungen.</documentation>
    </annotation>
  </element>
  <complexType name="SO_SchutzgebietSonstigesRechtType">
    <complexContent>
      <extension base=":SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type=":SO_KlassifizSchutzgebietSonstRechtType">
            <annotation>
              <documentation>Klassifizierung des Schutzgebietes oder Schutzbereichs.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Detaillierte Klassifizierung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="zone" type=":SO_LaermschutzzoneTypenType">
            <annotation>
              <documentation>Zugeordnete Schutzzone (wenn artDerFestlegung == 1000). &lt;b&gt;Das Attribut wird als "veraltet" klassifiziert und wird zukünftig wegfallen. Lärmschutbereiche nach LuftVGsollen als SO_Luftverkehrsrecht modelliert werden.&lt;/b&gt;</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" type="string">
            <annotation>
              <documentation>Informelle Bezeichnung des Gebiets</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nummer" type="string">
            <annotation>
              <documentation>Amtliche Bezeichnung / Kennziffer des Gebiets</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="SO_SchutzgebietWasserrecht" substitutionGroup=":SO_Geometrieobjekt" type=":SO_SchutzgebietWasserrechtType">
    <annotation>
      <documentation>Schutzgebiet nach WasserSchutzGesetz (WSG) bzw. HeilQuellenSchutzGesetz (HQSG).</documentation>
    </annotation>
  </element>
  <complexType name="SO_SchutzgebietWasserrechtType">
    <complexContent>
      <extension base=":SO_GeometrieobjektType">
        <sequence>
          <element minOccurs="0" name="artDerFestlegung" type=":SO_KlassifizSchutzgebietWasserrechtType">
            <annotation>
              <documentation>Klassifizierung des Schutzgebietes</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detailArtDerFestlegung" type="gml:CodeType">
            <annotation>
              <documentation>Detaillierte Klassifizierung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="zone" type=":SO_SchutzzonenWasserrechtType">
            <annotation>
              <documentation>Klassifizierung der Schutzzone</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" type="string">
            <annotation>
              <documentation>Informelle Bezeichnung des Gebiets</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nummer" type="string">
            <annotation>
              <documentation>Amtliche Bezeichnung / Kennziffer des Gebiets.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="SO_SchutzzonenNaturschutzrechtType">
    <annotation>
      <documentation>Schutzzoneneinteilung in Nationalparks, naturparks und Biosphärenreservaten.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="1100"/>
      <enumeration value="1200"/>
      <enumeration value="2000"/>
      <enumeration value="2100"/>
      <enumeration value="2200"/>
      <enumeration value="2300"/>
    </restriction>
  </simpleType>
  <simpleType name="SO_SchutzzonenWasserrechtType">
    <annotation>
      <documentation>Wasserschutzgebietszonen nach WasserSchutzgesetz (WSG) bzw. Heilquellenschutzzonen nach HeilQuellenSchutzGesetz (HQSG)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="1100"/>
      <enumeration value="1200"/>
      <enumeration value="1300">
        <annotation>
          <documentation>Zone 3a existiert nur bei Wasserschutzgebieten.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Zone 3b existiert nur bei Wasserschutzgebieten.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Zone 4 existiert nur bei Heilquellen.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
