model/xplangml/raumordnungsmodell/SO_Sonstiges.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="SO_Grenze" substitutionGroup=":SO_Linienobjekt" type=":SO_GrenzeType">
    <annotation>
      <documentation>Grenze einer Verwaltungseinheit oder sonstige Grenze in rambezogenen Plänen..</documentation>
    </annotation>
  </element>
  <complexType name="SO_GrenzeType">
    <complexContent>
      <extension base=":SO_LinienobjektType">
        <sequence>
          <element minOccurs="0" name="typ" type=":XP_GrenzeTypenType">
            <annotation>
              <documentation>Typ der Grenze</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstTyp" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
