model/xplangml/raumordnungsmodell/SO_SonstigeGebiete.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="" version="" xmlns:="">
  <annotation>
    <documentation>Klassen zur Modellierung sonstiger Gebietsausweisungen in Bauleitplänen.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="SO_Gebiet" substitutionGroup=":SO_Flaechenobjekt" type=":SO_GebietType">
    <annotation>
      <documentation>Umgrenzung eines sonstigen Gebietes nach BauGB</documentation>
    </annotation>
  </element>
  <complexType name="SO_GebietType">
    <complexContent>
      <extension base=":SO_FlaechenobjektType">
        <sequence>
          <element minOccurs="0" name="gemeinde" type=":XP_GemeindePropertyType">
            <annotation>
              <documentation>Zuständige Gemeinde</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gebietsArt" type=":SO_GebietsArtType">
            <annotation>
              <documentation>Klassifikation des Gebietes nach BauGB.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstGebietsArt" type="gml:CodeType">
            <annotation>
              <documentation>Klassifikation einer nicht auf dem BauGB, z.B. länderspezifischen Gebietsausweisung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rechtsstandGebiet" type=":SO_RechtsstandGebietTypType">
            <annotation>
              <documentation>Rechtsstand der Gebietsausweisung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sonstRechtsstandGebiet" type="gml:CodeType">
            <annotation>
              <documentation>Sonstiger Rechtsstand der Gebietsausweisung, der nicht durch die Liste SO_AusweisungRechtscharakter wiedergegeben werden kann.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="aufstellungsbeschhlussDatum" type="date">
            <annotation>
              <documentation>Datum des Aufstellungsbeschlusses</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="durchfuehrungStartDatum" type="date">
            <annotation>
              <documentation>Start-Datum der Durchführung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="durchfuehrungEndDatum" type="date">
            <annotation>
              <documentation>End-Datum der Durchführung</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="traegerMassnahme" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="SO_GebietsArtType">
    <annotation>
      <documentation>Aufzählung von Gebietsausweisungen nach BauGB</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Umlegungsgebiet (§ 45 ff BauGB).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Gebiet nach § 136 ff BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1200">
        <annotation>
          <documentation>Gebiet nach § 165 ff BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1300">
        <annotation>
          <documentation>Gebiet nach § 171 a-d BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1400">
        <annotation>
          <documentation>Gebiet nach § 171 e BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1500">
        <annotation>
          <documentation>Gebiet nach §171 f BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1600">
        <annotation>
          <documentation>Gebiet nach §171 f BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1999">
        <annotation>
          <documentation>Allgemeine Erhaltungsverordnung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Gebiet einer Satzung nach § 172 Abs. 1.1 BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2100">
        <annotation>
          <documentation>Gebiet einer Satzung nach § 172 Abs. 1.2 BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2200">
        <annotation>
          <documentation>Gebiet einer Satzung nach § 172 Abs. 1.2 BauGB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="9999">
        <annotation>
          <documentation>Sonstiger Gebietstyp</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SO_RechtsstandGebietTypType">
    <annotation>
      <documentation>Aufzählung der möglichen Rechtsstände des Gebiets.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="5000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
</schema>
