model/xplangml/raumordnungsmodell/XP_Basisobjekte.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xplan="http://www.xplan-raumordnung.de/model/xplangml/raumordnungsmodell" targetNamespace="http://www.xplan-raumordnung.de/model/xplangml/raumordnungsmodell" xmlns:kit="http://www.kit.edu" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" version="5.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gmlProfile/gmlProfilexplan.xsd" />
  <annotation>
    <documentation>Dies Paket enthält die Basisklassen des XPlanGML Schemas.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="XP_ArtHoehenbezugType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Absolute Höhenangabe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Höhenangabe relativ zur Geländeoberkante an der Position des Planinhalts.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2500">
        <annotation>
          <documentation>Höhenangabe relativ zur Gehweg-Oberkante an der Position des Planinhalts.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Höhenangabe relativ zu der auf Planebene festgelegten absoluten Bezugshöhe (Attribut &lt;i&gt;bezugshoehe &lt;/i&gt;von &lt;i&gt;XP_Plan&lt;/i&gt;).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="XP_ArtHoehenbezugspunktType">
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Traufhöhe als Höhenbezugspunkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Firsthöhe als Höhenbezugspunkt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Oberkante als Höhenbezugspunkt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3500">
        <annotation>
          <documentation>Lichte Höhe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4000">
        <annotation>
          <documentation>Sockelhöhe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4500">
        <annotation>
          <documentation>Erdgeschoss Fußbodenhöhe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5000">
        <annotation>
          <documentation>Höhe Baulicher Anlagen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5500">
        <annotation>
          <documentation>Unterkante</documentation>
        </annotation>
      </enumeration>
      <enumeration value="6000">
        <annotation>
          <documentation>Gebäudehöhe</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="XP_BedeutungenBereichType">
    <annotation>
      <documentation>Aufzählung möglicher Bedeutungen eines Planbereichs.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="1500"/>
      <enumeration value="1600"/>
      <enumeration value="1650">
        <annotation>
          <documentation>Gesamtbereich</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1700"/>
      <enumeration value="1800"/>
      <enumeration value="2000"/>
      <enumeration value="2500"/>
      <enumeration value="3000"/>
      <enumeration value="3500"/>
      <enumeration value="4000"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="XP_BegruendungAbschnitt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_BegruendungAbschnittType">
    <annotation>
      <documentation>Ein Abschnitt der Begründung des Plans.</documentation>
    </annotation>
  </element>
  <complexType name="XP_BegruendungAbschnittType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="schluessel" type="string">
            <annotation>
              <documentation>Schlüssel zur Referenzierung des Abschnitts von einem Fachobjekt aus.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="text" type="string">
            <annotation>
              <documentation>Inhalt eines Abschnitts der Begründung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refText" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein externes Dokument das den Begründungs-Abschnitt enthält.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="XP_Bereich" substitutionGroup="gml:AbstractFeature" type="xplan:XP_BereichType">
    <annotation>
      <documentation>Abstrakte Oberklasse für die Modellierung von Planbereichen. Ein Planbereich fasst die Inhalte eines Plans nach bestimmten Kriterien zusammen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_BereichType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="nummer" type="integer">
            <annotation>
              <documentation>Nummer des Bereichs. Wenn der Bereich als Ebene eines BPlans interpretiert wird, kann aus dem Attribut die vertikale Reihenfolge der Ebenen rekonstruiert werden.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="name" type="string">
            <annotation>
              <documentation>Bezeichnung des Bereiches</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bedeutung" type="xplan:XP_BedeutungenBereichType">
            <annotation>
              <documentation>Spezifikation der semantischen Bedeutung eines Bereiches.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detaillierteBedeutung" type="string">
            <annotation>
              <documentation>Detaillierte Erklärung der semantischen Bedeutung eines Bereiches, in Ergänzung des Attributs bedeutung.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="erstellungsMassstab" type="integer">
            <annotation>
              <documentation>Der bei der Erstellung der Inhalte des Planbereichs benutzte Kartenmassstab. Wenn dieses Attribut nicht spezifiziert ist, gilt für den Bereich der auf Planebene (XP_Plan) spezifizierte Masstab.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="geltungsbereich" type="xplan:XP_FlaechengeometriePropertyType">
            <annotation>
              <documentation>Räumliche Abgrenzung des Bereiches. Wenn dieses Attribut nicht spezifiziert ist, gilt für den Bereich der auf Planebene (XP_Plan) spezifizierte Geltungsbereich.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="planinhalt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:gehoertZuBereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="praesentationsobjekt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_AbstraktesPraesentationsobjekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:gehoertZuBereich</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rasterBasis" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_RasterplanBasis</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="XP_DatumAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_DatumAttributType">
    <annotation>
      <documentation>Generische Attribute vom Datentyp "Datum"</documentation>
    </annotation>
  </element>
  <complexType name="XP_DatumAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="date"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="XP_DatumAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_DatumAttribut"/>
    </sequence>
  </complexType>
  <element name="XP_DoubleAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_DoubleAttributType">
    <annotation>
      <documentation>Generisches Attribut vom Datentyp "Double".</documentation>
    </annotation>
  </element>
  <complexType name="XP_DoubleAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="XP_DoubleAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_DoubleAttribut"/>
    </sequence>
  </complexType>
  <element name="XP_ExterneReferenz" substitutionGroup="gml:AbstractObject" type="xplan:XP_ExterneReferenzType">
    <annotation>
      <documentation>Verweis auf ein extern gespeichertes Dokument, einen extern gespeicherten, georeferenzierten Plan oder einen Datenbank-Eintrag. Einer der beiden Attribute "referenzName" bzw. "referenzURL" muss belegt sein.</documentation>
    </annotation>
  </element>
  <complexType name="XP_ExterneReferenzType">
    <sequence>
      <element minOccurs="0" name="georefURL" type="anyURI">
        <annotation>
          <documentation>Referenz auf eine Georeferenzierungs-Datei. Das Atttibut ist nur relevant bei Verweisen auf georeferenzierte Rasterbilder.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="georefMimeType" type="gml:CodeType">
        <annotation>
          <documentation>Mime-Type der Georeferenzierungs-Datei. Das Arrtibut ist nur relevant bei Verweisen auf georeferenzierte Rasterbilder.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="art" type="gml:CodeType">
        <annotation>
          <documentation>Typisierung der referierten Dokumente</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="informationssystemURL" type="anyURI">
        <annotation>
          <documentation>URI des des zugehörigen Informationssystems</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="referenzName" type="string">
        <annotation>
          <documentation>Name des referierten Dokuments.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="referenzURL" type="anyURI">
        <annotation>
          <documentation>URI des referierten Dokuments, bzw. Datenbank-Schlüssel.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="referenzMimeType" type="gml:CodeType">
        <annotation>
          <documentation>Mime-Type des referierten Dokumentes</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="beschreibung" type="string">
        <annotation>
          <documentation>Beschreibung des referierten Dokuments</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="datum" type="date">
        <annotation>
          <documentation>Datum des referierten Dokuments</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="XP_ExterneReferenzPropertyType">
    <sequence>
      <element ref="xplan:XP_ExterneReferenz"/>
    </sequence>
  </complexType>
  <element name="XP_Flaechengeometrie" substitutionGroup="gml:AbstractObject" type="xplan:XP_FlaechengeometrieType"/>
  <complexType name="XP_FlaechengeometrieType">
    <choice>
      <element name="Flaeche" type="gml:SurfacePropertyType"/>
      <element name="MultiFlaeche" type="gml:MultiSurfacePropertyType"/>
    </choice>
  </complexType>
  <complexType name="XP_FlaechengeometriePropertyType">
    <sequence>
      <element ref="xplan:XP_Flaechengeometrie"/>
    </sequence>
  </complexType>
  <element name="XP_Gemeinde" substitutionGroup="gml:AbstractObject" type="xplan:XP_GemeindeType">
    <annotation>
      <documentation>Spezifikation einer Gemeinde</documentation>
    </annotation>
  </element>
  <complexType name="XP_GemeindeType">
    <sequence>
      <element minOccurs="0" name="ags" type="string">
        <annotation>
          <documentation>Amtlicher Gemeindsschlüssel (früher Gemeinde-Kennziffer)</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="rs" type="string">
        <annotation>
          <documentation>Regionalschlüssel</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="gemeindeName" type="string">
        <annotation>
          <documentation>Name der Gemeinde.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="ortsteilName" type="string">
        <annotation>
          <documentation>Name des Ortsteils</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="XP_GemeindePropertyType">
    <sequence>
      <element ref="xplan:XP_Gemeinde"/>
    </sequence>
  </complexType>
  <element abstract="true" name="XP_GenerAttribut" substitutionGroup="gml:AbstractObject" type="xplan:XP_GenerAttributType">
    <annotation>
      <documentation>Abstrakte Basisklasse für Generische Attribute.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_GenerAttributType">
    <sequence>
      <element name="name" type="string"/>
    </sequence>
  </complexType>
  <complexType name="XP_GenerAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_GenerAttribut"/>
    </sequence>
  </complexType>
  <element name="XP_Hoehenangabe" substitutionGroup="gml:AbstractObject" type="xplan:XP_HoehenangabeType">
    <annotation>
      <documentation>Spezifikation einer Angabe zur vertikalen Höhe oder zu einem Bereich vertikaler Höhen. Es ist möglich, spezifische Höhenangaben (z.B. die First- oder Traufhöhe eines Gebäudes) vorzugeben oder einzuschränken, oder den Gültigkeitsbereich eines Planinhalts auf eine bestimmte Höhe (&lt;i&gt;hZwingend&lt;/i&gt;) bzw. einen Höhenbereich (&lt;i&gt;hMin &lt;/i&gt;- &lt;i&gt;hMax&lt;/i&gt;) zu beschränken, was vor allem bei der höhenabhängigen Festsetzung einer überbaubaren Grundstücksfläche (&lt;i&gt;BP_UeberbaubareGrundstuecksflaeche&lt;/i&gt;), einer Baulinie (&lt;i&gt;BP_Baulinie&lt;/i&gt;) oder einer Baugrenze (&lt;i&gt;BP_Baugrenze&lt;/i&gt;) relevant ist. In diesem Fall bleibt das Attribut &lt;i&gt;bezugspunkt &lt;/i&gt;unbelegt.</documentation>
    </annotation>
  </element>
  <complexType name="XP_HoehenangabeType">
    <sequence>
      <element minOccurs="0" name="abweichenderHoehenbezug" type="string"/>
      <element minOccurs="0" name="hoehenbezug" type="xplan:XP_ArtHoehenbezugType">
        <annotation>
          <documentation>Art des Höhenbezuges.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="bezugspunkt" type="xplan:XP_ArtHoehenbezugspunktType">
        <annotation>
          <documentation>Bestimmung des Bezugspunktes der Höhenangaben. Wenn dies Attribut nicht belegt ist, soll die Höhenangabe als verikale Einschränkung des zugeordneten Planinhalts interpretiert werden.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="hMin" type="gml:LengthType">
        <annotation>
          <documentation>Minimal zulassige Höhe des Bezugspunktes (&lt;i&gt;bezugspunkt&lt;/i&gt;) bei einer Bereichsangabe, bzw. untere Grenze des vertikalen Gültigkeitsbereiches eines Planinhalts, wenn &lt;i&gt;bezugspunkt &lt;/i&gt;nicht belegt ist. In diesem Fall gilt: Ist  &lt;i&gt;hMax &lt;/i&gt;nicht belegt, gilt die Festlegung ab der Höhe &lt;i&gt;hMin&lt;/i&gt;.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="hMax" type="gml:LengthType">
        <annotation>
          <documentation>Maximal zulässige Höhe des Bezugspunktes (&lt;i&gt;bezugspunkt&lt;/i&gt;) bei einer Bereichsangabe, bzw. obere Grenze des vertikalen Gültigkeitsbereiches eines Planinhalts, wenn &lt;i&gt;bezugspunkt &lt;/i&gt;nicht belegt ist.  In diesem Fall gilt: Ist  &lt;i&gt;hMin &lt;/i&gt;nicht belegt, gilt die Festlegung bis zur Höhe &lt;i&gt;hMax&lt;/i&gt;.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="hZwingend" type="gml:LengthType">
        <annotation>
          <documentation>Zwingend einzuhaltende Höhe des Bezugspunktes (&lt;i&gt;bezugspunkt&lt;/i&gt;) , bzw. Beschränkung der vertikalen Gültigkeitsbereiches eines Planinhalts auf eine bestimmte Höhe.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="h" type="gml:LengthType">
        <annotation>
          <documentation>Maximal zulässige Höhe des Bezugspunktes (&lt;i&gt;bezugspunkt&lt;/i&gt;) .</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="XP_HoehenangabePropertyType">
    <sequence>
      <element ref="xplan:XP_Hoehenangabe"/>
    </sequence>
  </complexType>
  <element name="XP_IntegerAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_IntegerAttributType">
    <annotation>
      <documentation>Generische Attribute vom Datentyp "Integer".</documentation>
    </annotation>
  </element>
  <complexType name="XP_IntegerAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="XP_IntegerAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_IntegerAttribut"/>
    </sequence>
  </complexType>
  <element name="XP_Liniengeometrie" substitutionGroup="gml:AbstractObject" type="xplan:XP_LiniengeometrieType"/>
  <complexType name="XP_LiniengeometrieType">
    <choice>
      <element name="Linie" type="gml:CurvePropertyType"/>
      <element name="MultiLinie" type="gml:MultiCurvePropertyType"/>
    </choice>
  </complexType>
  <complexType name="XP_LiniengeometriePropertyType">
    <sequence>
      <element ref="xplan:XP_Liniengeometrie"/>
    </sequence>
  </complexType>
  <element abstract="true" name="XP_Objekt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_ObjektType">
    <annotation>
      <documentation>Abstrakte Oberklasse für alle XPlanGML-Fachobjekte. Die Attribute dieser Klasse werden über den Vererbungs-Mechanismus an alle Fachobjekte weitergegeben.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_ObjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="uuid" type="string">
            <annotation>
              <documentation>Eindeutiger Identifier des Objektes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="text" type="string">
            <annotation>
              <documentation>Beliebiger Text</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rechtsstand" type="xplan:XP_RechtsstandType">
            <annotation>
              <documentation>Gibt an ob der Planinhalt bereits besteht, geplant ist, oder zukünftig wegfallen soll.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gesetzlicheGrundlage" type="gml:CodeType">
            <annotation>
              <documentation>Angabe der gesetzlichen Grundlage des Planinhalts.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="textSchluessel" type="string">
            <annotation>
              <documentation>Abschnitts- oder Schlüsselnummer der Text-Abschnitte (XP_TextAbschnitt), die dem Objekt explizit zugeordnet sind.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="textSchluesselBegruendung" type="string">
            <annotation>
              <documentation>Abschnitts- oder Schlüsselnummer der Abschnitte der Begründung (XP_BegruendungAbschnitt), die dem Objekt explizit zugeordnet sind.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gliederung1" type="string">
            <annotation>
              <documentation>Kennung im Plan für eine erste Gliederungsebene (z.B. GE-E für ein "Eingeschränktes Gewerbegebiet")</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gliederung2" type="string">
            <annotation>
              <documentation>Kennung im Plan für eine zweite Gliederungsebene (z.B. GE-E 3 für die "Variante 3 eines eingeschränkten Gewerbegebiets")</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ebene" type="integer">
            <annotation>
              <documentation>Zuordnung des Objektes zu einer vertikalen Ebene. Der Standard-Ebene 0 sind Objekte auf der Erdoberfläche zugeordnet. Nur unter diesen Objekten wird der Flächenschluss hergestellt. Bei Plan-Objekten, die unterirdische Bereiche (z.B. Tunnel) modellieren, ist ebene &lt; 0. Bei "überirdischen" Objekten (z.B. Festsetzungen auf Brücken) ist ebene &gt; 0.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rechtsverbindlich" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf rechtsverbindliche Dokumente.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="informell" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf nicht-rechtsverbindliche Dokumente.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hatGenerAttribut" type="xplan:XP_GenerAttributPropertyType">
            <annotation>
              <documentation>Erweiterung des definierten Attributsatzes eines Objektes durch generische Attribute.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hoehenangabe" type="xplan:XP_HoehenangabePropertyType">
            <annotation>
              <documentation>Angaben zur vertikalen Lage eines Planinhalts.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="gehoertZuBereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:planinhalt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="wirdDargestelltDurch" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_AbstraktesPraesentationsobjekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:dientZurDarstellungVon</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refTextInhalt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_TextAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refBegruendungInhalt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_BegruendungAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="XP_Plan" substitutionGroup="gml:AbstractFeature" type="xplan:XP_PlanType">
    <annotation>
      <documentation>Abstrakte Oberklasse für alle Klassen von raumbezogenen Plänen..</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_PlanType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="string">
            <annotation>
              <documentation>Name des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nummer" type="string">
            <annotation>
              <documentation>Nummer des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="internalId" type="string">
            <annotation>
              <documentation>Interner Identifikator des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="beschreibung" type="string">
            <annotation>
              <documentation>Kommentierende Beschreibung des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kommentar" type="string">
            <annotation>
              <documentation>Beliebiger Kommentar zum Plan</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="technHerstellDatum" type="date">
            <annotation>
              <documentation>Datum, an dem der Plan technisch ausgefertigt wurde.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="genehmigungsDatum" type="date">
            <annotation>
              <documentation>Datum der Genehmigung des Plans</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="untergangsDatum" type="date">
            <annotation>
              <documentation>Datum, an dem der Plan (z.B. durch Ratsbeschluss oder Gerichtsurteil) aufgehoben oder für nichtig erklärt wurde.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="aendert" type="xplan:XP_VerbundenerPlanPropertyType">
            <annotation>
              <documentation>Bezeichnung eines anderen Planes, der durch den vorliegenden Plan geändert wird.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="wurdeGeaendertVon" type="xplan:XP_VerbundenerPlanPropertyType">
            <annotation>
              <documentation>Bezeichnung eines anderen Plans , durch den der vorliegende Plan geändert wurde.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="erstellungsMassstab" type="integer">
            <annotation>
              <documentation>Der bei der Erstellung des Plans benutzte Kartenmassstab.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bezugshoehe" type="gml:LengthType">
            <annotation>
              <documentation>Standard Bezugshöhe (absolut NhN) für relative Höhenangaben von Planinhalten.</documentation>
            </annotation>
          </element>
          <!--<element name="raeumlicherGeltungsbereich" type="xplan:XP_FlaechengeometriePropertyType">-->
          <!-- nach XPlan 4.1 XSD (nicht nach EA export)-->
          <element name="raeumlicherGeltungsbereich" minOccurs="0" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>Grenze des räumlichen Geltungsbereiches des Plans.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="verfahrensMerkmale" type="xplan:XP_VerfahrensMerkmalPropertyType">
            <annotation>
              <documentation>Vermerke der am Planungssverfahrens beteiligten Akteure.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="rechtsverbindlich" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf rechtsverbindliche Dokumente</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="informell" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf nicht-rechtsverbindliche Dokumente</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hatGenerAttribut" type="xplan:XP_GenerAttributPropertyType">
            <annotation>
              <documentation>Erweiterung der vorgegebenen Attribute durch generische Attribute.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refBeschreibung" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die Beschreibung des Plans.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refBegruendung" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die Begründung des Plans.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refExternalCodeList" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein GML-Dictionary mit Codelists.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refLegende" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf die Legende des Plans.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refRechtsplan" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf eine elektronische Version des rechtsverbindlichen Plans.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refPlangrundlage" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf eine elektronische Version der Plangrundlage, z.B. ein Katasterplan.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="texte" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_TextAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="begruendungsTexte" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_BegruendungAbschnitt</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="XP_Plangeber" substitutionGroup="gml:AbstractObject" type="xplan:XP_PlangeberType">
    <annotation>
      <documentation>Spezifikation der Institution, die für den Plan verantwortlich ist.</documentation>
    </annotation>
  </element>
  <complexType name="XP_PlangeberType">
    <sequence>
      <element name="name" type="string">
        <annotation>
          <documentation>Name des Plangebers.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="kennziffer" type="string">
        <annotation>
          <documentation>Kennziffer des Plangebers.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="XP_PlangeberPropertyType">
    <sequence>
      <element ref="xplan:XP_Plangeber"/>
    </sequence>
  </complexType>
  <element name="XP_Punktgeometrie" substitutionGroup="gml:AbstractObject" type="xplan:XP_PunktgeometrieType"/>
  <complexType name="XP_PunktgeometrieType">
    <choice>
      <element name="Punkt" type="gml:PointPropertyType"/>
      <element name="MultiPunkt" type="gml:MultiPointPropertyType"/>
    </choice>
  </complexType>
  <complexType name="XP_PunktgeometriePropertyType">
    <sequence>
      <element ref="xplan:XP_Punktgeometrie"/>
    </sequence>
  </complexType>
  <simpleType name="XP_RechtscharakterPlanaenderungType">
    <annotation>
      <documentation>Rechtscharakter einer Planänderung</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Änderung des Plans</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1100">
        <annotation>
          <documentation>Ergänzung eines Plans</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Aufhebung des Plans</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="XP_RechtsstandType">
    <annotation>
      <documentation>Aufzählung der Planungszustände eines Planinhalts.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000">
        <annotation>
          <documentation>Der Planinhalt bezieht sich auf eine Planung</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2000">
        <annotation>
          <documentation>Der Planinhalt stellt den aktuellen Zustand dar.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3000">
        <annotation>
          <documentation>Der Planinhalt beschreibt einen zukünftig fortfallenden Zustand.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_SPEMassnahmenDaten" substitutionGroup="gml:AbstractObject" type="xplan:XP_SPEMassnahmenDatenType">
    <annotation>
      <documentation>Spezifikation der Attribute für einer Schutz-, Pflege- oder Entwicklungsmaßnahme.</documentation>
    </annotation>
  </element>
  <complexType name="XP_SPEMassnahmenDatenType">
    <sequence>
      <element minOccurs="0" name="klassifizMassnahme" type="xplan:XP_SPEMassnahmenTypenType">
        <annotation>
          <documentation>Klassifikation der Maßnahme</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="massnahmeText" type="string">
        <annotation>
          <documentation>Durchzuführende Maßnahme als freier Text.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="massnahmeKuerzel" type="string">
        <annotation>
          <documentation>Kürzel der durchzuführenden Maßnahme.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="XP_SPEMassnahmenDatenPropertyType">
    <sequence>
      <element ref="xplan:XP_SPEMassnahmenDaten"/>
    </sequence>
  </complexType>
  <simpleType name="XP_SPEMassnahmenTypenType">
    <annotation>
      <documentation>Aufzählung der Typen von Ausgleichs- und Ersatzmaßnahmen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="1100"/>
      <enumeration value="1200"/>
      <enumeration value="1300"/>
      <enumeration value="1400"/>
      <enumeration value="1500"/>
      <enumeration value="1600"/>
      <enumeration value="1700"/>
      <enumeration value="1800"/>
      <enumeration value="1900"/>
      <enumeration value="2000"/>
      <enumeration value="2100"/>
      <enumeration value="2200"/>
      <enumeration value="2300"/>
      <enumeration value="9999"/>
    </restriction>
  </simpleType>
  <element name="XP_StringAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_StringAttributType">
    <annotation>
      <documentation>Generisches Attribut vom Datentyp "CharacterString"</documentation>
    </annotation>
  </element>
  <complexType name="XP_StringAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="XP_StringAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_StringAttribut"/>
    </sequence>
  </complexType>
  <element name="XP_TextAbschnitt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_TextAbschnittType">
    <annotation>
      <documentation>Ein Abschnitt der textlich formulierten Inhalte  des Plans.</documentation>
    </annotation>
  </element>
  <complexType name="XP_TextAbschnittType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="schluessel" type="string">
            <annotation>
              <documentation>Schlüssel zur Referenzierung des Abschnitts.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gesetzlicheGrundlage" type="string">
            <annotation>
              <documentation>Gesetzliche Grundlage des Text-Abschnittes</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="text" type="string">
            <annotation>
              <documentation>Inhalt eines Abschnitts der textlichen Planinhalte</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="refText" type="xplan:XP_ExterneReferenzPropertyType">
            <annotation>
              <documentation>Referenz auf ein externes Dokument das den zug Textabschnitt enthält.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="XP_URLAttribut" substitutionGroup="xplan:XP_GenerAttribut" type="xplan:XP_URLAttributType">
    <annotation>
      <documentation>Generische Attribute vom Datentyp "URL"</documentation>
    </annotation>
  </element>
  <complexType name="XP_URLAttributType">
    <complexContent>
      <extension base="xplan:XP_GenerAttributType">
        <sequence>
          <element name="wert" type="anyURI"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="XP_URLAttributPropertyType">
    <sequence>
      <element ref="xplan:XP_URLAttribut"/>
    </sequence>
  </complexType>
  <element name="XP_VariableGeometrie" substitutionGroup="gml:AbstractObject" type="xplan:XP_VariableGeometrieType">
    <annotation>
      <documentation>Geometrische Basisklasse, die wahlweise als Punkt, Linie oder Fläche instanziiert werden kann.</documentation>
    </annotation>
  </element>
  <complexType name="XP_VariableGeometrieType">
    <choice>
      <element name="Punkt" type="gml:PointPropertyType"/>
      <element name="MultiPunkt" type="gml:MultiPointPropertyType"/>
      <element name="Linie" type="gml:CurvePropertyType"/>
      <element name="MultiLinie" type="gml:MultiCurvePropertyType"/>
      <element name="Flaeche" type="gml:SurfacePropertyType"/>
      <element name="MultiFlaeche" type="gml:MultiSurfacePropertyType"/>
    </choice>
  </complexType>
  <complexType name="XP_VariableGeometriePropertyType">
    <sequence>
      <element ref="xplan:XP_VariableGeometrie"/>
    </sequence>
  </complexType>
  <element name="XP_VerbundenerPlan" substitutionGroup="gml:AbstractObject" type="xplan:XP_VerbundenerPlanType">
    <annotation>
      <documentation>Spezifikation eines anderen Plans, der mit dem Ausgangsplan verbunden ist und diesen ändert bzw. von ihm geändert wird.</documentation>
    </annotation>
  </element>
  <complexType name="XP_VerbundenerPlanType">
    <sequence>
      <element name="planName" type="string">
        <annotation>
          <documentation>Name (Attribut name von XP_Plan) des verbundenen Plans.</documentation>
        </annotation>
      </element>
      <element name="rechtscharakter" type="xplan:XP_RechtscharakterPlanaenderungType">
        <annotation>
          <documentation>Rechtscharakter der Planänderung.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="nummer" type="string">
        <annotation>
          <documentation>Nummer des verbundenen Plans</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="XP_VerbundenerPlanPropertyType">
    <sequence>
      <element ref="xplan:XP_VerbundenerPlan"/>
    </sequence>
  </complexType>
  <element name="XP_VerfahrensMerkmal" substitutionGroup="gml:AbstractObject" type="xplan:XP_VerfahrensMerkmalType">
    <annotation>
      <documentation>Vermerk eines am Planungsverfahrens beteiligten Akteurs.</documentation>
    </annotation>
  </element>
  <complexType name="XP_VerfahrensMerkmalType">
    <sequence>
      <element name="vermerk" type="string">
        <annotation>
          <documentation>Inhat des Vermerks</documentation>
        </annotation>
      </element>
      <element name="datum" type="date">
        <annotation>
          <documentation>Datum des Vermerks</documentation>
        </annotation>
      </element>
      <element name="signatur" type="string">
        <annotation>
          <documentation>Unterschrift</documentation>
        </annotation>
      </element>
      <element name="signiert" type="boolean">
        <annotation>
          <documentation>Angabe, ob die Unterschrift erfolgt ist.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="XP_VerfahrensMerkmalPropertyType">
    <sequence>
      <element ref="xplan:XP_VerfahrensMerkmal"/>
    </sequence>
  </complexType>
</schema>
