model/xplangml/raumordnungsmodell/XP_Praesentationsobjekte.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xplan="http://www.xplan-raumordnung.de/model/xplangml/raumordnungsmodell" elementFormDefault="qualified">
  <annotation>
    <documentation>Das Paket Praesentationsobjekte modelliert Klassen, die lediglich der graphischen Ausgestaltung eines Plans dienen und selbst keine eigentlichen Plan-Inhalte repräsentieren. Die entsprechenden Fachobjekte können unmittelbar instanziiert werden.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="XP_AbstraktesPraesentationsobjekt" substitutionGroup="gml:AbstractFeature" type="xplan:XP_AbstraktesPraesentationsobjektType">
    <annotation>
      <documentation>Abstrakte Basisklasse für alle Präsentationsobjekte. Die Attribute entsprechen dem ALKIS-Objekt AP_GPO, wobei das Attribut "signaturnummer" in stylesheetId umbenannt wurde. Bei freien Präsentationsobjekten ist die Relation "dientZurDarstellungVon" unbelegt, bei gebundenen Präsentationsobjekten zeigt die Relation auf ein von XP_Objekt abgeleitetes Fachobjekt.
Freie Präsentationsobjekte dürfen ausschließlich zur graphischen Annotation eines Plans verwendet werden
Gebundene Präsentationsobjekte mit Raumbezug dienen ausschließlich dazu, Attributwerte des verbundenen Fachobjekts im Plan darzustellen. Die Namen der darzustellenden Fachobjekt-Attribute werden über das Attribut "art" spezifiziert.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_AbstraktesPraesentationsobjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="stylesheetId" type="gml:CodeType">
            <annotation>
              <documentation>Das Attribut "stylesheetId" zeigt auf ein extern definierte Stylesheet, das Parameter zur Visualisierung von Flächen, Linien, Punkten und Texten enthält. Jedem Stylesheet ist weiterhin eine Darstellungspriorität zugeordnet.  Ausserdem kann ein Stylesheet logische Elemente enthalten,  die die Visualisierung abhängig machen vom Wert des durch "art" definierten Attributes des Fachobjektes, das durch die Relation "dientZurDarstellungVon" referiert wird.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="darstellungsprioritaet" type="integer">
            <annotation>
              <documentation>Enthält die Darstellungspriorität für Elemente der Signatur. Eine vom Standardwert abweichende Priorität wird über dieses Attribut definiert und nicht über eine neue Signatur.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="art" type="string">
            <annotation>
              <documentation>'Art' gibt die Namen der Attribute an, die mit dem Präsentationsobjekt dargestellt werden sollen. 

Die Attributart 'Art' darf nur bei "Freien Präsentationsobjekten (dientZurDarstellungVon = NULL) nicht belegt sein.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="index" type="integer">
            <annotation>
              <documentation>Wenn das Attribut art des Fachobjektes mehrfach belegt ist gibt index an, auf welche Instanz des Attributs sich das Präsentationsobjekt bezieht.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gehoertZuBereich" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_Bereich</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:praesentationsobjekt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dientZurDarstellungVon" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_Objekt</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">:wirdDargestelltDurch</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="XP_FPO" substitutionGroup=":XP_AbstraktesPraesentationsobjekt" type="xplan:XP_FPOType">
    <annotation>
      <documentation>Flächenförmiges Präsentationsobjekt. Entspricht der ALKIS Objektklasse AP_FPO.</documentation>
    </annotation>
  </element>
  <complexType name="XP_FPOType">
    <complexContent>
      <extension base=":XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element name="position" type="xplan:XP_FlaechengeometriePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="XP_HorizontaleAusrichtungType">
    <annotation>
      <documentation>Enumeration der definierten horizontalen Fontausrichtungen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="linksbündig">
        <annotation>
          <documentation>Text linksbündig am Textpunkt bzw. am ersten Punkt der Linie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rechtsbündig">
        <annotation>
          <documentation>Text rechtsbündig am Textpunkt bzw. am letzten Punkt der Linie.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="zentrisch">
        <annotation>
          <documentation>Text zentriert am Textpunkt bzw. in der Mitte der Textstandlinie.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="XP_LPO" substitutionGroup=":XP_AbstraktesPraesentationsobjekt" type="xplan:XP_LPOType">
    <annotation>
      <documentation>Linienförmiges Präsentationsobjekt Entspricht der ALKIS Objektklasse AP_LPO.</documentation>
    </annotation>
  </element>
  <complexType name="XP_LPOType">
    <complexContent>
      <extension base=":XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element name="position" type="xplan:XP_LiniengeometriePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="XP_LTO" substitutionGroup=":XP_TPO" type="xplan:XP_LTOType">
    <annotation>
      <documentation>Textförmiges Präsentationsobjekt mit linienförmiger Textgeometrie. Entspricht der ALKIS-Objektklasse AP_LTO.</documentation>
    </annotation>
  </element>
  <complexType name="XP_LTOType">
    <complexContent>
      <extension base=":XP_TPOType">
        <sequence>
          <element name="position" type="xplan:XP_LiniengeometriePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="XP_PPO" substitutionGroup=":XP_AbstraktesPraesentationsobjekt" type="xplan:XP_PPOType">
    <annotation>
      <documentation>Punktförmiges Präsentationsobjekt. Entspricht der ALKIS-Objektklasse AP_PPO.</documentation>
    </annotation>
  </element>
  <complexType name="XP_PPOType">
    <complexContent>
      <extension base=":XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element name="position" type="xplan:XP_PunktgeometriePropertyType"/>
          <element minOccurs="0" name="drehwinkel" type="gml:AngleType">
            <annotation>
              <documentation>Winkel um den der Text oder die Signatur mit punktförmiger Bezugsgeometrie aus der Horizontalen gedreht ist. Angabe im Bogenmaß; Zählweise im mathematisch positiven Sinn (von Ost über Nord nach West und Süd).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skalierung" type="double">
            <annotation>
              <documentation>Skalierungsfaktor für Symbole.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_LPO</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="XP_PTO" substitutionGroup=":XP_TPO" type="xplan:XP_PTOType">
    <annotation>
      <documentation>Textförmiges Präsentationsobjekt mit punktförmiger Festlegung der Textposition. Entspricht der ALKIS-Objektklasse AP_PTO.</documentation>
    </annotation>
  </element>
  <complexType name="XP_PTOType">
    <complexContent>
      <extension base=":XP_TPOType">
        <sequence>
          <element name="position" type="xplan:XP_PunktgeometriePropertyType"/>
          <element minOccurs="0" name="drehwinkel" type="gml:AngleType">
            <annotation>
              <documentation>Winkel um den der Text oder die Signatur mit punktförmiger Bezugsgeometrie aus der Horizontalen gedreht ist. Angabe im Bogenmaß; Zählweise im mathematisch positiven Sinn (von Ost über Nord nach West und Süd).</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="XP_Praesentationsobjekt" substitutionGroup=":XP_AbstraktesPraesentationsobjekt" type="xplan:XP_PraesentationsobjektType">
    <annotation>
      <documentation>Entspricht der ALKIS-Objektklasse AP_Darstellung mit dem Unterschied, dass auf das Attribut "positionierungssregel" verzichtet wurde.  Die Klasse darf nur als gebundenes Präsentationsobjekt verwendet werden. Die Standard-Darstellung des verbundenen Fachobjekts wird dann durch die über stylesheetId spezifizierte Darstellung ersetzt. Die Umsetzung dieses Konzeptes ist der Implementierung überlassen.</documentation>
    </annotation>
  </element>
  <complexType name="XP_PraesentationsobjektType">
    <complexContent>
      <extension base=":XP_AbstraktesPraesentationsobjektType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="XP_TPO" substitutionGroup=":XP_AbstraktesPraesentationsobjekt" type="xplan:XP_TPOType">
    <annotation>
      <documentation>Abstrakte Oberklasse für textliche Präsentationsobjekte. Entspricht der ALKIS Objektklasse AP_TPO</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="XP_TPOType">
    <complexContent>
      <extension base=":XP_AbstraktesPraesentationsobjektType">
        <sequence>
          <element minOccurs="0" name="schriftinhalt" type="string">
            <annotation>
              <documentation>Schriftinhalt; enthält die darzustellenden Zeichen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fontSperrung" type="double">
            <annotation>
              <documentation>Die Zeichensperrung steuert den zusätzlichen Raum, der zwischen 2 aufeinanderfolgende Zeichenkörper geschoben wird. Er ist ein Faktor, der mit der angegebenen Zeichenhöhe mulitpliziert wird, um den einzufügenden Zusatzabstand zu erhalten. Mit der Abhängigkeit von der Zeichenhöhe wird erreicht, dass das Schriftbild unabhängig von der Zeichenhöhe gleich wirkt. Der Defaultwert ist 0.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="skalierung" type="double">
            <annotation>
              <documentation>Skalierungsfaktor für die Schriftgröße (fontGroesse * skalierung).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="horizontaleAusrichtung" type="xplan:XP_HorizontaleAusrichtungType">
            <annotation>
              <documentation>Gibt die Ausrichtung des Textes bezüglich der Textgeometrie an.
linksbündig : Der Text beginnt an der Punktgeometrie bzw. am Anfangspunkt der Liniengeometrie.
rechtsbündig: Der Text endet an der Punktgeometrie bzw. am Endpunkt der Liniengeometrie
zentrisch: Der Text erstreckt sich von der Punktgeometrie gleich weit nach links und rechts bzw. steht auf der Mitte der Standlinie.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vertikaleAusrichtung" type="xplan:XP_VertikaleAusrichtungType">
            <annotation>
              <documentation>Die vertikale Ausrichtung eines Textes gibt an, ob die Bezugsgeometrie die Basis (Grundlinie) des Textes, die Mitte oder obere Buchstabenbegrenzung betrifft.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hat" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">:XP_LPO</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <simpleType name="XP_VertikaleAusrichtungType">
    <annotation>
      <documentation>Enumeration der definierten vertikalen Fontausrichtungen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Basis">
        <annotation>
          <documentation>Textgeometrie bezieht sich auf die Basis- bzw. Grundlinie der Buchstaben.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Mitte">
        <annotation>
          <documentation>Textgeometrie bezieht sich auf die Mittellinie der Buchstaben.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Oben">
        <annotation>
          <documentation>Textgeometrie bezieht sich auf die Oberlinie der Großbuchstaben.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
